@using Purchasing.Core.Domain
@model EmailPreferences
<section class="ui-corner-all display-form box-shadow">
    <header class="ui-corner-top ui-widget-header">Account Manager</header>

    <div class="section-contents">

        <ul>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AccountManagerPurchaserProcessed)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AccountManagerPurchaserProcessed)
                    @Html.ValidationMessageFor(model => model.AccountManagerPurchaserProcessed)
                </div>
            </li>
@*            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AccountManagerKualiApproved)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AccountManagerKualiApproved)
                    @Html.ValidationMessageFor(model => model.AccountManagerKualiApproved)
                </div>
            </li>*@
@*            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AccountManagerOrderCompleted)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AccountManagerOrderCompleted)
                    @Html.ValidationMessageFor(model => model.AccountManagerOrderCompleted)
                </div>
            </li>*@
            <li>
                <div class="editor-label">@Html.LabelFor(model => model.AccountManagerOrderArrive)</div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AccountManagerOrderArrive)
                    @Html.ValidationMessageFor(model => model.AccountManagerOrderArrive)
                </div>
            </li>
        </ul>

    </div>
</section>
