@using Purchasing.Core.Domain
@model Purchasing.Core.Domain.EmailPreferences
@{
    ViewBag.Title = "Email Preferences";
}
@section SubNav
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to Profile", "Profile")</li>
    </ul>
}

@section AdditionalScripts{

    <style>
    
        /* override the default width */
        form section div.editor-label {width: 200px;}
    
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.Partial("_RequesterPreferences")
        
        @Html.Partial("_ApproverPreferences")
        
        @Html.Partial("_AccountManagerPreferences")

        @Html.Partial("_PurchaserPreferences")

        <section>
    
        <div class="section-contents">
            <ul>
                @Html.HiddenFor(model => model.Id)
            
                <li>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NotificationType)
                    </div>
                    <div class="editor-field">
                        @this.Select("NotificationType").Options(Enum.GetNames(typeof(EmailPreferences.NotificationTypes)).ToList()).Selected(Model.NotificationType.ToString())
                        @Html.ValidationMessageFor(model => model.NotificationType)
                    </div>
                </li>

                <li>@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
                    <div class="editor-label">
                        &nbsp;</div>
                    <div class="editor-field">
                        <input class="button" type="submit" value="Edit" />
                        | @Html.ActionLink("Cancel", "Profile")
                    </div>
                </li>
            </ul>
        </div>

        </section>
} 