@using Purchasing.Core.Domain
@model Purchasing.Core.Domain.EmailPreferences
@{
    ViewBag.Title = "EmailPreferences";

}
@section SubNav
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to Profile", "Profile")</li>
    </ul>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        @* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
Example: Dinosaur 1  *@ <legend>EmailPreferences</legend>
        
        @Html.Partial("_RequesterPreferences")
        
        @Html.Partial("_ApproverPreferences")
        
        @Html.Partial("_AccountManagerPreferences")

        @Html.Partial("_PurchaserPreferences")

        <ul>
            @Html.HiddenFor(model => model.Id)
            
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.NotificationType)
                </div>
                <div class="editor-field">
                    @this.Select("NotificationType").Options(Enum.GetNames(typeof(EmailPreferences.NotificationTypes)).ToList()).Selected(Model.NotificationType.ToString())
                    @Html.ValidationMessageFor(model => model.NotificationType)
                </div>
            </li>

            <li>@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
                <div class="editor-label">
                    &nbsp;</div>
                <div class="editor-field">
                    <input class="button" type="submit" value="Edit" />
                    | @Html.ActionLink("Cancel", "Profile")
                </div>
            </li>
        </ul>
    </fieldset>
} 