@using Purchasing.Web.Controllers
@model OrderMockupController.OrderModifyModel

<section id="order-restricted-section" class="padded">
    <header class="ui-widget-header ui-corner-top">
            <div class="col1">Restricted Order?</div>
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
        </div>

        <ul>
            <li>
                <div class="editor-label">Controlled?</div>
                <div class="editor-field">
                    @this.CheckBox("restricted.status").Id("order-restricted-checkbox").Checked(Model.Order.HasControlledSubstance).LabelAfter(" Check this box if the order contains a controlled substance")
                    @*<input type="checkbox" id="order-restricted-checkbox" name="restricted.status" /> <label for="order-restricted-checkbox">Check this box if the order contains a controlled substance</label>*@
                </div>
            </li>
        </ul>
                        
        <ul id="order-restricted-fields" style="@(Model.Order.HasControlledSubstance ? string.Empty : "display:none;")" >
            <li>
                <div class="editor-label">RUA Number</div>
                <div class="editor-field">
                    <input name="restricted.rua" type="text" placeholder="RUA #" title="Radioactive Use Authorization Number" value="@Model.ControlledSubstanceInformation.AuthorizationNum"/>
                </div>
            </li>
            <li>
                <div class="editor-label">Class/Schedule</div>
                <div class="editor-field">
                    <input name="restricted.class" type="text" placeholder="Class/Schedule" value="@Model.ControlledSubstanceInformation.ClassSchedule"/>
                </div>
            </li>
            <li>
                <div class="editor-label">How it is used?</div>
                <div class="editor-field">
                    <input name="restricted.use" type="text" placeholder="How it is used" value="@Model.ControlledSubstanceInformation.Use"/>
                </div>
            </li>
            <li>
                <div class="editor-label">Storage Site</div>
                <div class="editor-field">
                    <input name="restricted.storageSite" type="text" placeholder="Storage Site" title="Approved storage site on record" value="@Model.ControlledSubstanceInformation.StorageSite"/>
                </div>
            </li>
            <li>
                <div class="editor-label">Custodian</div>
                <div class="editor-field">
                    <input name="restricted.custodian" type="text" placeholder="Custodian" value="@Model.ControlledSubstanceInformation.Custodian"/>
                </div>
            </li>
            <li>
                <div class="editor-label">Authorized User(s)</div>
                <div class="editor-field">
                    <input name="restricted.users" type="text" placeholder="Authorized User(s)" title="Enter authorized users here. Multiple names should be separated with a comma." value="@Model.ControlledSubstanceInformation.EndUser"/>
                </div>
            </li>
        </ul>
    </div>
</section>