@model Purchasing.Web.Controllers.OrderMockupController.OrderEditModel

@{
    ViewBag.Title = "Request";
}

@section AdditionalScripts{
    <link href="@Url.Css("fileuploader/fileuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Css("jquery.qtip.min.css")" rel="stylesheet" type="text/css" />
    <style>
        .help
        {
            font-style: italic;
            margin-bottom: 1em;
        }
        .line-item-row
        {
            background-color: #D5DBE1;
        }
        .sub-line-item
        {
            border-spacing: 0;
            border: 0;
            background-color:#F2EBCC;
        }
        .sub-line-item-split
        {
            border-spacing: 0;
            border: 0;
            background-color:#B2C9C5;
        }
        
        #order-splits > li { background-color: #B2C9C5; margin:1em; padding:2em;}
        
        form input[type='text'].quantity { min-width: 0; width: 40px;}
        form select.unit { min-width: 80px; width: 40px;}
        form input[type='text'].catalog-num { min-width: 0; width: 100px;}
        form input[type='text'].description { min-width: 0; width: 520px;}
        form input[type='text'].price,#shipping, #tax,#freight  { min-width: 0; width: 40px;}
        
        form select.account-subaccount, form select.account-number {min-width: 130px; width: 130px;}
        form input.account-projectcode {min-width: 80px; width: 80px;}

        .account-container, .account-split-amounts {display: inline-block;}
        .account-container {margin-right: 80px;}

        #accounts-search-dialog header { display: inline-block; width: 100%; border-bottom: 1px solid #DDDDDD; padding-bottom: 3px;}
        #accounts-search-dialog section { padding: 1em; }
        #accounts-search-dialog select, #accounts-search-dialog input[type='text'] {padding: .5em;}

        #accounts-search-dialog-results .selected {background-color: lightblue;}
        
        #search-vendor-dialog input[type='text'], #search-vendor-dialog select {padding: .5em; min-width: 300px; width: 300px;}
        #search-vendor-dialog section {padding: 1em; margin: 10px 0;}

        #add-line-item {}
        .invisible { display:none; }
        
        .line-item-details, .line-item-splits {display: none;}
        
        .invalid-number-warning
        {
            background-color: #FFDCDC;
        }
        
        td {text-align: left;}        
        
        .qq-upload-button
        {
             -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; 
             -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px;
             -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
             -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
        }
        
    </style>
    @*<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>*@
    <script src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script src="@Url.Script("OrderMockup.js")"></script>
    <script src="@Url.Script("OrderMockupEdit.js")"></script>
    <script src="@Url.Script("fileuploader.js")"></script>
    <script src="@Url.Script("jquery.qtip.min.js")"></script>
    <script type="text/javascript">

        purchasing.options({ 
                AddVendorUrl: "@Url.Action("AddVendor")", 
                AddAddressUrl: "@Url.Action("AddAddress")", 
                UploadUrl: '@Url.Action("UploadFile")',
                KfsSearchUrl: '@Url.Action("SearchKfsAccounts", "Accounts")',
                KfsSearchSubAccountsUrl: '@Url.Action("SearchSubAccounts", "Accounts")',
                AddKfsVendorUrl: '@Url.Action("AddKfsVendor", "WorkgroupVendor")',
                SearchVendorUrl: '@Url.Action("SearchVendor", "WorkgroupVendor")',
                SearchVendorAddressUrl: '@Url.Action("SearchVendorAddress", "WorkgroupVendor")',
                SearchCommodityCodeUrl: '@Url.Action("SearchCommodityCodes")',
                GetLineItemsAndSplitsUrl: '@Url.Action("GetLineItemsAndSplits", new { id = Model.Order.Id })'
            });

        $(function () {
            
            purchasing.init(); //Init all base order form js

            purchasing.initEdit(); //Add in the edit functionality
            
        });

    </script>
}

@using (Html.BeginForm())
{
    @Html.Hidden("splitType", "None")
    <section>
        <header>Justification</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                        <textarea name="justification" placeholder="Enter your justification for this order" rows="4" cols="50">@Model.Order.Justification</textarea>
                    </div>
                </li>
            </ul>

        </div>
    </section>
    
    <section>
        <header>Vendor</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                        @this.Select("vendor").Options(Model.Vendors, x=>x.Id, x=>x.Name).Selected(Model.Order.Vendor.Id).Class("required")
                        <span class="field-validation-valid" data-valmsg-for="vendor" data-valmsg-replace="true"></span>
                        (or)
                        <a id="add-vendor" class="button" href="#">Add new vendor</a>
                        (or)
                        <a id="search-vendor" class="button" href="#">Search Vendor</a>
                    </div>
                </li>
            </ul>

        </div>
    </section>
    
    <section>
        <header>Shipping Address</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

        </div>

        <ul>
        
            <li><div class="editor-label">Deliver To:</div>
                <div class="editor-field"><input name="shipTo" type="text" title="Specify to whom the delivery should be sent." placeholder="Delivery Name" value="@Model.Order.DeliverTo"/></div>
            </li>

            <li><div class="editor-label">Email:</div>
                <div class="editor-field"><input name="shipEmail" type="email" placeholder="Delivery Email" value="@Model.Order.DeliverToEmail"/></div>
            </li>

            <li><div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    @this.Select("shipAddress").Options(Model.Addresses, x=>x.Id,x=>x.Name).Class("required").Selected(Model.Order.Address.Id)
                    <span class="field-validation-valid" data-valmsg-for="shipAddress" data-valmsg-replace="true"></span>
                    (or)
                    <a id="add-address" class="button" href="#">Add new Shipping Address</a>    
                </div>
            </li>

        </ul>
        
    </section>
    
    <section id="line-items-section" class="padded">
        <header>@*<span style="float:left;">Line Items</span> </div>*@
                <div class="col1">Line Items</div>
                <div class="col2"><a href="#" id="add-line-item" class="button" style="float:right;" >Add New Item</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            
            <table id="line-items">
                <thead>
                    <tr>
                        <th width="50px">Quantity</th>
                        <th>Unit</th>
                        <th>Catalog #</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody id="line-items-body">
                </tbody>
                <tfoot>  
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Subtotal:
                        </td>
                        <td style="text-align: left;">
                            <em><span id="subtotal">$12.99</span></em>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Shipping Amount:
                        </td>
                        <td>
                            <span><input id="shipping" name="shipping" type="text" value="$@Model.Order.ShippingAmount" title="Shipping costs are taxable"/></span>
                        </td>
                        <td></td>
                    </tr>                    
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Freight:
                        </td>
                        <td>
                            <span><input id="freight" name="freight" type="text" value="$0.00" title="Freight will not be taxed"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Tax:
                        </td>
                        <td>
                            <span><input id="tax" name="tax" type="text" value="@Model.Order.EstimatedTax%"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Grand Total:
                        </td>
                        <td style="text-align: left;">
                            <strong><span id="grandtotal">$17.04</span></strong>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
                
        <footer>
            <div class="col1"></div>
            <div class="col2"><a href="#" id="cancel-split-by-line" class="button" style="float:right; display:none;">Cancel Split By Line</a><a href="#" id="split-by-line" class="button" style="float:right;" >Split By Line</a><div style="clear:both;"></div></div>
        </footer>
    </section>

    <section id="order-account-section">
        <header>Order Details</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <div>
                <ul>
                    <li>
					    <div class="editor-label">
						    Select An Account:
					    </div>
					    <div class="editor-field">
                            <div class="account-container">
                                @this.Select("Account").Options(Model.Accounts, "Id", "Id").FirstOption("--Account--").Class("account-number")
                                <select name="SubAccount" class="account-subaccount" disabled="disabled"><option value>--Sub Account--</option></select>
                                <input name="Project" type="text" placeholder="Project" class="account-projectcode" maxlength="4"/>
                                <img src="@Url.Image("details.png")" class="search-account"/>
                            </div>
					    </div>
				    </li>				
                    <li>
					    <div class="editor-label">
						    (or)
					    </div>
				    </li>
                    <li><div class="editor-label">Split Order:</div>
                        <div class="editor-field">
                            <a id="split-order" class="button" href="#">Split Order Request</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    
    <section id="order-split-section" class="padded" style="display: none;">
        <header>
                <div class="col1">Order Account Splits</div>
                <div class="col2"><a href="#" id="add-order-split" class="button" style="float:right;" >Add Split</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul id="order-splits"></ul>
            <ul>
                <li>
                    <div class="editor-label">Split Total</div>
                    <div class="editor-field">
                        <span id="order-split-account-total">$0.00</span>
                        &nbsp;&nbsp;<span id="order-split-account-difference" class="amount-difference"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Order Total</div>
                    <div class="editor-field">
                        <span id="order-split-total">$100.50</span>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            <div class="col1"></div>
            <div class="col2"><a href="#" id="cancel-order-split" class="button" style="float:right;" >Cancel Order Split</a><div style="clear:both;"></div></div>
        </footer>
    </section>
    
    <section id="order-restricted-section" class="padded">
        <header>
                <div class="col1">Restricted Order?</div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">Controlled?</div>
                    <div class="editor-field">
                        @this.CheckBox("restricted.status").Id("order-restricted-checkbox").Checked(Model.Order.HasControlledSubstance).LabelAfter(" Check this box if the order contains a controlled substance")
                        @*<input type="checkbox" id="order-restricted-checkbox" name="restricted.status" /> <label for="order-restricted-checkbox">Check this box if the order contains a controlled substance</label>*@
                    </div>
                </li>
            </ul>
                        
            <ul id="order-restricted-fields" style="@(Model.Order.HasControlledSubstance ? string.Empty : "display:none;")" >
                <li>
                    <div class="editor-label">RUA Number</div>
                    <div class="editor-field">
                        <input name="restricted.rua" type="text" placeholder="RUA #" title="Radioactive Use Authorization Number" value="@Model.ControlledSubstanceInformation.AuthorizationNum"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Class/Schedule</div>
                    <div class="editor-field">
                        <input name="restricted.class" type="text" placeholder="Class/Schedule" value="@Model.ControlledSubstanceInformation.ClassSchedule"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">How it is used?</div>
                    <div class="editor-field">
                        <input name="restricted.use" type="text" placeholder="How it is used" value="@Model.ControlledSubstanceInformation.Use"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Storage Site</div>
                    <div class="editor-field">
                        <input name="restricted.storageSite" type="text" placeholder="Storage Site" title="Approved storage site on record" value="@Model.ControlledSubstanceInformation.StorageSite"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Custodian</div>
                    <div class="editor-field">
                        <input name="restricted.custodian" type="text" placeholder="Custodian" value="@Model.ControlledSubstanceInformation.Custodian"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Authorized User(s)</div>
                    <div class="editor-field">
                        <input name="restricted.users" type="text" placeholder="Authorized User(s)" title="Enter authorized users here. Multiple names should be separated with a comma." value="@Model.ControlledSubstanceInformation.EndUser"/>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
    <section>
        <header>Order Preferences</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

        <ul>
            <li>
			    <div class="editor-label">
				    <label>Date Needed:</label>
			    </div>
			    <div class="editor-field">
                    <input name="dateNeeded" type="text" class="datepicker" title="Optionally specify a date when the delivery needs to arrive by." value="@(Model.Order.DateNeeded.HasValue ? Model.Order.DateNeeded.Value.ToShortDateString() : string.Empty)" />
			    </div>
		    </li>
            <li>
                <div class="editor-label">
				    <label>Shipping Type:</label>
			    </div>
			    <div class="editor-field">
                    @this.Select("shippingType").Selected("ST").Options(Model.ShippingTypes, x=>x.Id, x=>x.Name).Selected(Model.Order.ShippingType.Id)
			    </div>
            </li>
            <li>
			    <div class="editor-label">
				    <label>Allow Backorder?</label>
			    </div>
			    <div class="editor-field">
                    @this.CheckBox("backorder").Checked(Model.Order.AllowBackorder)
                    @*<input name="backorder" type="checkbox" />*@
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Comments and/or special instructions:</label>
			    </div>
			    <div class="editor-field">
                    <textarea name="comments">@Model.Order.OrderComments</textarea>
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Attachments:</label>
			    </div>
			    <div class="editor-field">
                    <div id="file-uploader">       
                        <noscript>          
                            <p>Please enable JavaScript to use file uploader.</p>
                            <!-- or put a simple form for upload here -->
                        </noscript>         
                    </div>
			    </div>
		    </li>
        </ul>

        </div>

    </section>    
    
    <section>
        
        <div class="section-contents">
        
            <ul>
                <li><div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                    
                        <input type="submit" class="button" value="Edit"/>
                        |
                        <a href="">Cancel</a>

                    </div>
                </li>
            </ul>

        </div>
    </section>
    
}

@Html.Partial("_GenericSelectTemplate")

@Html.Partial("_AccountSelectTemplate", Model.Accounts)

@Html.Partial("_UnitOfMeasureSelectTemplate", Model.Units)

@Html.Partial("_LineItemSplitTemplate")

@Html.Partial("_OrderSplitTemplate")

@Html.Partial("_LineItemTemplate")

@Html.Partial("_AccountSearchTemplate")

@Html.Partial("_VendorDialog")

@Html.Partial("_VendorSearchDialog")

@Html.Partial("_AddressDialog")

@Html.Partial("_CalculatorDialog")

@Html.Partial("_AccountSearchDialog")