@{
    ViewBag.Title = "Line Items";
}

@section AdditionalScripts{
    @*<link href="@Url.Css("fileuploader/fileuploader.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Css("jquery.qtip.min.css")" rel="stylesheet" type="text/css" />
    <style>
        .help
        {
            font-style: italic;
            margin-bottom: 1em;
        }
        .line-item-row
        {
            background-color: #D5DBE1;
        }
        .sub-line-item
        {
            border-spacing: 0;
            border: 0;
            background-color:#F2EBCC;
        }
        .sub-line-item-split
        {
            border-spacing: 0;
            border: 0;
            background-color:#B2C9C5;
        }
        
        #order-splits > li { background-color: #B2C9C5; margin:1em; padding:2em;}
        
        form input[type='text'].quantity { min-width: 0; width: 40px;}
        form select.unit { min-width: 80px; width: 40px;}
        form input[type='text'].catalog-num { min-width: 0; width: 100px;}
        form input[type='text'].description { min-width: 0; width: 550px;}
        form input[type='text'].price,#shipping, #tax  { min-width: 0; width: 40px;}
        
        #add-line-item {}
        .invisible { display:none; }
        
        .line-item-details, .line-item-splits {display: none;}
        
        .invalid-number-warning
        {
            background-color: #FFDCDC;
        }
        
        td {text-align: left;}        
    </style>
    @*<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>*@
    <script src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script src="@Url.Script("OrderMockup.js")"></script>
    @*<script src="@Url.Script("fileuploader.js")"></script>*@
    <script src="@Url.Script("jquery.qtip.min.js")"></script>
    <script type="text/javascript">

        purchasing.options({ AddVendorUrl: "@Url.Action("AddVendor")", AddAddressUrl: "@Url.Action("AddAddress")", UploadUrl: '@Url.Action("Upload")' });

        $(function () {

            purchasing.init();
                
        });

    </script>
}

@using (Html.BeginForm())
{
    <section id="line-items-section" class="padded">
        <header>@*<span style="float:left;">Line Items</span> </div>*@
                <div class="col1">Line Items</div>
                <div class="col2"><a href="#" id="add-line-item" class="button" style="float:right;" >Add New Item</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            
            <table id="line-items">
                <thead>
                    <tr>
                        <th width="50px">Quantity</th>
                        <th>Unit</th>
                        <th>Catalog #</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody id="line-items-body">                    
                </tbody>
                <tfoot>  
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Subtotal:
                        </td>
                        <td style="text-align: left;">
                            <em><span id="subtotal">$12.99</span></em>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Shipping Amount:
                        </td>
                        <td>
                            <span><input type="text" id="shipping" value="$2.75"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Tax:
                        </td>
                        <td>
                            <span><input type="text" id="tax" value="8.25%"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Grand Total:
                        </td>
                        <td style="text-align: left;">
                            <strong><span id="grandtotal">$17.04</span></strong>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
                
        <footer>
            <div class="col1"></div>
            <div class="col2"><a href="#" id="cancel-split-by-line" class="button" style="float:right; display:none;">Cancel Split By Line</a><a href="#" id="split-by-line" class="button" style="float:right;" >Split By Line</a><div style="clear:both;"></div></div>
        </footer>
    </section>
}

<script id="accounts-select-template" type="text/x-jquery-tmpl">
    @this.Select("temp").Class("split-account").FirstOption("Select An Account").Options(ViewBag.Accounts, "Id", "NameAndId")
    @*TODO: update the name to come in from template*@
</script>

<script id="unit-of-measure-select-template" type="text/x-jquery-tmpl">
    @this.Select("units").Options(ViewBag.Units, "Id", "Name").Selected("EA").Class("unit")
</script>


<script id="order-split-template" type="text/x-jquery-tmpl">
    <li>
        <ul>
            <li>
                <div class="editor-label">Account: </div>
                <div class="editor-field">
                    {{tmpl "#accounts-select-template"}}
                </div>
            </li>
            <li>
                <div class="editor-label">Split Value:</div>
                <div class="editor-field">
                $Amt: <input type="text" placeholder="$amt" class="order-split-account-amount" title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                    (or)
                Pct%: <input type="text" placeholder="pct%" class="order-split-account-percent" title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>
                </div>
            </li>
        </ul>
    </li>
</script>

<script id="line-item-template" type="text/x-jquery-tmpl">
    <tr class="line-item-row">
        <td><input type="text" placeholder="Quantity" class="quantity" title="Number of Units for this line item. Will be multipled by price to calculate cost."/></td>
        <td>{{tmpl "#unit-of-measure-select-template"}}</td>
        <td><input type="text" placeholder="Catalog #" class="catalog-num" title="Enter the vendor provided catalog number. Ex: NCC1701" /></td>
        <td><input type="text" placeholder="Description" class="description" title="Just a friendly description to remember the item by later"/></td>
        <td><input type="text" placeholder="Price" class="price" title="Price per unit." /></td>
        <td><a href="#" class="toggle-line-item-details button">+/-</a></td>
    </tr>
    <tr class="line-item-details">
        <td colspan="6">
            <table class="sub-line-item">                            
                <tr>
                    <td colspan="2">Commodity Code: <select><option>Select Commodity Code</option></select></td>
                    <td>Url: <input placeholder="Item Url"/></td>
                    <td colspan="3">Notes: <textarea placeholder="Item Notes"></textarea></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="line-item-splits">
        <td colspan="6">
            <table class="sub-line-item-split">
                <tbody class="sub-line-item-split-body"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            Split Total: <span class="add-line-item-split-total">$0.00</span>
                            &nbsp;&nbsp;<span class="add-line-item-split-difference amount-difference"></span>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Line Total: <span class="add-line-item-total">$0.00</span></td>
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;"><a class="add-line-item-split button" href="#">Add Split +</a></td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</script>

<script type="text/javascript">

    $(function () {

        var $container;

        // magnifying class clicked
        $(".searchAccount").live("click", function () {

            $container = $(this).parents(".account-split-container");

            //reset the select
            $("#QuickAccounts").val("");
            // blank the search box
            $("#accounts-search-dialog-searchbox").val("");
            // blank the search results table
            $("#accounts-search-dialog-results tbody").children().remove();
            // blank the selected box
            $("#accounts-search-dialog-selected").val("");

            // initialize the dialog
            $("#accounts-search-dialog").dialog({
                width: 600,
                buttons: {
                    "Cancel": function () { $(this).dialog("close"); }
                }
            });

        });

        // search for account
        $("#accounts-search-dialog-searchbox-btn").click(function () {

            var searchTerm = $("#accounts-search-dialog-searchbox").val();
            var kfsSearchUrl = '@Url.Action("SearchKfsAccounts")';

            $.getJSON(kfsSearchUrl, { searchTerm: searchTerm }, function (result) {

                if (result.length > 0) {

                    var rowData = $.map(result, function (n, i) { return { name: n.Name, account: n.Id }; });

                    $.tmpl($("#accounts-search-dialog-results-template"), rowData).appendTo("#accounts-search-dialog-results tbody");

                    $(".result-select-btn").button();
                }
                else {

                    var tr = $("<tr>").append($("<tr>").attr("colspan", 3).html("No results found."));
                    $("#accounts-search-dialog-results tbody").append(tr);

                }
            });
        });

        // trigger for selecting an account
        $(".result-select-btn").live("click", function () {

            var row = $(this).parents("tr");
            var account = row.find(".result-account").html();

            var select = $container.find(".account-number");

            select.append($("<option>").val(account).html(account));
            select.val(account);

            $("#accounts-search-dialog").dialog("close");

            var selectCtl = $container.find(".account-subaccount");
            debugger;

            loadSubAccounts(account, selectCtl);
        });

        // change of account in drop down, check to load subaccounts
        $(".account-number").live("change", function () {

            var select = $(this).siblings(".account-subaccount");

            loadSubAccounts($(this).val(), select);

        });

    });
    
    // load subaccounts into the subaccount select
    function loadSubAccounts(account, $selectCtrl) {

        // perform a quick lookup on sub-accounts
        var subAcctSearchUrl = '@Url.Action("SearchSubAccounts")';
        $.getJSON(subAcctSearchUrl, { accountNumber: account }, function (result) {

            $selectCtrl.find("option:not(:first)").remove();
            
            if (result.length > 0) {
                var data = $.map(result, function (n, i) { return { name: n.Name, id: n.Id }; });
                $.tmpl($("#subaccount-select"), data).appendTo($selectCtrl);

                $selectCtrl.removeAttr("disabled");
            }
            else {
                $selectCtrl.attr("disabled", "disabled");
                
            }
        });
    }
    
</script>

<script id="line-item-split-template" type="text/x-jquery-tmpl">
    <tr>
        <td colspan="6">
            <div class="account-split-container">
            @this.Select("Account").Options(ViewBag.Accounts, "Id", "Id").FirstOption("--Account--").Class("account-number")
            <select class="account-subaccount" disabled="disabled"><option>--Sub Account--</option></select>
            <input type="text" placeholder="Project" class="account-projectcode" maxlength="4"/>
            <img src="@Url.Image("details.png")" class="searchAccount"/>
            </div>
            <div class="account-split-amounts">
                $Amt: <input placeholder="$amt" class="line-item-split-account-amount" title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                (or)
                Pct%: <input placeholder="pct%" class="line-item-split-account-percent" title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>
                </div>
        </td>
    </tr>
</script>

<script id="accounts-search-dialog-results-template" type="text/x-jquery-tmpl">
    <tr>
        <td><input type="button" class="result-select-btn" value="Select" /></td>
        <td class="result-name">${name}</td>
        <td class="result-account">${account}</td>
    </tr>
</script>

<script id="subaccount-select" type="text/x-jquery-tmpl">
    <option value="${id}">${name}</option>
</script>

<div id="accounts-search-dialog" title="Kfs Search Account" style="display:none;">

<input type="hidden" id="accounts-search-dialog-selected"/>

<section>

<input type="text" id="accounts-search-dialog-searchbox" placeholder="Acct # or Name"/>
<img src="@Url.Image("details.png")" id="accounts-search-dialog-searchbox-btn"/>

<table id="accounts-search-dialog-results">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

</section>

</div>

<style type="text/css">
form select.account-subaccount, form select.account-number {min-width: 130px; width: 130px;}
form input.account-projectcode {min-width: 80px; width: 80px;}

.account-split-container, .account-split-amounts {display: inline-block;}
.account-split-container {margin-right: 80px;}

#accounts-search-dialog header { display: inline-block; width: 100%; border-bottom: 1px solid #DDDDDD; padding-bottom: 3px;}
#accounts-search-dialog section { padding: 1em; }
#accounts-search-dialog select, #accounts-search-dialog input[type='text'] {padding: .5em;}

#accounts-search-dialog-results .selected {background-color: lightblue;}
</style>