@using Purchasing.Core.Domain
@model Order

@{
    ViewBag.Title = "Order Details";
}

@section SubNav
{
	<ul class="navigation">
	    <li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@section AdditionalScripts
{
    <style type="text/css">
        #orn {margin: 1em 0;}
        #orn ul {padding: 0;}
        #orn li {margin: 0;}
        #order-details .col1, #order-details .col2 {width: 49.25%; vertical-align: top; text-align: left;}
        #order-details .col1 .display-form, #order-details .col2 .display-form {height: 140px; margin-bottom: 0;}
        
        .item-footer {background-color:#014A81; color: white; }
        .item-footer .label {text-align: right;font-weight: bold;}
        
        .extra-info .line-url, .extra-info .line-notes {display:inline-block; width: 49%; text-align: left;}
        .extra-info .line-url {margin-right: 10px;}
        
        .row-item {background-color: lightgray;}
        .row-split {width: 400px; border: 1px solid lightgray; background-color: lightgreen;}
        .row-split-prob {background-color: lightcoral;}
        .row-split table {border: none;}
        #history table, #notes table, #approvals table { border: none; }
        #history table tr, #notes table tr, #approvals table tr {border-bottom: 1px solid lightgray;}
        #history table tr > td:first-child, #notes table tr > td:first-child, #approvals table tr > td:first-child { width: 150px;}
        #history table tr > td:last-child, #notes table tr > td:last-child #approvals table tr > td:last-child { width: 150px;}
        
        .acct-info .account, .acct-info .subaccount, .acct-info .project {margin-right: 20px;}
    </style>

    <script type="text/javascript">

        $(function () {

            $("#notes-dialog").dialog({
                modal: true,
                autoOpen: false,
                width: 400,
                buttons: {
                    "Confirm": function () {

                        var note = $("#notes-box").val();
                        $("#notes-box").val("");

                        var result = [{ datetime: new Date(), txt: note, user: "Alan Lai"}];
                        $.tmpl($("#comment-template"), result).appendTo("#notes table tbody");

                        $(this).dialog("close");
                    },
                    "Cancel": function () { $(this).dialog("close"); }
                }
            });

            $("#add-note").click(function () { $("#notes-dialog").dialog("open"); return false; });
        });

    </script>

    <script id="comment-template" type="text/x-jquery-tmpl">
        <tr>
            <td>${datetime}</td>
            <td>${txt}</td>
            <td>${user}</td>
        </tr>
    </script>

}

<section id="order-details" class="ui-corner-all display-form">

    <header class="ui-corner-top">Request # @Model.OrderRequestNumber()</header>

    <div class="section-contents">

    <section id="orn">
        <ul>
            <li><strong>Current Review Level:</strong> @Model.StatusCode.Name</li>
            <li><strong>Workgroup:</strong> @Model.Workgroup.Name</li>
            <li><strong>Department:</strong> @Model.Organization.Name</li>
        </ul>
    </section>

    <div class="col1">
    
        <section id="vendor" class="display-form ui-corner-all">

            <header class="ui-corner-top">Vendor:</header>

            <div class="section-contents">
            <div class="vcard">
    
                <div class="fn">@Model.Vendor.Name</div>
                <div class="adr">
                    <span class="street-address">@Model.Vendor.Line1</span>
                    <span class="locality">@Model.Vendor.City</span>
                    <span class="region" title="California">@Model.Vendor.State</span>
                    <span class="postal-code">@Model.Vendor.Zip</span>
                </div>

            </div>
            </div>

    </section>

    </div>
    <div class="col2">
    
    <section id="deliveryTo" class="display-form ui-corner-all">

        <header class="ui-corner-top">Deliver To:</header>

        <div class="section-contents">
        <div class="vcard">
    
            <div class="fn">@Model.DeliverTo</div>
            <div class="email">@Model.DeliverToEmail</div>
            <div class="adr">

                <span class="street-address">@Model.Address.Room @Model.Address.Building</span>
                <span class="street-address">@Model.Address.Address</span>
                <span class="locality">@Model.Address.City</span>
                <span class="region" title="California">@Model.Address.State</span>
                <span class="postal-code">@Model.Address.Zip</span>
            </div>
        
        </div>
        </div>

    </section>

    </div>

    <section id="justification" class="display-form ui-corner-all" style="margin-top: 1em;">
    
        <header class="ui-corner-top">Justification</header>

        <div class="section-contents">
        @Model.Justification
        </div>

    </section>

    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<section id="line-items" class="ui-corner-all display-form">

    <header class="ui-corner-top">Line Items</header>

    <div class="section-contents">
    <table>
        <thead>
            <tr>
                <th>Qty.</th>
                <th>Unit</th>
                <th>Catalog #</th>
                <th>Description</th>
                <th>Commodity</th>
                <th>Unit $</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.LineItems)
            {
                <tr class="row-item">
                    <td>@line.Quantity</td>
                    <td>@line.Unit</td>
                    <td>@(string.IsNullOrWhiteSpace(line.CatalogNumber) ? "n/a" : line.CatalogNumber)</td>
                    <td>@line.Description</td>
                    <td>@(line.Commodity != null ? line.Commodity.Name : "n/a")</td>
                    <td>@line.UnitPrice</td>
                </tr>
                              
                if (Model.HasLineSplits)
                {
                    <tr>
                        <td colspan="6">
                            <div class="row-split ui-corner-all @(line.UnitPrice * line.Quantity != line.Splits.Sum(a => a.Amount) ? "row-split-prob" : string.Empty)">
                                <table>
                                    <thead>
                                        <tr><td colspan="4">Line Item Split</td></tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var split in line.Splits)
                                    {  
                                        <tr>
                                            <td>@(string.IsNullOrWhiteSpace(split.Account) ? "n/a" : split.Account)</td>
                                            <td>@(string.IsNullOrWhiteSpace(split.SubAccount) ? "n/a" : split.SubAccount)</td>
                                            <td>@(string.IsNullOrWhiteSpace(split.Project) ? "n/a" : split.Project)</td>
                                            <td>@split.Amount</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>                    
                }


                if (!string.IsNullOrWhiteSpace(line.Notes) || !string.IsNullOrWhiteSpace(line.Url))
                {
                    <tr>
                        <td colspan="5" class="extra-info">
                            @if (!string.IsNullOrWhiteSpace(line.Url))
                            {
                            <div class="line-url"><strong>Url:</strong> <a href="@line.Url">@line.Url</a></div>    
                            }
                            @if (!string.IsNullOrWhiteSpace(line.Notes))
                            {
                            <div class="line-notes"><strong>Notes:</strong> @line.Notes</div>    
                            }
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfooter>
        
            <tr class="item-footer">
                <td colspan="4">&nbsp;</td>
                <td class="label">Subtotal:</td>
                <td>@Model.Total()</td>
            </tr>
            <tr class="item-footer">
                <td colspan="4">&nbsp;</td>
                <td class="label">Estimated Shipping:</td>
                <td>@Model.ShippingAmount</td>            
            </tr>
            <tr class="item-footer">
                <td colspan="4"></td>
                <td class="label">Estimated Tax:</td>
                <td>@Model.EstimatedTax</td>
            </tr>
            <tr class="item-footer">
                <td colspan="4"></td>
                <td class="label">Grand Total:</td>
                <td></td>
            </tr>

        </tfooter>
    </table>
    </div>

    <footer class="ui-corner-bottom"><em>*All totals are estimated, final values are determined after uploaded to KFS.</em></footer>

</section>

@if (!Model.HasLineSplits)
{
    <section id="accounts" class="ui-corner-all display-form">
    
        <header class="ui-corner-top">Account Information</header>

        <div class="section-contents">
        
            @* Only one "split" meaning this entire order is one account *@
            @if (Model.Splits.Count == 1)
            {
                var split = Model.Splits[0];

                <div class="acct-info">
                    <strong>Account:</strong> <span class="account">@split.Account</span>
                    <strong>SubAccount:</strong> <span class="subaccount">@split.SubAccount</span>
                    <strong>Project:</strong> <span class="project">@split.Project</span>
                </div>
            }
            @* Order split over multiple accounts *@
            else
            {
                <div class="row-split">
                <table class="noicon">
                
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>SubAccount</th>
                            <th>Project</th>
                            <th>Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var split in Model.Splits)
                        { 
                            <tr>
                                <td>@split.Account</td>
                                <td>@split.SubAccount</td>
                                <td>@split.Project</td>
                                <td>@split.Amount</td>
                            </tr>
                        }
                    </tbody>

                </table>
                </div>

            }

        </div>

        <footer class="ui-corner-bottom"></footer>

    </section>
}

@if (Model.HasControlledSubstance)
{
    <section id="controlled" class="ui-corner-all display-form">

    <header class="ui-corner-top">Controlled Substances Information</header>

    <div class="section-contents">
    
        @{
    var cs = Model.GetAuthorizationInfo();
        }

        <ul>
            <li><div class="display-label">Authorization Number</div>
                <div class="display-details">@cs.AuthorizationNum</div>
            </li>
            <li><div class="display-label">Class Schedule</div>
                <div class="display-details">@cs.ClassSchedule</div>
            </li>
            <li><div class="display-label">Use</div>
                <div class="display-details">@cs.Use</div>
            </li>
            <li><div class="display-label">Storage Site</div>
                <div class="display-details">@cs.StorageSite</div>
            </li>
            <li><div class="display-label">Custodian</div>
                <div class="display-details">@cs.Custodian</div>
            </li>
            <li><div class="display-label">End User</div>
                <div class="display-details">@cs.EndUser</div>
            </li>
        </ul>

    </div>

    </section>
}


<section id="history" class="ui-corner-all display-form">

    <header class="ui-corner-top">Order History</header>

    <div class="section-contents">
    <table class="noicon">
        <tbody>
            @foreach (var tracking in Model.OrderTrackings.OrderBy(a => a.Order))
            {
                <tr>
                    <td>@tracking.DateCreated.ToString("d")</td>
                    <td>@tracking.Description</td>
                    <td>@tracking.StatusCode.Name</td>
                    <td>@tracking.User.FullName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<section id="approvals" class="ui-corner-all display-form">

    <header class="ui-corner-top">Approvals</header>

    <div class="section-contents">
    
        <table class="noicon">
            <tbody>
                @foreach (var approval in Model.Approvals.Where(a => !a.Completed).OrderBy(a => a.StatusCode.Level))
                {
                    <tr>
                        <td>@approval.StatusCode.Name</td>
                        <td>@(approval.User != null ? approval.User.FullName : string.Empty) @(approval.SecondaryUser != null ? "or " + approval.SecondaryUser.FullName : string.Empty)</td>
                    </tr>
                }
            </tbody>
        </table>
    
    </div>

</section>

<section id="notes" class="ui-corner-all display-form">

    <header class="ui-corner-top">
        <div class="col1">Order Notes</div>
        <div class="col2"><a href="#" class="button" id="add-note">Add Note</a></div>
    </header>

    <div class="section-contents">
    <table class="noicon">
        <tbody>
            @foreach (var notes in Model.OrderComments)
            {
                <tr>
                    <td>@notes.DateCreated.ToString("d")</td>
                    <td>@notes.Text</td>
                    <td>@notes.User.FullName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<div id="notes-dialog" title="Add Order Notes">

<textarea id="notes-box" style="width: 370px; height: 110px;"></textarea>

</div>

<section id="attachments" class="ui-corner-all display-form">

    <header class="ui-corner-top">Attachments</header>

    <div class="section-contents">
        <ul>            
            @foreach (var attachment in Model.Attachments)
            {
                <li>
                    <a href="@Url.Action("ViewFile", new { fileId = @attachment.Id })">Click here to view @attachment.FileName</a> [uploaded by @attachment.User.FullName on @attachment.DateCreated.ToShortDateString()]                    
                </li>
            }
        </ul>
    </div>

</section>

@if (ViewBag.CanEdit)
{
 <section class="ui-corner-all display-form">

    <header class="ui-corner-top">Review Decision</header>

    <div class="section-contents">
    
        <ul>
            <li><div class="display-label">&nbsp;</div>
                <div class="display-details">
                    @using (Html.BeginForm("Approve", "OrderMockup"))
                    {
                        @Html.Hidden("id", Model.Id)
                        @Html.AntiForgeryToken()
                        <input type="submit" class="button" value="Approve"/>
                    }

                    <input type="button" class="button" value="Deny" />
                </div>
            </li>
        </ul>

    </div>

</section>   
}
