@using Purchasing.Core.Domain
@model Order

@{
    ViewBag.Title = "Order Details";
}

@section SubNav
{
	<ul class="navigation">
	    <li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@section AdditionalScripts
{
    <style type="text/css">
        #orn {margin: 1em 0;}
        #orn ul {padding: 0;}
        #orn li {margin: 0;}
        #order-details .col1, #order-details .col2 {width: 49%; vertical-align: top; text-align: left;}
        #order-details .col1 .display-form, #order-details .col2 .display-form {height: 140px; margin-bottom: 0;}
        
        .item-footer {background-color:#014A81; color: white; }
        .item-footer .label {text-align: right;font-weight: bold;}
        
        .extra-info .line-url, .extra-info .line-notes {display:inline-block; width: 49%; text-align: left;}
        .extra-info .line-url {margin-right: 10px;}
        
        .row-item {background-color: lightgray;}
        .row-split {width: 400px; border: 1px solid lightgray; background-color: lightblue;}
        .row-split-prob {background-color: lightcoral;}
        .row-split table {border: none;}
        #history table, #notes table { border: none; }
        #history table tr > td:first-child, #notes table tr > td:first-child { width: 150px;}
        #history table tr > td:last-child, #notes table tr > td:last-child { width: 150px;}
    </style>

    <script type="text/javascript">

        $(function () {

            $("#notes-dialog").dialog({
                modal: true,
                autoOpen: false,
                width: 400,
                buttons: {
                    "Confirm": function () {

                        var note = $("#notes-box").val();
                        $("#notes-box").val("");

                        var result = [{ datetime: new Date(), txt: note, user: "Alan Lai"}];
                        $.tmpl($("#comment-template"), result).appendTo("#notes table tbody");

                        $(this).dialog("close");
                    },
                    "Cancel": function () { $(this).dialog("close"); }
                }
            });

            $("#add-note").click(function () { $("#notes-dialog").dialog("open"); return false; });
        });

    </script>

    <script id="comment-template" type="text/x-jquery-tmpl">
        <tr>
            <td>${datetime}</td>
            <td>${txt}</td>
            <td>${user}</td>
        </tr>
    </script>

}

<section id="order-details" class="ui-corner-all display-form">

    <header class="ui-corner-top">Request # @Model.OrderRequestNumber()</header>

    <div class="section-contents">

    <section id="orn">
        <ul>
            <li><strong>Current Review Level:</strong> @Model.StatusCode.Name</li>
            <li><strong>Workgroup:</strong> @Model.Workgroup.Name</li>
            <li><strong>Department:</strong> @Model.Organization.Name</li>
        </ul>
    </section>

    <div class="col1">
    
        <section id="vendor" class="display-form ui-corner-all">

            <header class="ui-corner-top">Vendor:</header>

            <div class="section-contents">
            <div class="vcard">
    
                <div class="fn">Vendor Name</div>
                <div class="adr">
                    <span class="street-address">One Fake Street</span>
                    <span class="locality">Davis</span>
                    <span class="region" title="California">CA</span>
                    <span class="postal-code">95616</span>
                </div>

            </div>
            </div>

    </section>

    </div>
    <div class="col2">
    
    <section id="deliveryTo" class="display-form ui-corner-all">

        <header class="ui-corner-top">Deliver To:</header>

        <div class="section-contents">
        <div class="vcard">
    
            <div class="fn">Some Person</div>
            <div class="tel">(530) 754-7771</div>
            <div class="email">blank@blank.com</div>
            <div class="adr">
                <span class="street-address">One Fake Street</span>
                <span class="locality">Davis</span>
                <span class="region" title="California">CA</span>
                <span class="postal-code">95616</span>
            </div>
        
        </div>
        </div>

    </section>

    </div>
    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<section id="line-items" class="ui-corner-all display-form">

    <header class="ui-corner-top">Line Items</header>

    <div class="section-contents">
    <table>
        <thead>
            <tr>
                <th>Qty.</th>
                <th>Unit</th>
                <th>Catalog #</th>
                <th>Description</th>
                <th>Commodity</th>
                <th>Unit $</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.LineItems)
            {
                <tr class="row-item">
                    <td>@line.Quantity</td>
                    <td>@line.Unit</td>
                    <td>@(string.IsNullOrWhiteSpace(line.CatalogNumber) ? "n/a" : line.CatalogNumber)</td>
                    <td>@line.Description</td>
                    <td>@(line.Commodity != null ? line.Commodity.Name : "n/a")</td>
                    <td>@line.UnitPrice</td>
                </tr>
                              
                if (line.Splits.Count > 0)
                {
                    <tr>
                        <td colspan="6">
                            <div class="row-split ui-corner-all @(line.UnitPrice * line.Quantity != line.Splits.Sum(a => a.Amount) ? "row-split-prob" : string.Empty)">
                                <table>
                                    <thead>
                                        <tr><td colspan="4">Line Item Split</td></tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var split in line.Splits)
                                    {  
                                        <tr>
                                            <td>@split.Account.Id</td>
                                            <td>Sub-Acct</td>
                                            <td>Project</td>
                                            <td>@split.Amount</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>                    
                }


                if (!string.IsNullOrWhiteSpace(line.Description) || !string.IsNullOrWhiteSpace(line.Url))
                {
                    <tr>
                        <td colspan="5" class="extra-info">
                            @if (!string.IsNullOrWhiteSpace(line.Url))
                            {
                            <div class="line-url"><strong>Url:</strong> <a href="@line.Url">@line.Url</a></div>    
                            }
                            @if (!string.IsNullOrWhiteSpace(line.Notes))
                            {
                            <div class="line-notes"><strong>Notes:</strong> @line.Notes</div>    
                            }
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfooter>
        
            <tr class="item-footer">
                <td colspan="4">&nbsp;</td>
                <td class="label">Subtotal:</td>
                <td>@Model.Total()</td>
            </tr>
            <tr class="item-footer">
                <td colspan="4">&nbsp;</td>
                <td class="label">Estimated Shipping:</td>
                <td>@Model.ShippingAmount</td>            
            </tr>
            <tr class="item-footer">
                <td colspan="4"></td>
                <td class="label">Estimated Tax:</td>
                <td>@Model.EstimatedTax</td>
            </tr>
            <tr class="item-footer">
                <td colspan="4"></td>
                <td class="label">Grand Total:</td>
                <td></td>
            </tr>

        </tfooter>
    </table>
    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<section id="history" class="ui-corner-all display-form">

    <header class="ui-corner-top">Order History</header>

    <div class="section-contents">
    <table class="noicon">
        <tbody>
            @foreach (var tracking in Model.OrderTrackings.OrderBy(a => a.Order))
            {
                <tr>
                    <td>@tracking.DateCreated.ToString("d")</td>
                    <td>@tracking.Description</td>
                    <td>@tracking.User.FullName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<section id="notes" class="ui-corner-all display-form">

    <header class="ui-corner-top">
        <div class="col1">Order Notes</div>
        <div class="col2"><a href="#" class="button" id="add-note">Add Note</a></div>
    </header>

    <div class="section-contents">
    <table class="noicon">
        <tbody>
            @foreach (var notes in Model.OrderComments)
            {
                <tr>
                    <td>@notes.DateCreated.ToString("d")</td>
                    <td>@notes.Text</td>
                    <td>@notes.User.FullName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <footer class="ui-corner-bottom"></footer>

</section>

<div id="notes-dialog" title="Add Order Notes">

<textarea id="notes-box" style="width: 370px; height: 110px;"></textarea>

</div>

<section id="attachments" class="ui-corner-all display-form">

    <header class="ui-corner-top">Attachments</header>

    <div class="section-contents"></div>

</section>