@{
    ViewBag.Title = "Request";
}

@section AdditionalScripts{
    <link href="@Url.Css("fileuploader/fileuploader.css")" rel="stylesheet" type="text/css" />
    <style>
        .help
        {
            font-style: italic;
            margin-bottom: 1em;
        }
        .line-item-row
        {
            background-color: #D5DBE1;
        }
        .sub-line-item
        {
            border-spacing: 0;
            border: 0;
            background-color:#F2EBCC;
        }
        .sub-line-item-split
        {
            border-spacing: 0;
            border: 0;
            background-color:#B2C9C5;
        }
        
        form input[type='text'].quantity { min-width: 0; width: 40px;}
        form select.unit { min-width: 80px; width: 40px;}
        form input[type='text'].catalog-num { min-width: 0; width: 100px;}
        form input[type='text'].description { min-width: 0; width: 550px;}
        form input[type='text'].price,#shipping, #tax  { min-width: 0; width: 40px;}
        
        #add-line-item {}
        .invisible { display:none; }
        
        .line-item-details, .line-item-splits {display: none;}
        
        .invalid-number-warning
        {
            background-color: #FFDCDC;
        }
        
        td {text-align: left;}        
    </style>
    @*<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>*@
    <script src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script src="@Url.Script("OrderMockup.js")"></script>
    <script src="@Url.Script("fileuploader.js")"></script>
    <script type="text/javascript">

        purchasing.options({ AddVendorUrl: "@Url.Action("AddVendor")", AddAddressUrl: "@Url.Action("AddAddress")" });

        $(function () {

            purchasing.init();

            var uploader = new qq.FileUploader({
                // pass the dom node (ex. $(selector)[0] for jQuery users)
                element: document.getElementById('file-uploader'),
                // path to server-side upload script
                action: '@Url.Action("Upload")',
                sizeLimit: 4194304, //TODO: add configuration instead of hardcoding to 4MB
                debug: true
            });
        });

    </script>
}

@using (Html.BeginForm())
{
    <section>
        <header>Vendor</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                        @this.Select("vendors").FirstOption("Select A Vendor").Options(ViewBag.Vendors, "Id", "Name")
                        (or)
                        <a id="add-vendor" class="button" href="#">Add new vendor</a>        
                    </div>
                </li>
            </ul>

        </div>
    </section>
    
    <section>
        <header>Shipping Address</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

        </div>

        <ul>
        
            <li><div class="editor-label">Deliver To:</div>
                <div class="editor-field"><input type="text" placeholder="Delivery Name" value="Mr. Smith"/></div>
            </li>

            <li><div class="editor-label">Email:</div>
                <div class="editor-field"><input type="email" placeholder="Delivery Email" value="msmith@ucdavis.edu"/></div>
            </li>

            <li><div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    <select id="addresses"><option>Select a Shipping Address</option></select>
                    (or)
                    <a id="add-address" class="button" href="#">Add new Shipping Address</a>    
                </div>
            </li>

        </ul>
        
    </section>
    
    <section class="padded">
        <header>@*<span style="float:left;">Line Items</span> </div>*@
                <div class="col1">Line Items</div>
                <div class="col2"><a href="#" id="add-line-item" class="button" style="float:right;" >Add New Item</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            
            <table id="line-items">
                <thead>
                    <tr>
                        <th width="50px">Quantity</th>
                        <th>Unit</th>
                        <th>Catalog #</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody id="line-items-body">
                    <tr class="line-item-row">
                        <td><input type="text" placeholder="Quantity" class="quantity"/></td>
                        <td>@this.Select("units").Options(ViewBag.Units, "Id", "Name").Selected("EA").Class("unit")</td>
                        <td><input type="text" placeholder="Catalog #" class="catalog-num" /></td>
                        <td><input type="text" placeholder="Description" class="description"/></td>
                        <td><input type="text" placeholder="Price" class="price" /></td>
                        <td><a href="#" class="toggle-line-item-details button">+/-</a></td>
                    </tr>
                    <tr class="line-item-details">
                        <td colspan="6">
                            <table class="sub-line-item">                            
                                <tr>
                                    <td colspan="2">Commodity Code: <select><option>Select Commodity Code</option></select></td>
                                    <td>Url: <input placeholder="Item Url"/></td>
                                    <td colspan="3">Notes: <textarea placeholder="Item Notes"></textarea></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-item-splits">
                        <td colspan="6">
                            <table class="sub-line-item-split">
                                <tbody class="sub-line-item-split-body"></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            Split Total: <span class="add-line-item-split-total">$0.00</span>
                                            &nbsp;&nbsp;<span class="add-line-item-split-difference amount-difference"></span>
                                        </td>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Line Total: <span class="add-line-item-total">$0.00</span></td>
                                        <td colspan="3"></td>
                                        <td><a class="add-line-item-split button" href="#">Add Split +</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-item-row">
                        <td><input type="text" placeholder="Quantity" class="quantity"/></td>
                        <td>@this.Select("units").Options(ViewBag.Units, "Id", "Name").Selected("EA").Class("unit")</td>
                        <td><input type="text" placeholder="Catalog #" class="catalog-num" /></td>
                        <td><input type="text" placeholder="Description" class="description"/></td>
                        <td><input type="text" placeholder="Price" class="price" /></td>
                        <td><a href="#" class="toggle-line-item-details button">+/-</a></td>
                    </tr>
                    <tr class="line-item-details">
                        <td colspan="6">
                            <table class="sub-line-item">
                                <tr>
                                    <td colspan="2">Commodity Code: <select><option>Select Commodity Code</option></select></td>
                                    <td>Url: <input placeholder="Item Url"/></td>
                                    <td colspan="3">Notes: <textarea placeholder="Item Notes"></textarea></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-item-splits">
                        <td colspan="6">
                            <table class="sub-line-item-split">                            
                                <tbody class="sub-line-item-split-body"></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            Split Total: <span class="add-line-item-split-total">$0.00</span>
                                            &nbsp;&nbsp;<span class="add-line-item-split-difference amount-difference"></span>
                                        </td>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Line Total: <span class="add-line-item-total">$0.00</span></td>
                                        <td colspan="3"></td>
                                        <td><a class="add-line-item-split button" href="#">Add Split +</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-item-row">
                        <td><input type="text" placeholder="Quantity" class="quantity"/></td>
                        <td>@this.Select("units").Options(ViewBag.Units, "Id", "Name").Selected("EA").Class("unit")</td>
                        <td><input type="text" placeholder="Catalog #" class="catalog-num" /></td>
                        <td><input type="text" placeholder="Description" class="description"/></td>
                        <td><input type="text" placeholder="Price" class="price" /></td>
                        <td><a href="#" class="toggle-line-item-details button">+/-</a></td>
                    </tr>
                    <tr class="line-item-details">
                        <td colspan="6">
                            <table class="sub-line-item">                            
                                <tr>
                                    <td colspan="2">Commodity Code: <select><option>Select Commodity Code</option></select></td>
                                    <td>Url: <input placeholder="Item Url"/></td>
                                    <td colspan="3">Notes: <textarea placeholder="Item Notes"></textarea></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="line-item-splits">
                        <td colspan="6">
                            <table class="sub-line-item-split">
                                <tbody class="sub-line-item-split-body"></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            Split Total: <span class="add-line-item-split-total">$0.00</span>
                                            &nbsp;&nbsp;<span class="add-line-item-split-difference amount-difference"></span>
                                        </td>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Line Total: <span class="add-line-item-total">$0.00</span></td>
                                        <td colspan="3"></td>
                                        <td><a class="add-line-item-split button" href="#">Add Split +</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>  
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Subtotal:
                        </td>
                        <td style="text-align: left;">
                            <em><span id="subtotal">$12.99</span></em>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Shipping Amount:
                        </td>
                        <td>
                            <span><input type="text" id="shipping" value="$2.75"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Tax:
                        </td>
                        <td>
                            <span><input type="text" id="tax" value="8.25%"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Grand Total:
                        </td>
                        <td style="text-align: left;">
                            <strong><span id="grandtotal">$17.04</span></strong>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
                
        <footer>
            <div class="col1"></div>
            <div class="col2"><a href="#" id="split-by-line" class="button" style="float:right;" >Split By Line</a><div style="clear:both;"></div></div>
        </footer>
    </section>

    <section id="order-account-section">
        <header>Order Details</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <div>
                <ul>
                    <li>
					    <div class="editor-label">
						    Select An Account:
					    </div>
					    <div class="editor-field">
                            @this.Select("accounts").FirstOption("Select An Account").Options(ViewBag.Accounts, "Id", "NameAndId")
					    </div>
				    </li>				
                    <li>
					    <div class="editor-label">
						    (or)
					    </div>
				    </li>
                    <li>
					    <div class="editor-label">
						    Select An Approver:
					    </div>
					    <div class="editor-field">
                            @this.Select("approvers").FirstOption("Select An Approver (Optional)").Options(ViewBag.Approvers, "Id", "FullNameAndId")
					    </div>
				    </li>
				    <li>
					    <div class="editor-label">
						    Select An Account Manager:
					    </div>
					    <div class="editor-field">
                            @this.Select("accountmanagers").FirstOption("Select A Purchasing Agent").Options(ViewBag.AccountManagers, "Id", "FullNameAndId")
					    </div>
				    </li>							
                    <li>
					    <div class="editor-label">
						    (or)
					    </div>
				    </li>
                    <li><div class="editor-label">Split Order:</div>
                        <div class="editor-field">
                            <a id="split-order" class="button" href="#">Split Order Request</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    
    <section id="order-split-section" class="padded" style="display: none;">
        <header>
                <div class="col1">Order Account Splits</div>
                <div class="col2"><a href="#" id="add-order-split" class="button" style="float:right;" >Add Split</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul id="order-splits"></ul>
            <ul>
                <li>
                    <div class="editor-label">Split Total</div>
                    <div class="editor-field">
                        <span id="order-split-account-total">$0.00</span>
                        &nbsp;&nbsp;<span id="order-split-account-difference" class="amount-difference"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Order Total</div>
                    <div class="editor-field">
                        <span id="order-split-total">$100.50</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
    <section>
        <header>Order Preferences</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

        <ul>
            <li>
			    <div class="editor-label">
				    <label>Date Needed:</label>
			    </div>
			    <div class="editor-field">
                    <input type="datetime" />
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Allow Backorder?</label>
			    </div>
			    <div class="editor-field">
                    <input type="checkbox" />
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Comments and/or special instructions:</label>
			    </div>
			    <div class="editor-field">
                    <textarea></textarea>
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Attachments:</label>
			    </div>
			    <div class="editor-field">
                    <div id="file-uploader">       
                        <noscript>          
                            <p>Please enable JavaScript to use file uploader.</p>
                            <!-- or put a simple form for upload here -->
                        </noscript>         
                    </div>
			    </div>
		    </li>
        </ul>

        </div>

    </section>    
    
    <section>
        
        <div class="section-contents">
        
            <ul>
                <li><div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                    
                        <input type="submit" class="button" value="Submit"/>
                        |
                        <a href="">Cancel</a>

                    </div>
                </li>
            </ul>

        </div>

    </section>
    
}

<script id="accounts-select-template" type="text/x-jquery-tmpl">
    @this.Select("temp").Class("split-account").FirstOption("Select An Account").Options(ViewBag.Accounts, "Id", "NameAndId")
    @*TODO: update the name to come in from template*@
</script>

<script id="unit-of-measure-select-template" type="text/x-jquery-tmpl">
    @this.Select("units").Options(ViewBag.Units, "Id", "Name").Selected("EA").Class("unit")
</script>
<script id="line-item-split-template" type="text/x-jquery-tmpl">
    <tr>
        <td colspan="3">Account: {{tmpl "#accounts-select-template"}}</td>
        <td>$Amt: <input placeholder="$amt" class="line-item-split-account-amount"/></td>
        <td>(or)</td>
        <td>Pct%: <input placeholder="pct%" class="line-item-split-account-percent"/></td>
    </tr>
</script>
<script id="order-split-template" type="text/x-jquery-tmpl">
    <li>
        <div class="editor-label"></div>
        <div class="editor-field">
            {{tmpl "#accounts-select-template"}}<br/>
            <input type="text" placeholder="$amt" class="order-split-account-amount"/>
            (or)
            <input type="text" placeholder="pct%" class="order-split-account-percent"/>
        </div>
    </li>
</script>

<script id="line-item-template" type="text/x-jquery-tmpl">
    <tr class="line-item-row">
        <td><input type="text" placeholder="Quantity" class="quantity"/></td>
        <td>{{tmpl "#unit-of-measure-select-template"}}</td>
        <td><input type="text" placeholder="Catalog #" class="catalog-num" /></td>
        <td><input type="text" placeholder="Description" class="description"/></td>
        <td><input type="text" placeholder="Price" class="price" /></td>
        <td><a href="#" class="toggle-line-item-details button">+/-</a></td>
    </tr>
    <tr class="line-item-details">
        <td colspan="6">
            <table class="sub-line-item">                            
                <tr>
                    <td colspan="2">Commodity Code: <select><option>Select Commodity Code</option></select></td>
                    <td>Url: <input placeholder="Item Url"/></td>
                    <td colspan="3">Notes: <textarea placeholder="Item Notes"></textarea></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="line-item-splits">
        <td colspan="6">
            <table class="sub-line-item-split">
                <tbody class="sub-line-item-split-body"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            Split Total: <span class="add-line-item-split-total">$0.00</span>
                            &nbsp;&nbsp;<span class="add-line-item-split-difference amount-difference"></span>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Line Total: <span class="add-line-item-total">$0.00</span></td>
                        <td colspan="3"></td>
                        <td><a class="add-line-item-split button" href="#">Add Split +</a></td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</script>

<div id="vendor-dialog" title="Add Vendor">
    <form id="vendor-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <ul>
                <li>
                    <div class="editor-label">
                        Name:</div>
                    <div class="editor-field">
                        <input id="vendor-name" name="vendorName" type="text" placeholder="Vendor Name" class="required" maxlength="40" />
                        <span class="field-validation-valid" data-valmsg-for="vendorName" data-valmsg-replace="true">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        Address:</div>
                    <div class="editor-field">
                        <input id="vendor-address" name="vendorAddress" type="text" placeholder="Address" class="required" maxlength="40" />
                        <span class="field-validation-valid" data-valmsg-for="vendorAddress" data-valmsg-replace="true">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        City:</div>
                    <div class="editor-field">
                        <input id="vendor-city" name="vendorCity" type="text" placeholder="City" class="required" maxlength="40" />
                        <span class="field-validation-valid" data-valmsg-for="vendorCity" data-valmsg-replace="true"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        State:</div>
                    <div class="editor-field">
                        <input id="vendor-state" name="vendorState" type="text" placeholder="State" class="required" maxlength="2" />
                        <span class="field-validation-valid" data-valmsg-for="vendorState" data-valmsg-replace="true"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        Zip:</div>
                    <div class="editor-field">
                        <input id="vendor-zip" name="vendorZip" type="text" placeholder="Zip" class="required" maxlength="11" />
                        <span class="field-validation-valid" data-valmsg-for="vendorZip" data-valmsg-replace="true"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        Country Code:</div>
                    <div class="editor-field">
                        <input id="vendor-country-code" type="text" placeholder="Country Code" /></div>
                </li>
            </ul>
        </div>
    </form>
</div>

<div id="address-dialog" title="Add Shipping Address">
    <form id="address-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <ul>        
                <li><div class="editor-label">Name:</div>
                    <div class="editor-field"><input id="address-name" type="text" placeholder="Address Name"/></div>
                </li>
                <li><div class="editor-label">Building:</div>
                    <div class="editor-field"><input id="address-building" type="text" placeholder="Building" /></div>
                </li>
                <li><div class="editor-label">Room:</div>
                    <div class="editor-field"><input id="address-room" type="text" placeholder="Room" /></div>
                </li>                                                                   
                <li><div class="editor-label">Address:</div>                               
                    <div class="editor-field"><input id="address-address" type="text" placeholder="Address" /></div>
                </li>                                                                   
                <li><div class="editor-label">City:</div>                               
                    <div class="editor-field"><input id="address-city" type="text" placeholder="City" /></div>
                </li>                                                                   
                <li><div class="editor-label">State:</div>                              
                    <div class="editor-field"><input id="address-state" type="text" placeholder="State" /></div>
                </li>                                                                   
                <li><div class="editor-label">Zip:</div>                                
                    <div class="editor-field"><input id="address-zip" type="text" placeholder="Zip" /></div>
                </li>                                                                   
                <li><div class="editor-label">Phone:</div>                       
                    <div class="editor-field"><input id="address-phone" type="text" placeholder="Phone Number" /></div>
                </li>
            </ul>
        </div>
    </form>
</div>