@{
    ViewBag.Title = "Request";
}

@section AdditionalScripts{
    <link href="@Url.Css("fileuploader/fileuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Css("jquery.qtip.min.css")" rel="stylesheet" type="text/css" />
    <style>
        .help
        {
            font-style: italic;
            margin-bottom: 1em;
        }
        .line-item-row
        {
            background-color: #D5DBE1;
        }
        .sub-line-item
        {
            border-spacing: 0;
            border: 0;
            background-color:#F2EBCC;
        }
        .sub-line-item-split
        {
            border-spacing: 0;
            border: 0;
            background-color:#B2C9C5;
        }
        
        #order-splits > li { background-color: #B2C9C5; margin:1em; padding:2em;}
        
        form input[type='text'].quantity { min-width: 0; width: 40px;}
        form select.unit { min-width: 80px; width: 40px;}
        form input[type='text'].catalog-num { min-width: 0; width: 100px;}
        form input[type='text'].description { min-width: 0; width: 520px;}
        form input[type='text'].price,#shipping, #tax,#freight  { min-width: 0; width: 40px;}
        
        form select.account-subaccount, form select.account-number {min-width: 130px; width: 130px;}
        form input.account-projectcode {min-width: 80px; width: 80px;}

        .account-container, .account-split-amounts {display: inline-block;}
        .account-container {margin-right: 80px;}

        #accounts-search-dialog header { display: inline-block; width: 100%; border-bottom: 1px solid #DDDDDD; padding-bottom: 3px;}
        #accounts-search-dialog section { padding: 1em; }
        #accounts-search-dialog select, #accounts-search-dialog input[type='text'] {padding: .5em;}

        #accounts-search-dialog-results .selected {background-color: lightblue;}
        
        #search-vendor-dialog input[type='text'], #search-vendor-dialog select {padding: .5em; min-width: 300px; width: 300px;}
        #search-vendor-dialog section {padding: 1em; margin: 10px 0;}

        #add-line-item {}
        .invisible { display:none; }
        
        .line-item-details, .line-item-splits {display: none;}
        
        .invalid-number-warning
        {
            background-color: #FFDCDC;
        }
        
        td {text-align: left;}        
    </style>
    @*<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>*@
    <script src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script src="@Url.Script("OrderMockup.js")"></script>
    <script src="@Url.Script("fileuploader.js")"></script>
    <script src="@Url.Script("jquery.qtip.min.js")"></script>
    <script type="text/javascript">

        purchasing.options({ 
                AddVendorUrl: "@Url.Action("AddVendor")", 
                AddAddressUrl: "@Url.Action("AddAddress")", 
                UploadUrl: '@Url.Action("Upload")',
                KfsSearchUrl: '@Url.Action("SearchKfsAccounts")',
                KfsSearchSubAccountsUrl: '@Url.Action("SearchSubAccounts")',
                AddKfsVendorUrl: '@Url.Action("AddKfsVendor", "WorkgroupVendor")',
                SearchVendorUrl: '@Url.Action("SearchVendor", "WorkgroupVendor")',
                SearchVendorAddressUrl: '@Url.Action("SearchVendorAddress", "WorkgroupVendor")'
            });

        $(function () {

            purchasing.init();
                
        });

    </script>
}

@using (Html.BeginForm())
{
    <section>
        <header>Justification</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                        <textarea name="justification" placeholder="Enter your justification for this order" rows="4" cols="50"></textarea>
                    </div>
                </li>
            </ul>

        </div>
    </section>
    
    <section>
        <header>Vendor</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                        @this.Select("vendor").FirstOption("Select A Vendor").Options(ViewBag.Vendors, "Id", "Name")
                        (or)
                        <a id="add-vendor" class="button" href="#">Add new vendor</a>
                        (or)
                        <a id="search-vendor" class="button" href="#">Search Vendor</a>
                    </div>
                </li>
            </ul>

        </div>
    </section>
    
    <section>
        <header>Shipping Address</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

        </div>

        <ul>
        
            <li><div class="editor-label">Deliver To:</div>
                <div class="editor-field"><input name="shipTo" type="text" title="Specify to whom the delivery should be sent." placeholder="Delivery Name" value="Mr. Smith"/></div>
            </li>

            <li><div class="editor-label">Email:</div>
                <div class="editor-field"><input name="shipEmail" type="email" placeholder="Delivery Email" value="msmith@ucdavis.edu"/></div>
            </li>

            <li><div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    @this.Select("shipAddress").FirstOption("Select A Shipping Address").Options(ViewBag.Addresses, "Id", "Name")
                    (or)
                    <a id="add-address" class="button" href="#">Add new Shipping Address</a>    
                </div>
            </li>

        </ul>
        
    </section>
    
    <section id="line-items-section" class="padded">
        <header>@*<span style="float:left;">Line Items</span> </div>*@
                <div class="col1">Line Items</div>
                <div class="col2"><a href="#" id="add-line-item" class="button" style="float:right;" >Add New Item</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            
            <table id="line-items">
                <thead>
                    <tr>
                        <th width="50px">Quantity</th>
                        <th>Unit</th>
                        <th>Catalog #</th>
                        <th>Description</th>
                        <th>Unit Price</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody id="line-items-body">                    
                </tbody>
                <tfoot>  
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Subtotal:
                        </td>
                        <td style="text-align: left;">
                            <em><span id="subtotal">$12.99</span></em>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Shipping Amount:
                        </td>
                        <td>
                            <span><input id="shipping" name="shipping" type="text" value="$2.75" title="Shipping costs are taxable"/></span>
                        </td>
                        <td></td>
                    </tr>                    
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Freight:
                        </td>
                        <td>
                            <span><input id="freight" name="freight" type="text" value="$0.00" title="Freight will not be taxed"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Estimated Tax:
                        </td>
                        <td>
                            <span><input id="tax" name="tax" type="text" value="8.25%"/></span>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="item-footer">
                        <td colspan="4" style="text-align: right;">
                            Grand Total:
                        </td>
                        <td style="text-align: left;">
                            <strong><span id="grandtotal">$17.04</span></strong>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
                
        <footer>
            <div class="col1"></div>
            <div class="col2"><a href="#" id="cancel-split-by-line" class="button" style="float:right; display:none;">Cancel Split By Line</a><a href="#" id="split-by-line" class="button" style="float:right;" >Split By Line</a><div style="clear:both;"></div></div>
        </footer>
    </section>

    <section id="order-account-section">
        <header>Order Details</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <div>
                <ul>
                    <li>
					    <div class="editor-label">
						    Select An Account:
					    </div>
					    <div class="editor-field">
                            <div class="account-container">
                                @this.Select("orderAccount").Options(ViewBag.Accounts, "Id", "Id").FirstOption("--Account--").Class("account-number")
                                <select name="orderSubAccount" class="account-subaccount" disabled="disabled"><option value>--Sub Account--</option></select>
                                <input name="orderProject" type="text" placeholder="Project" class="account-projectcode" maxlength="4"/>
                                <img src="@Url.Image("details.png")" class="search-account"/>
                            </div>
					    </div>
				    </li>				
                    <li>
					    <div class="editor-label">
						    (or)
					    </div>
				    </li>
                    <li>
					    <div class="editor-label">
						    Select An Approver:
					    </div>
					    <div class="editor-field">
                            @this.Select("approvers").FirstOption("Select An Approver (Optional)").Options(ViewBag.Approvers, "Id", "FullNameAndId")
					    </div>
				    </li>
				    <li>
					    <div class="editor-label">
						    Select An Account Manager:
					    </div>
					    <div class="editor-field">
                            @this.Select("accountmanagers").FirstOption("Select A Purchasing Agent").Options(ViewBag.AccountManagers, "Id", "FullNameAndId")
					    </div>
				    </li>							
                    <li>
					    <div class="editor-label">
						    (or)
					    </div>
				    </li>
                    <li><div class="editor-label">Split Order:</div>
                        <div class="editor-field">
                            <a id="split-order" class="button" href="#">Split Order Request</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    
    <section id="order-split-section" class="padded" style="display: none;">
        <header>
                <div class="col1">Order Account Splits</div>
                <div class="col2"><a href="#" id="add-order-split" class="button" style="float:right;" >Add Split</a><div style="clear:both;"></div></div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul id="order-splits"></ul>
            <ul>
                <li>
                    <div class="editor-label">Split Total</div>
                    <div class="editor-field">
                        <span id="order-split-account-total">$0.00</span>
                        &nbsp;&nbsp;<span id="order-split-account-difference" class="amount-difference"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Order Total</div>
                    <div class="editor-field">
                        <span id="order-split-total">$100.50</span>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            <div class="col1"></div>
            <div class="col2"><a href="#" id="cancel-order-split" class="button" style="float:right;" >Cancel Order Split</a><div style="clear:both;"></div></div>
        </footer>
    </section>
    
    <section id="order-restricted-section" class="padded">
        <header>
                <div class="col1">Restricted Order?</div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

            <ul>
                <li>
                    <div class="editor-label">Restricted?</div>
                    <div class="editor-field">
                        <input type="checkbox" id="order-restricted-checkbox" name="restricted" /> <label for="order-restricted-checkbox">Check this box if the order contains a restricted item</label>
                    </div>
                </li>
            </ul>

            <ul id="order-restricted-fields" style="display:none;">
                <li>
                    <div class="editor-label">RUA Number</div>
                    <div class="editor-field">
                        <input name="rua" type="text" placeholder="RUA #" title="Radioactive Use Authorization Number"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Class/Schedule</div>
                    <div class="editor-field">
                        <input name="restrictedClass" type="text" placeholder="Class/Schedule"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">How it is used?</div>
                    <div class="editor-field">
                        <input name="restrictedUse" type="text" placeholder="How it is used"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Storage Site</div>
                    <div class="editor-field">
                        <input name="restrictedStorageSite" type="text" placeholder="Storage Site" title="Approved storage site on record"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Custodian</div>
                    <div class="editor-field">
                        <input name="restrictedCustodian" type="text" placeholder="Custodian"/>
                    </div>
                </li>
                <li>
                    <div class="editor-label">Authorized User(s)</div>
                    <div class="editor-field">
                        <input name="restrictedUsers" type="text" placeholder="Authorized User(s)" title="Enter authorized users here. Multiple names should be separated with a comma."/>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
    <section>
        <header>Order Preferences</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>

        <ul>
            <li>
			    <div class="editor-label">
				    <label>Date Needed:</label>
			    </div>
			    <div class="editor-field">
                    <input name="dateNeeded" type="text" class="datepicker" title="Optionally specify a date when the delivery needs to arrive by." />
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Allow Backorder?</label>
			    </div>
			    <div class="editor-field">
                    <input name="backorder" type="checkbox" />
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Comments and/or special instructions:</label>
			    </div>
			    <div class="editor-field">
                    <textarea name="comments"></textarea>
			    </div>
		    </li>
            <li>
			    <div class="editor-label">
				    <label>Attachments:</label>
			    </div>
			    <div class="editor-field">
                    <div id="file-uploader">       
                        <noscript>          
                            <p>Please enable JavaScript to use file uploader.</p>
                            <!-- or put a simple form for upload here -->
                        </noscript>         
                    </div>
			    </div>
		    </li>
        </ul>

        </div>

    </section>    
    
    <section>
        
        <div class="section-contents">
        
            <ul>
                <li><div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                    
                        <input type="submit" class="button" value="Submit"/>
                        |
                        <a href="">Cancel</a>

                    </div>
                </li>
            </ul>

        </div>

    </section>
    
}

<script id="accounts-select-template" type="text/x-jquery-tmpl">
    <div class="account-container">
        @this.Select("splitAccount").Options(ViewBag.Accounts, "Id", "Id").FirstOption("--Account--").Class("account-number")
        <select name="splitSubAccount" class="account-subaccount" disabled="disabled"><option>--Sub Account--</option></select>
        <input name="splitProject" type="text" placeholder="Project" class="account-projectcode" maxlength="4"/>
        <img src="@Url.Image("details.png")" class="search-account"/>
    </div>
</script>

<script id="unit-of-measure-select-template" type="text/x-jquery-tmpl">
    @this.Select("units").Options(ViewBag.Units, "Id", "Name").Selected("EA").Class("unit")
</script>
<script id="line-item-split-template" type="text/x-jquery-tmpl">
    <tr>
        <td colspan="6">
            {{tmpl "#accounts-select-template"}}
            <div class="account-split-amounts">
                $Amt: <input name="amount" placeholder="$amt" class="line-item-split-account-amount" title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                (or)
                Pct%: <input name="percent" placeholder="pct%" class="line-item-split-account-percent" title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>
            </div>
        </td>
    </tr>
</script>
<script id="order-split-template" type="text/x-jquery-tmpl">
    <li>
        <ul>
            <li>
                <div class="editor-label">Account: </div>
                <div class="editor-field">
                    {{tmpl "#accounts-select-template"}}
                </div>
            </li>
            <li>
                <div class="editor-label">Split Value:</div>
                <div class="editor-field">
                $Amt: <input name="amount" type="text" placeholder="$amt" class="order-split-account-amount" title="Dollar amount for this account. Will also auto-calculate a percentage."/>
                    (or)
                Pct%: <input name="percent" type="text" placeholder="pct%" class="order-split-account-percent" title="Percentage of the total split amount that will be applied to this account.  Will auto-calculate amount."/>
                </div>
            </li>
        </ul>
    </li>
</script>

<script id="line-item-template" type="text/x-jquery-tmpl">
    <tr class="line-item-row">
        <td><input name="quantity" type="text" placeholder="Qnt." class="quantity" title="Number of Units for this line item. Will be multipled by price to calculate cost."/></td>
        <td>{{tmpl "#unit-of-measure-select-template"}}</td>
        <td><input name="catalogNumber" type="text" placeholder="Catalog #" class="catalog-num" title="Enter the vendor provided catalog number. Ex: NCC1701" /></td>
        <td><input name="description" type="text" placeholder="Description" class="description" title="Just a friendly description to remember the item by later"/></td>
        <td>
            <input name="price" type="text" placeholder="Price" class="price" title="Price per unit." style="float:left;" />
            <span class="ui-state-default ui-corner-all ui-state-hover" style="float:right; margin:.1em;">
                <a href="#" class="ui-icon ui-icon-calculator price-calculator"></a>
            </span>                
        </td>
        <td><a href="#" class="toggle-line-item-details button">+/-</a></td>
    </tr>
    <tr class="line-item-details">
        <td colspan="6">
            <table class="sub-line-item">                            
                <tr>
                    <td colspan="2">Commodity Code: <select name="commodityCode"><option value>Select Commodity Code</option></select></td>
                    <td>Url: <input name="url" placeholder="Item Url"/></td>
                    <td colspan="3">Notes: <textarea name="notes" placeholder="Item Notes"></textarea></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="line-item-splits">
        <td colspan="6">
            <table class="sub-line-item-split">
                <tbody class="sub-line-item-split-body"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            Split Total: <span class="add-line-item-split-total">$0.00</span>
                            &nbsp;&nbsp;<span class="add-line-item-split-difference amount-difference"></span>
                        </td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Line Total: <span class="add-line-item-total">$0.00</span></td>
                        <td colspan="2"></td>
                        <td colspan="2" style="text-align: right;"><a class="add-line-item-split button" href="#">Add Split +</a></td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
</script>

<script id="accounts-search-dialog-results-template" type="text/x-jquery-tmpl">
    <tr>
        <td><input type="button" class="result-select-btn" value="Select" /></td>
        <td class="result-name">${name}</td>
        <td class="result-account">${account}</td>
    </tr>
</script>

<script id="select-option-template" type="text/x-jquery-tmpl">
    <option value="${id}">${name}</option>
</script>

<div id="vendor-dialog" title="Add Vendor">
    <form id="vendor-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <ul>
                <li>
                    <div class="editor-label">
                        Name:</div>
                    <div class="editor-field">
                        <input id="vendor-name" name="vendorName" type="text" placeholder="Vendor Name" class="required" maxlength="40" />
                        <span class="field-validation-valid" data-valmsg-for="vendorName" data-valmsg-replace="true">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        Address:</div>
                    <div class="editor-field">
                        <input id="vendor-address" name="vendorAddress" type="text" placeholder="Address" class="required" maxlength="40" />
                        <span class="field-validation-valid" data-valmsg-for="vendorAddress" data-valmsg-replace="true">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        City:</div>
                    <div class="editor-field">
                        <input id="vendor-city" name="vendorCity" type="text" placeholder="City" class="required" maxlength="40" />
                        <span class="field-validation-valid" data-valmsg-for="vendorCity" data-valmsg-replace="true"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        State:</div>
                    <div class="editor-field">
                        <input id="vendor-state" name="vendorState" type="text" placeholder="State" class="required" maxlength="2" />
                        <span class="field-validation-valid" data-valmsg-for="vendorState" data-valmsg-replace="true"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        Zip:</div>
                    <div class="editor-field">
                        <input id="vendor-zip" name="vendorZip" type="text" placeholder="Zip" class="required" maxlength="11" />
                        <span class="field-validation-valid" data-valmsg-for="vendorZip" data-valmsg-replace="true"></span>
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        Country Code:</div>
                    <div class="editor-field">
                        <input id="vendor-country-code" type="text" placeholder="Country Code" /></div>
                </li>
            </ul>
        </div>
    </form>
</div>

<div id="search-vendor-dialog" title="Search KFS Vendor">
    <section>
        <input type="text" placeholder="Vendor Name" id="search-vendor-dialog-searchbox"/>
        <input type="hidden" id="search-vendor-dialog-selectedvendor"/>
    </section>
    <section>
        <select id="search-vendor-dialog-vendor-address" disabled="disabled">
            <option value="">--Select Address--</option>
        </select>
    </section>
</div>

<div id="address-dialog" title="Add Shipping Address">
    <form id="address-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>
            <ul>        
                <li><div class="editor-label">Name:</div>
                    <div class="editor-field"><input id="address-name" type="text" placeholder="Address Name"/></div>
                </li>
                <li><div class="editor-label">Building:</div>
                    <div class="editor-field"><input id="address-building" type="text" placeholder="Building" /></div>
                </li>
                <li><div class="editor-label">Room:</div>
                    <div class="editor-field"><input id="address-room" type="text" placeholder="Room" /></div>
                </li>                                                                   
                <li><div class="editor-label">Address:</div>                               
                    <div class="editor-field"><input id="address-address" type="text" placeholder="Address" /></div>
                </li>                                                                   
                <li><div class="editor-label">City:</div>                               
                    <div class="editor-field"><input id="address-city" type="text" placeholder="City" /></div>
                </li>                                                                   
                <li><div class="editor-label">State:</div>                              
                    <div class="editor-field"><input id="address-state" type="text" placeholder="State" /></div>
                </li>                                                                   
                <li><div class="editor-label">Zip:</div>                                
                    <div class="editor-field"><input id="address-zip" type="text" placeholder="Zip" /></div>
                </li>                                                                   
                <li><div class="editor-label">Phone:</div>                       
                    <div class="editor-field"><input id="address-phone" type="text" placeholder="Phone Number" /></div>
                </li>
            </ul>
        </div>
    </form>
</div>

<div id="calculator-dialog" title="Price Calculator">
    <form id="address-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>            
            <div>
                <select><option>Calculate Price with Extended Price</option></select>
            </div>
            <ul>        
                <li><div class="editor-label">Quantity:</div>
                    <div class="editor-field"><input id="calculator-quantity" type="text" placeholder="Quantity"/></div>
                </li>
                <li><div class="editor-label">Extended Total:</div>
                    <div class="editor-field"><input id="calculator-total" type="text" placeholder="Total" title="Extended Total is the total price of all items on this line" /></div>
                </li>
                <li><div class="editor-label">Price:</div>
                    <div class="editor-field"><input id="calculator-price" disabled="disabled" type="text" placeholder="Price" title="The price of one unit" /></div>
                </li>
            </ul>
        </div>
    </form>
</div>

<div id="accounts-search-dialog" title="Kfs Search Account" style="display:none;">
    <form id="accounts-search-form">
        <div class="section-contents">
            <div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>            
            <div>
                <input type="hidden" id="accounts-search-dialog-selected"/>
            </div>
            <section>
                <input type="text" id="accounts-search-dialog-searchbox" placeholder="Acct # or Name"/>
                <img src="@Url.Image("details.png")" id="accounts-search-dialog-searchbox-btn"/>
                <table id="accounts-search-dialog-results">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
        </div>
    </form>
</div>