@using Purchasing.Core.Domain
@using Purchasing.Web.Controllers
@model AssignAccountViewModel

@{
    ViewBag.Title = "Assign Account";
}

@section SubNav
{
    <ul class="navigation">

        <li>
        @Html.ActionLink("Add Account(s)", "CreateWorkgroupAccount", new {id=Model.Workgroup.Id} )
        </li>
        
    </ul>
}

@section AdditionalScripts {

    <style type="text/css">
    
        .account-details {background-color: #CCCCCC; display: none;}
    
        .account-peep-container
        {
            display: inline-block;
            border: 1px solid white;
            width: 300px;
            float: left;
            margin-right: 20px;
            min-height: 50px;
        }

        .account-peep-container header
        {
            font-weight: bold;
        }

        .account-peep-container ul
        {
            float: left;
            margin-left: 30px;
            margin-top: 1em;
        }
    
    </style>

    <script type="text/javascript">

        $(function () {

            $(".showmore, .showless").click(function () {

                $(this).toggleClass("showmore");
                $(this).toggleClass("showless");
                $(this).toggleClass("ui-icon-circle-plus");
                $(this).toggleClass("ui-icon-circle-minus");

                $(this).parents("tr").next().toggle();

            });

        });

    </script>

}

<table>
    <thead>
        <tr>
            <th></th>
            <th>Account</th>
            <td>Name</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var odd = false;
        }
        @foreach (var acct in Model.Workgroup.Accounts)
        {
            <tr class="account-data @(odd ? "odd" : string.Empty)">
                <td></td>
                <td>@acct.Account.Id</td>
                <td>@acct.Account.Name</td>
                <td><span class="showmore ui-icon ui-icon-circle-plus"></span></td>
            </tr>
            <tr class="account-details">
                <td colspan="4">
                
                    <div class="account-peep-container">
                        <header>Account Manager(s)</header>

                        <ul>
                        @foreach (var wap in Model.AccountPermissions.Where(a => a.Role.Id == Role.Codes.AccountManager && a.WorkgroupAccount == acct))
                        {
                            <li>@wap.User.FullNameAndIdLastFirst</li>
                        }
                        </ul>
                    </div>
                    <div class="account-peep-container">
                        <header>Approver(s)</header>

                        <ul>
                        @foreach (var wap in Model.AccountPermissions.Where(a => a.Role.Id == Role.Codes.Approver && a.WorkgroupAccount == acct))
                        {
                            <li>@wap.User.FullNameAndIdLastFirst</li>
                        }
                        </ul>
                    </div>
                    <div class="account-peep-container">
                        <header>Purchaser(s)</header>

                        <ul>
                        @foreach (var wap in Model.AccountPermissions.Where(a => a.Role.Id == Role.Codes.Purchaser && a.WorkgroupAccount == acct))
                        {
                            <li>@wap.User.FullNameAndIdLastFirst</li>
                        }
                        </ul>
                    </div>

                </td>
            </tr>

            odd = !odd;
        }

    </tbody>
</table>


