@model FilteredOrderListModelDto
           
@{
    var extra = "";
    if(!string.IsNullOrWhiteSpace(Model.ShowLast))
    {
        extra = " completed this month";
    }
    ViewBag.Title = "Orders" + extra;
    ViewBag.SingleColumn = false;
    ViewBag.GetMethod = "Index";
    ViewBag.LoadTableTools = true; //ignored
    ViewBag.LoadFixedHeaders = true; //ignored 
    ViewBag.DisableGlobalDataTables = true;
    ViewBag.LastRefreshTitle = string.Format("The data on this page is current as of {0}-- recent changes may make take up to five minutes to process. Press F5 to refresh.", @ViewBag.IndexLastModified.ToString("dddd h:mm:ss tt"));
    ViewBag.LastRefresh = string.Format("Results current as of {0}", @ViewBag.IndexLastModified.ToString("dddd h:mm tt"));
    
   
}

@section SubNav
{
    <span id="refreshMessage" title="@ViewBag.LastRefreshTitle" class="showTip" style="position: relative; top: -20px; font-style: italic;">
        @ViewBag.LastRefresh 
    </span>
	<ul class='navigation'>
        @*<li>@Html.ActionLink("Create New", "Create")</li>*@
        @if (string.IsNullOrWhiteSpace(Model.ShowLast))
        {
            <li>@*@Html.ActionLink("Filters", "filters", "", new { @class = "button" })*@
                <a href="#" id="filterToggle" class="button selected">Filters</a>
            </li>
        }
        <li>@Html.ActionLink("Update Column Preferences", "ColumnPreferences", "User", new { id = User.Identity.Name, fromList = true }, new { @class = "button" })</li>
	</ul>
}

@section AdditionalStyles
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.2/css/colReorder.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.css"/>
}

@section AdditionalScripts
{

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#filterToggle").click(function () {
                $(".dt-table-filter-header").toggle();
                $(this).toggleClass("selected");
                event.preventDefault();
            });


            var table = $(".dt-table, .datatable").dataTable({
                bJQueryUI: false,
                sPaginationType: "full_numbers",
                oLanguage: { sSearch: "Filter Within These Results: " },
                iDisplayLength: window.Configuration.DataTablesPageSize,
                sDom: 'lBfrtip',
                //sDom: 'T<"clear">lBfrtip',
                "buttons": [
                    {
                        extend: 'copyHtml5'
                    },
                    {
                        extend: 'excelHtml5'
                    },
                    {
                        extend: 'csvHtml5'
                    }
                ],
                fnDrawCallback: function(oSettings) {
                    $(".showTip").qtip({
                        overwrite: false,
                        show: {
                            event: "mouseenter focus",
                            ready: false
                        },
                        hide: {
                            event: "mouseleave blur"
                        },
                        position: {
                            my: "bottom center",
                            at: "top center"
                        }
                    });
                },
                fixedHeader: true
            });

            //$.each($(".dataTables_wrapper"), function(index, item) {
            //    RearranngeDataTable($(item));
            //});
            });


        $(document).ready(function () {
            $("#peepsDialog").dialog({
                autoOpen: false,
                height: 610,
                width: 500,
                modal: true,
                buttons: {
                    "Cancel": function () {
                        $("#peepsUl").empty();
                        $("#peepsLoaderId").hide();
                        $(this).dialog("close");
                    }
                }
            });
        });
        
        $(function () {
            $('.dt-table').on('click', '.workgroupDetails',function () {
                var temp = $(this);
                var orderId = temp.data("id");
                var role = temp.data("role");
                //alert(orderId + role);
                var url = '@Url.Action("GetPeeps", "Order")';
                var dialogList = $("#peepsUl");
                dialogList.empty();
                $("#peepsDialog").dialog("open");
                $("#peepsLoaderId").show();
                $.getJSON(url, { id: orderId, orderStatusCodeId: role }, function (result) {
                    $("#peepsLoaderId").hide();
                    if (result == null || result.success == false) {
                        alert("There was a problem getting the list of users.");
                    } else {
                        $(result.peeps).each(function () {
                            dialogList.append("<li>" + this.FullName + " " + this.Email  + "</li>");
                        });
                    }
                });
            });
        });
    </script>
}

        


@if (string.IsNullOrWhiteSpace(Model.ShowLast))
{
    @Html.Partial("_OrderFilter", Model)
}
    
@Html.Partial("_OrdersTable", Model)

@Html.Partial("_PeepsDialog")