@using System.Web.Configuration
@using Purchasing.Core.Domain
@using Purchasing.Web.Services
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>Purchasing - @ViewBag.Title</title>

	<meta name="description" content="">
	<meta name="author" content="">
    
    <link type="text/plain" rel="author" href="@Url.Content("~/humans.txt")" />
    
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    
    @{
        Bundles.Reference("css", pageLocation: "common");

        var roles = UserSecurityService.UserRoles(User.Identity.Name);
        var aRoles = new List<string>() { Role.Codes.Admin, Role.Codes.DepartmentalAdmin, Role.Codes.Approver };
        // user have something that requires the admin menu?
        var hasAdmin = roles.Any(a => aRoles.Contains(a));
        
    }
    
    @Bundles.RenderStylesheets()
    @Bundles.RenderStylesheets(pageLocation: "common")

	<style type="text/css">
		#branding
		{
			z-index: 0;
		}
	</style>
    
    @{
        Bundles.Reference("scripts/external/jquery", pageLocation: "head");
        Bundles.Reference("scripts/external/jquery-ui", pageLocation: "head");
        Bundles.Reference("scripts/public/head", pageLocation: "head");

        Bundles.AddPageData("Configuration", 
            new
                {
                    AnalyticsKey = WebConfigurationManager.AppSettings["AnalyticsKey"],
                    DataTablesPageSize = ViewBag.DataTablesPageSize ?? 10, 
                    LoadTableTools = ViewBag.LoadTableTools ?? false,
                    TableToolsSwf = Url.Content("~/Content/DataTables-1.9.0/extras/TableTools/media/swf/copy_cvs_xls.swf")
                }, "common");
        Bundles.Reference("scripts/public/common", pageLocation: "common");
    }
        
    @Bundles.RenderScripts("head")

    @*@MvcMiniProfiler.MiniProfiler.RenderIncludes()*@

	@if (false)
 { //Load the jquery docs for intellisense
	<script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
 }
    
    @RenderSection("AdditionalScripts", false)

</head>
<body>
	<div class="wrapper">
	
    @*@Html.Action("ServiceMessages", "ServiceMessage")*@		
	
		<header id="branding">
			
			<!-- Application's Name -->
			<span class="header">

                <div class="col1-50">
				@*<h1>Purchasing</h1>*@

                <img src='@Url.Image("PrePurchasing-Logo.png")' alt="UCD PrePurchasing" style="height: 60px;"/>

				</div>
                
                <div class="col2-50">
                <ul id="personalbar">
                    
                    <li id="username"  class="navigation-list">Hello <span id="userid">@User.Identity.Name</span></li>
                    <li id="settings" class="navigation-list">
                        @Html.ActionLink("Profile", "Profile", "User")
                        <ul>
                            <li>@Html.ActionLink("Email Preferences", "EmailPreferences", "User", new { id = User.Identity.Name }, new { })</li>
                            <li>@Html.ActionLink("Column Preferences", "ColumnPreferences", "User", new { id = User.Identity.Name }, new { })</li>
                            <li>@Html.ActionLink("Away Status", "AwayStatus", "User")</li>
                        </ul>    
                    </li> 
                    <li id="logout" class="navigation-list">@Html.ActionLink("Logout", "LogOut", "Account")</li>

                </ul>
                </div>
			</span>
		</header>

        <nav id="navigation-bar">
  
            <div class="col1-50">
            <ul id="global-nav">
            
                <li><a href="@Url.Action("Landing", "Home")">Home</a></li>
                <li class="drop-down-menu"><a href="#">Orders</a>
                
                    <ul>
                        @*<li>@Html.ActionLink("Place Order", "Request", "Order")</li>*@
                        @if (roles.Contains(Role.Codes.Requester))
                        {
                            <li>@Html.ActionLink("Place Order", "SelectWorkgroup", "Order")</li>    
                        }
                        <li>@Html.ActionLink("Order History", "Index", "Order")</li>
                        @if (roles.Contains(Role.Codes.AdminWorkgroup))
                        {
                            <li>@Html.ActionLink("Administrative Orders", "AdminOrders", "Order")</li>    
                        }
                    </ul>
                
                </li>
                @if (hasAdmin)
                {
                <li class="drop-down-menu">
                    @*@Html.ActionLink("Administration", "Index", "Admin", new {}, new {@class="navigation-button"})*@

                    <a href=#>Admin</a>

                    <ul>
                        @if (roles.Contains(Role.Codes.Approver))
                        {
                            <li>@Html.ActionLink("Auto Approvals", "Index", "AutoApproval", new { }, new { @class = "navigation-button" })</li>
                        }
                        @if (roles.Contains(Role.Codes.DepartmentalAdmin))
                        {
                            <li>@Html.ActionLink("Workgroup", "Index", "Workgroup", new { }, new { @class = "navigation-button" })</li>
                            <li>@Html.ActionLink("Orgs", "Index", "Organization", new { }, new { @class = "navigation-button" })</li>    
                            @*<li>@Html.ActionLink("Conditional Approvals", "Index", "ConditionalApproval")</li>*@
                        }
                        @if (roles.Contains(Role.Codes.Admin))
                        {
                            <li>@Html.ActionLink("Administrators", "Index", "Admin", new { }, new { @class = "navigation-button" })</li>    
                        }                        
                        
                        
                    </ul>

                </li>    
                }
                
                <li class="drop-down-menu">
                
                    @Html.ActionLink("Help", "Index", "Help")

                    @if (roles.Contains(Role.Codes.Admin))
                    {
                        <ul>
                            <li>@Html.ActionLink("Create New", "Create", "Help", new {}, new {@clsas="navigation-button"} )</li>
                        </ul>    
                    }

                </li>

                
                
@*                <li>
                    @Html.ActionLink("Dev", "Dev", "Home")
                </li>*@

            </ul>
            <div style="clear: both;"></div>
            </div>

            <div class="col2-50">
            
                @*@using (Html.BeginForm("Results", "Search", FormMethod.Get))
            {
                <ul id="search-container" style="float:right;">
                    <li>
                        <input type="search" name="q" placeholder="enter search term"/>
                        <input type="image" src="@Url.Image("Sample/search-icon.png")" class="button" value="Search!"/>
                    </li>
                </ul>   
            }*@
            
            <a href="@Url.Action("Index", "Search")" class="searchbar">
                <img src="@Url.Image("Sample/search-icon.png")" value="Search!"/>    
            </a>
                
            </div>

        </nav>
        @Html.Action("ServiceMessages", "ServiceMessage")
			
		<div class="main @(ViewBag.SingleColumn == null || (bool)ViewBag.SingleColumn ? "single-column" : string.Empty)">
			
			<header class="main-header @(ViewBag.SingleColumn == null || (bool)ViewBag.SingleColumn ? "single-column-header" : "wide-header")">
				
				@if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
    { 
				<div id="error-message">
					@TempData["ErrorMessage"]
				</div>
    }
                    				
				@if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
    { 
				<div id="status-message">
					@TempData["Message"]
				</div>
    }
				
				<div class="col1">
					<h2>@ViewBag.Title</h2>
					<h3>@ViewBag.SubTitle</h3>
				</div>
					
				<nav class="col2">
					@*Sub Page Navigation*@
					@RenderSection("SubNav", false)
				</nav>
				
			</header>
			
			<div id="body">
                @RenderBody()
			</div>
				
		</div>
			
		<footer id="footer">
			<div id="footertext">
				<nav class="col1-50">
					
					@*@Html.Partial("_Navigation")*@

                    <span class="navigation-list">Home</span>                     
                    <span class="navigation-list">Orders</span>
                    <span class="navigation-list">Administration</span>
					
				</nav>
				<div class="col2-50">
					
                    <span class="navigation-list">Version #@ViewBag.Version</span>
					
				</div>

                <ul id="authorinfo">
                    <li>Developed By <a href="@Url.Content("~/humans.txt")" target="_blank">A Team Of Programmers Across UC Davis</a></li>
                    <li>Copyright The Regents of the University of California, Davis campus, 2005-11.</li>
                    <li>All Rights Reserved.</li>
                </ul>
			</div>
		</footer>
	
	</div>
    
    @Bundles.RenderScripts("common")
    @Bundles.RenderScripts()
    
    <!--[if IE]>
        <script src="@Url.Script("jquery.placeholder.min.js")"></script>
        <script src="@Url.Script("json2.min.js")"></script>
        <script type="text/javascript">
            $(function() {
                $('input[placeholder], textarea[placeholder]').placeholder();
            })
        </script>
	<![endif]-->

    <a href="#" id="carty" class="carty" style="display: none; position: fixed; top: 40%; left: 40%; background: #fff; border-radius: 18px; box-shadow: 0px 0px 13px #333; border: 3px solid maroon; padding: 2em;">
        <img src="@Url.Image("Carty.png")" style="padding: 2em 1em; float: left; width: 100px;" />
        <span style="font-size: 2em; float: right; display: block; width: 200px; padding: 2em 1em;">Looks like you're trying to look at Orders! Can I be of service today?</span>
    </a>
</body>
</html>
