@model IQueryable<Purchasing.Core.Domain.BackupLog>

@{
    ViewBag.Title = "Database Backup Logs";
    ViewBag.SubPagetitle = "Database Backup Logs";
}

@section SubNav
{
	<ul class='navigation'>
		<li><span class="button">@Html.ActionLink("System Center", "Index")</span></li>
	</ul>
}

<table>
    <thead>
        <tr>
            <th>Request Id</th>
            <th>Date Time Created</th>
            <th>Completed</th>
            <th>Filename</th>
            <th>Deleted</th>
            <th>Date Time Deleted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bl in Model)
        {
            <tr>
                <td>@bl.RequestId</td>
                <td>@bl.DateTimeCreated</td>
                <td>@bl.Completed</td>
                <td>@bl.Filename</td>
                <td>@bl.Deleted</td>
                <td>@bl.DateTimeDeleted</td>
            </tr>
        }
    </tbody>
</table>

