@using System.Configuration
@using Purchasing.Core.Domain
@{
    ViewBag.Title = "Home Page";
}

<section class="display-form ui-corner-all">

    <header class="ui-corner-top">Completed Functions</header>

    <div class="section-contents">
    
        <div class="section-text">Links to pages/functions that are determined "complete" for basic functionality.</div>

        <ul>
            <li>@Html.ActionLink("Workgroup Functions", "Index", "Workgroup")</li>
            <li>@Html.ActionLink("Conditional Approvals", "Index", "ConditionalApproval")</li>
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
            <li>@Html.ActionLink("My Profile", "Profile", "User")</li>
            <li>@Html.ActionLink("Auto Approvals", "Index", "AutoApproval") [To be displayed for Approvers]</li>
        </ul>

    </div>

</section>

<section class="display-form ui-corner-all">

    <header class="ui-corner-top">In Progress Links</header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>Links to pages/functions that are currently in progress.  Please feel free to add to this to help yourself out so you can link directly into a page you are working on.</p>
            <p>Just use the following format: [name]link</p>
        </div>
        
        <ul>
            <li>@Html.ActionLink("Workgroup Management", "Index", "WorkgroupManagement") [Many functions moved into Workgroup Functions Above]</li>
            <li>@Html.ActionLink("Workgroup Overview (Test Workgroup)", "Manage", "WorkgroupManagement", new {id=1}, new {}) [Many functions moved into Workgroup Functions Above]</li>
            <li>@Html.ActionLink("Order Split and Approvals Service Test Controller", "Index", "OrderService")</li>
            
            <li>@Html.ActionLink("jandj WorkgroupAddress list", "Addresses", "JandJWorkgroupManagement", new {id=1}, null)</li>

            <li>@Html.ActionLink("[Alan] Test Controller", "Index", "AlanTest")</li>
            <li>@Html.ActionLink("[Alan] Administrative Orders", "AdminOrders", "AlanTest")</li>

            <li>@Html.ActionLink("[JJ] Order List", "Index", "JamesTest")</li>
            <li>@Html.ActionLink("[JJ] Order List (Multi Column)", "Index2", "JamesTest")</li>
            <li>@Html.ActionLink("[JJ] Landing Page", "LandingPage", "JamesTest")</li>
        </ul>

    </div>

</section>

<section class="display-form ui-corner-all">

    <header class="ui-corner-top">Sample Controllers</header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>These are samples of controls or proof of concepts.</p>
        </div>
        
        <ul>
            <li>@Html.ActionLink("Multi Select Controller", "Index", "MultiSelect")</li>
            <li>@Html.ActionLink("Order Request Mockup Page", "Request", "OrderMockup")</li>
            <li>@Html.ActionLink("Order Request JS Test", "Test", "OrderMockup")</li>
            <li>@Html.ActionLink("Order Request Local Storage", "LocalStorage", "OrderMockup")</li>
            @*<li>@Html.ActionLink("Order Line Items Mockup Page", "LineItems", "OrderMockup")</li>
            <li>@Html.ActionLink("Vendor Search Mockup Page", "VendorSearch", "OrderMockup")</li>*@
            <li>@Html.ActionLink("Read Only Order Page Mock (Normal)", "ReadOnly", "OrderMockup")</li>
            <li>@Html.ActionLink("Read Only Order Page Mock (Order Split)", "ReadOnly", "OrderMockup", new {type=1}, new {})</li>
            <li>@Html.ActionLink("Read Only Order Page Mock (Line Split)", "ReadOnly", "OrderMockup", new {type=2}, new {})</li>
        </ul>

    </div>

</section>

@if (ConfigurationManager.AppSettings["DemoMode"] == "true")
{
    <section class="display-form ui-corner-all">
    
        <header class="ui-corner-top">User Guide</header>

        <ul>

            @foreach (User user in ViewBag.Users)
            {
                <li>@Html.ActionLink(user.FullName, "Emulate", "Account", new { id=user.Id }, new { })
                    - @string.Join(", ", user.WorkgroupPermissions.Select(a=>a.Role.Name))
                </li>
            }

        </ul>


    </section>
}