@{
    ViewBag.Title = "Home Page";
}

<section class="display-form ui-corner-all">

    <header class="ui-corner-top">Completed Functions</header>

    <div class="section-contents">
    
        <div class="section-text">Links to pages/functions that are determined "complete" for basic functionality.</div>

        <ul>
            <li>@Html.ActionLink("Workgroup CRUD Operations", "Index", "Workgroup")</li>
            <li>@Html.ActionLink("Conditional Approvals", "Index", "ConditionalApproval")</li>
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
            <li>@Html.ActionLink("My Profile", "Profile", "User")</li>
        </ul>

    </div>

</section>

<section class="display-form ui-corner-all">

    <header class="ui-corner-top">In Progress Links</header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>Links to pages/functions that are currently in progress.  Please feel free to add to this to help yourself out so you can link directly into a page you are working on.</p>
            <p>Just use the following format: [name]link</p>
        </div>
        
        <ul>
            <li>@Html.ActionLink("Workgroup Management", "Index", "WorkgroupManagement")</li>
            <li>@Html.ActionLink("Workgroup Overview (Test Workgroup)", "Manage", "WorkgroupManagement", new {id=1}, new {})</li>
            <li>@Html.ActionLink("Order Split and Approvals Service Test Controller", "Index", "OrderService")</li>
            <li>@Html.ActionLink("Auto Approvals", "Index", "AutoApproval")</li>
            <li>@Html.ActionLink("jandj People list", "people", "JandJWorkgroupManagement", new {id=0}, null)</li>
        </ul>

    </div>

</section>

<section class="display-form ui-corner-all">

    <header class="ui-corner-top">Sample Controllers</header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>These are samples of controls or proof of concepts.</p>
        </div>
        
        <ul>
            <li>@Html.ActionLink("Multi Select Controller", "Index", "MultiSelect")</li>
            <li>@Html.ActionLink("Order Request Mockup Page", "Request", "OrderMockup")</li>
        </ul>

    </div>

</section>