@{
    Layout = null;
} 

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Purchasing - @ViewBag.Title</title>

	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">

    @{
        Bundles.Reference("css");
    }
    
    @Bundles.RenderStylesheets()

	<style type="text/css">
		#branding
		{
			z-index: 0;
		}
		
		#container
		{
		    margin: auto;
		    display: block;
		    width: 1015px;
		    text-align: center;
		}
		
		#container h2
		{
		    margin-top: 1em;
		}
		
		#container p 
		{
		    margin-top: 1em;
		}
		
		span.ui-button-text { font-size: 15px; }
	</style>

    @{
        Bundles.Reference("scripts/external/jquery", pageLocation: "head");
        Bundles.Reference("scripts/external/jquery-ui", pageLocation: "head");
        Bundles.Reference("scripts/public/head", pageLocation: "head");
    }
    
    @Bundles.RenderScripts("head")

</head>
<body>
	<div class="wrapper">
	
		@Html.Partial("_ServiceMessages")
	
		<header id="branding">
			
			<!-- Application's Name -->
			<span class="header">

                <div class="col1-50">

                <img src='@Url.Image("PrePurchasing-Logo.png")' alt="UCD PrePurchasing" style="height: 60px;"/>

				</div>
                
                <div class="col2-50">
                <ul id="personalbar">
                    
                    <li id="username"  class="navigation-list">Hello @User.Identity.Name</li>
                    <li id="settings" class="navigation-list">
                        @Html.ActionLink("Profile", "Profile", "User")
                        <ul>
                            <li>@Html.ActionLink("Email Preferences", "EmailPreferences", "User", new {id=User.Identity.Name}, new {})</li>
                            <li>@Html.ActionLink("Away Status", "AwayStatus", "User")</li>
                        </ul>    
                    </li> 
                    <li id="logout" class="navigation-list">@Html.ActionLink("Logout", "LogOut", "Account")</li>

                </ul>
                </div>
			</span>
				
		</header>

        <nav id="navigation-bar">
  
            <div class="col1-50">
            <ul id="global-nav">
            
            </ul>
            <div style="clear: both;"></div>
            </div>

            <div class="col2-50">
            
            </div>

        </nav>
        
			
		<div class="main">
			
			<header>
				
				@if(!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string)){ 
				<div id="error-message">
					@TempData["ErrorMessage"]
				</div>
				}
                    				
				@if (!string.IsNullOrWhiteSpace(TempData["Message"] as string)) { 
				<div id="status-message">
					@TempData["Message"]
				</div>
				}
				
				<div class="col1">
					<h2>@ViewBag.Title</h2>
					<h3>@ViewBag.SubTitle</h3>
				</div>
					
				<nav class="col2">

				</nav>
				
			</header>
			
			<div id="body">


                <div id="container">
                
                    <h2>Welcome to the UC Davis PrePurchasing System</h2>

                    <p>
                    
                        You must have a valid kerberos login and password to access this system.  Please contact your department prepurchasing administrator for permissions.

                    </p>
                    
                    <p>
                        
                        For more information and how to obtain access, please refer to the following website <a href="http://ucdavis.github.com/Purchasing/index.html">here</a>.

                    </p>

                    <p>
                    @Html.ActionLink("Enter the PrePurchasing System", "Landing", "Home", new {}, new {@class="button"})
                    </p>

                </div>


			</div>
				
		</div>
			
		<footer id="footer">
			<div id="footertext">
				<nav class="col1-50">
					
					
				</nav>
				<div class="col2-50">
					
                    <span class="navigation-list">Version #@ViewBag.Version</span>
					
				</div>

                <ul id="authorinfo">
                    <li>Developed By <a href="@Url.Content("~/humans.txt")" target="_blank">A Team Of Programmers Across UC Davis</a></li>
                    <li>Copyright The Regents of the University of California, Davis campus, 2005-11.</li>
                    <li>All Rights Reserved.</li>
                </ul>
			</div>
		</footer>
	
	</div>

    <script>

        $(function () { $(".button").button(); });

        Modernizr.load({
            test: Modernizr.input.placeholder,
            nope: '@Url.Content("~/Scripts/jquery.placeholder.min.js")',
            complete: function () {
                if (!Modernizr.input.placeholder) {
                    $('input').placeholder();
                }
            }
        });
    </script>
	

</body>
</html>
