@model Purchasing.Web.Models.LandingPageViewModel
@{
    ViewBag.Title = "PrePurchasing Home";
    ViewBag.SingleColumn = false;
}

@helper ContainerFor(string name, int count, string title = null, string showOwned = null, string hideCreatedByYou = null){
    <div>
        <a href="@Url.Action("Index", "Order", new {showOwned, hideCreatedByYou}, null)" style="text-decoration: none; display: inline-block;">

            <div class="ui-corner-all @(count > 5 ? "warning-box ui-state-error" : "notification-box ui-state-highlight") showTip" title="@title">
                <div class="ui-icon @(count > 5 ? "ui-icon-alert" : "ui-icon-info")"></div>
                <div> @name @count</div>
        
            </div>
        </a>
    </div>
}

@section AdditionalScripts{

    <script src="@Url.Script("jquery.qtip.min.js")"></script>
    <link href="@Url.Css("jquery.qtip.min.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">
        $(document).ready(function() {
            $(".showTip").qtip({
                overwrite: false,
                show: {
                    event: 'mouseenter focus',
                    ready: false
                },
                hide: {
                    event: 'mouseleave blur'
                },
                position: {
                    my: 'bottom center',
                    at: 'top center'
                }
            });
        });

    </script>
    <style>
        .warn { color: red; }
        .col1-15 {width: 14.5%;display: inline-block;float: left;margin-right: 8px;}
        .col2-15, .col3-15, .col4-15 {width: 27.5%;display: inline-block;float: left;margin-right: 8px;}
    </style>
    
    <script id="row-template" type="text/x-jquery-tmpl">
        <tr class="${EvenOdd}">
            <td>${FullNameAndId}</td>
            <td>${Pending}</td>
            <td>${Completed}</td>
        </tr>
    </script>
    
    <script type="text/javascript">
        $(function () {
            $(".table-filter-rb").click(function () {
                var url = '@Url.Action("RequestAmountSummaryCall")';

                $.getJSON(url, { filter: $(this).data("id") }, function (result) {
                    $("#costSummary tbody").empty();

                    $("#row-template").tmpl(result).appendTo("#costSummary tbody");
                });
            });
        });
    </script>

}


<div class="col1-50">

        <div class="display-form ui-corner-all box-shadow">
    
            <header class="ui-widget-header ui-corner-top">Top 5 Oldest Orders</header>

            <div class="section-contents">
                @Html.Partial("_OrdersNoDataTable", Model.OldestFOLM)

            </div>

        </div>

    </div>

<div class="col-50-left">

    <div class="display-form ui-corner-all box-shadow">
    
        <header class="ui-widget-header ui-corner-top">Top 5 Newest Orders</header>

        <div class="section-contents">
        
            @Html.Partial("_OrdersNoDataTable", Model.NewestFOLM)

        </div>

    </div>

</div>

<div class="col1-50">

    <div class="display-form ui-corner-all box-shadow">
    
        <header class="ui-widget-header ui-corner-top">Last 5 orders you have acted on</header>

        <div class="section-contents">
        
            @Html.Partial("_OrdersNoDataTable", Model.LastFiveFOLM)

        </div>

    </div>

</div>

<div class="col2-20">
    <div class="display-form ui-corner-all box-shadow">
    
        <header class="ui-widget-header ui-corner-top">Workgroup Associations</header>

        <div class="section-contents">
            @ContainerFor("Your Open Orders: ", Model.YourOpenRequestCount, "Orders that you have created that have not been submitted.", "true")
            @ContainerFor("Your Overdue Orders: ", Model.YourNotActedOnCount, "Your orders which have not been acted on in 7 days or more.", "true")
            @ContainerFor("Orders pending your action: ", Model.OrdersPendingYourActionCount, "Orders which are waiting for you to act on them.", null, "true")

        </div>
    </div>

</div>

    @if(@ViewBag.ShowRequestorSummaryTotals != null && @ViewBag.ShowRequestorSummaryTotals == true)
    {
        <div class="col3-25">


            <div class="display-form ui-corner-all box-shadow">
    
                <header class="ui-widget-header ui-corner-top">Requester Summary Order Totals</header>

                <div class="section-contents">
                    <div>
                        <input type="radio" class="table-filter-rb" name="Filter" data-id="A" /> All
                        <input type="radio" class="table-filter-rb" name="Filter" data-id="Y" /> Year
                        <input type="radio" class="table-filter-rb" name="Filter" data-id="M" checked="checked" /> Month
                        <input type="radio" class="table-filter-rb" name="Filter" data-id="W" /> Week
                    </div>
                    <table id="costSummary" class="no-icon-table">
                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>

                                <th>
                                    Pending
                                </th>

                                <th>
                                    Completed
                                </th>
			
                            </tr>
                        </thead>
                        <tbody>
                            @{ var odd = false; }
                            @foreach(var item in Model.RequesterTotals)
                            {
                                <tr class="@(odd ? "odd" : "even")">

                                    <td>
                                        @item.FullNameAndId
                                    </td>

                                    <td>
                                        @item.Pending
                                    </td>

                                    <td>
                                        @item.Completed
                                    </td>
                                </tr>
                                odd = !odd;
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    }