@using Purchasing.Core.Domain
@model LandingViewModel

@{
    ViewBag.Title = "";
}

@{
    const int orderShowCount = 8;
    var urgentOrders = Model.PendingOrders.Where(o => o.TimeUntilDue() < TimeSpan.FromDays(7)).OrderBy(o => o.DateNeeded).ToList();
}

@{
    Bundles.Reference("scripts/public/single/Landing.js");
}

<script type="text/javascript">
    $(function () {
        purchasing.options({
            OrdersBaseUrl: '@Url.Action("Index", "History")',
            RecentActivityUrl: '@Url.Action("RecentActivity", "History")',
            RecentlyCompletedUrl: '@Url.Action("RecentlyCompleted", "History")',
            RecentComments: '@Url.Action("RecentComments", "History")'
        });
        
        purchasing.init();
    });
</script>

@*<div class="col-right">*@
@*
    ///TODO: Ask trish about just making this full screen
*@
<div class="col-right" style="width:100%; margin-left: 0px;">
    <section class="dashboard-main col-100">
        <header class="ui-widget-header ui-corner-top">&nbsp;</header>
        <nav>
            <ul id="tab-container">
                <li id="tab-orders-urgent" data-type="urgent-orders" data-filter="?ShowPending=true" class="selected stat">
                    <a href="#" title="Any order pending your review that is either overdue or due within 7 days"><span class="label">Urgent orders</span> <span class="bignum">@urgentOrders.Count()</span></a>
                </li>
                <li id="tab-orders-pending" data-type="pending-orders" data-filter="?ShowPending=true" class="stat">
                    <a href="#" title="Any order pending your review"><span class="label">Pending your action</span> <span class="bignum">@Model.PendingOrders.Count()</span></a>
                </li>
                <li id="tab-orders-open" data-type="your-open-orders" data-filter="?showCreated=true" class="stat">
                    <a href="#" title="Any order you created that has not been finalized"><span class="label">Your Open Orders</span> <span class="bignum">@Model.YourOpenOrders.Count()</span></a>
                </li>
                <li class="action">
                    <a href="@Url.Action("SelectWorkgroup", "Order")" title="Create a new order request">Request a new order</a>
                </li>
                <li class="action">
                    <a href="@Url.Action("Index", "History")" title="View a customizable list of all orders ever created">View order history</a>
                </li>
            </ul>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Order #</th>
                    <th>Created</th>
                    <th>Request by</th>
                    <th>Current level</th>
                </tr>
            </thead>
            <tbody id="main-orders-body">
                @Html.Partial("_OrderHistoryRows", urgentOrders.Take(orderShowCount))
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td><a href="@Url.Action("Index", "History", new { })" id="orders-view-history">View orders like this &gt;</a></td>
                </tr>
            </tfoot>
        </table>
    </section>
    
    <div style="display:none;">
        <table>
            <tbody id="urgent-orders"></tbody>    
        </table>
        <table>
            <tbody id="pending-orders">
                @Html.Partial("_OrderHistoryRows", Model.PendingOrders.Take(orderShowCount))
            </tbody>
        </table>
        <table>
            <tbody id="your-open-orders">
                @Html.Partial("_OrderHistoryRows", Model.YourOpenOrders.Take(orderShowCount))
            </tbody>
        </table>
    </div>

    <section class="recent-activity col-25">
        <header class="ui-widget-header ui-corner-top">Recent activity</header>
        <div id="recent-activity-container"></div>
    </section>

    <section class="complete col-25">
        <header class="ui-widget-header ui-corner-top">Complete</header>
        <!--<div id="recently-completed-container"></div>-->

        <div id="recently-completed">
        <p><span class="time-ago">This month, you've had</span></p>
            <div class="scoreboard">
                <p class="count"><a id="completed-container" href="@Url.Action("Index", "History", new { selectedOrderStatus = OrderStatusCode.Codes.Complete, startLastActionDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1) })">--</a>
                    <span class="label">Completed Orders</span></p>
            </div>
            <div class="scoreboard">
            <p class="count"><a id="denied-container" href="@Url.Action("Index", "History", new { selectedOrderStatus = OrderStatusCode.Codes.Denied, startLastActionDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1) })">--</a>
                <span class="label">Denied Orders</span></p>
            </div>
        <p class="review"><a href="@Url.Action("Index","History")">Review your history &gt;</a></p>
        </div>


    </section>

    <section class="comments col-50 col-last">
        <header class="ui-widget-header ui-corner-top">Recent comments</header>
        <aside id="recent-comments-container"></aside>
    </section>

    <div style="clear: both;">&nbsp</div>

    <section class="disclaimer col-95">
        <header class="ui-widget-header ui-corner-top">Conflict of Interest Statement</header>
        <p>University policy and California state law prohibit employees from engaging in activities that place them 
        in a conflict of interest between their university activities and any other interest or obligation.  If you 
        believe this request “might” be a potential <strong>conflict of interest</strong> and/or an <strong>employee-vendor transaction</strong>, please 
        contact your purchasing unit supervisor or UC Davis Contracting Services prior to submitting your request to 
        ensure there is no potential conflict and/or to complete appropriate documentation needed for evaluation by 
        campus business contracts or purchasing.  Further information on potential conflict of interest and selecting a 
        vendor is located at <a href="http://purchasing.ucdavis.edu/b4ubuy/vendors.cfm">http://purchasing.ucdavis.edu/b4ubuy/vendors.cfm</a>.   </p>
    </section>

</div>