@model LandingViewModel

@{
    ViewBag.Title = "Landing";
}

@{
    var urgentOrders = Model.PendingOrders
        .Where(a => a.DateNeeded != null && a.DateNeeded <= DateTime.Now.AddDays(7))
        .OrderBy(b => b.DateNeeded).Take(5).ToList();
}

<!--
<div class="carty" style="display: none; position: fixed; top: 50%; left: 50%; background: #fff; border-radius: 18px; box-shadow: 0px 0px 13px #333; border: 3px solid maroon; padding: 2em;">
<img src="../../Images/Carty.png" style="padding: 2em 1em; float: left; width: 100px;" />
<span style="font-size: 2em; float: right; display: block; width: 200px; padding: 2em 1em;">Looks like you're trying to look at Orders! Can I be of service today?</span>
</div>
-->

<nav class="left-nav">
<ul>
<li><a href="#">Overview</a></li>
<li><a href="#">Orders</a>
    <ul>
    <li><a href="#">Recent</a></li>
    <li>@Html.ActionLink("Pending", "Index", "Order", new {HideOrdersYouCreated=true}, null) </li>
    <li>@Html.ActionLink("Complete", "Index", "Order", new { statusFilter = "CP" , ShowCompleted = true }, null)</li>
    <li>@Html.ActionLink("Yours", "Index", "Order", new { ShowOwned = true, ShowCompleted = true }, null)</li>
    <li><a href="#">Archive</a></li>
    </ul>
</li>
<li><a href="#">Charts</a>
    <ul>
    <li><a href="#">$ by Account</a></li>
    <li><a href="#">$ by Workgroup</a></li>
    <li><a href="#">$ by Order</a></li>
    </ul>
</li>
</ul>
</nav>

<div class="col-right">
    <section class="dashboard-main col-100">
        <header class="ui-widget-header ui-corner-top">&nbsp;</header>
        <nav>
            <ul>
                <li class="selected stat"><a href="#" id="tab-orders-urgent"><span class="label">Urgent orders</span> <span class="bignum">@urgentOrders.Count()</span></a></li>
                <li class="stat"><a href="#" id="tab-orders-pending"><span class="label">Pending your action</span> <span class="bignum">@Model.PendingOrders.Count()</span></a></li>
                <li class="stat"><a href="#" id="tab-orders-finished"><span class="label">Finished this week</span> <span class="bignum">0!</span></a></li>
                <li class="action">@Html.ActionLink("Request a new order", "SelectWorkgroup", "Order")</li>
                <li class="action">@Html.ActionLink("View your orders", "Index", "Order", new { ShowOwned = true }, null)</li>
            </ul>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Order #</th>
                    <th>Created</th>
                    <th>Request by</th>
                    <th>Current level</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_OrderRows", urgentOrders)
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td><a href="#" id="orders-view-history">View more Urgent orders &gt;</a></td>
                </tr>
            </tfoot>
        </table>
    </section>

    <section class="recent-activity col-25">
        <header class="ui-widget-header ui-corner-top">Recent activity</header>
        @Html.Action("RecentActivity", "History")
    </section>

    <section class="complete col-25">
        <header class="ui-widget-header ui-corner-top">Complete</header>
        @Html.Action("RecentlyFinished", "History")
    </section>

    <section class="comments col-50 col-last">
        <header class="ui-widget-header ui-corner-top">Recent comments</header>
        @Html.Action("RecentComments", "History")
    </section>

</div>
