@model System.Collections.Generic.List<Purchasing.Core.Queries.OrderHistory>

@{
    ViewBag.Title = "Your Order History";
}

<h2>Your Order History: @Model.Count orders found. Last Updated @Cache["OrderHistoryIndexLastUpdated"].</h2>

<ul>
    @foreach(var history in Model)
    {
        <li><strong>@history.RequestNumber</strong></li>
    }
</ul>
<br/><hr/><br/>
Finding your orderIds took @ViewBag.OrderQuery ms and looking up the actual orders in the index took @ViewBag.IndexQuery ms
