@using Purchasing.Core.Domain
@model Purchasing.Web.Controllers.WorgroupPeopleListModel

@{
	ViewBag.Title = "People " + Model.Workgroup.Name;
}


@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "AddPeople", new { id = Model.Workgroup.Id })</li>
	</ul>
}
<div id="table-filter">
    <h3><a href="#">Filters Roles</a></h3>
    @using(Html.BeginForm("People", "JandJWorkgroupManagement", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
            <ul>        
                <li>
                    <div class="editor-label">
                        
                    </div>
                    <div class="editor-field">
                        @{
                            var isChecked = string.Empty;
                            if(ViewBag.rolefilter == null || ViewBag.rolefilter == string.Empty)
                            {
                                isChecked = "checked=\"checked\"";
                            }
                        }
                        <input type="radio" value="" @isChecked name="roleFilter"/> None<br/>                        

                        @foreach(var filter in Model.Roles)
                        {
                            isChecked = string.Empty;
                            if(ViewBag.rolefilter != null && ViewBag.rolefilter != string.Empty)
                            {
                                if(ViewBag.rolefilter == filter.Id)
                                {
                                    isChecked = "checked=\"checked\"";
                                }
                            }
                             <input type="radio" value="@filter.Id" @isChecked name="roleFilter"/> @filter.Name<br/>                             
                        }
                    </div>
                </li>

                <li>
                    <label>&nbsp;</label>
			        <input class="button" type="submit" value="Apply" />
                </li>
            </ul>
    }
</div>

<table class='dt-table nofirsticon'>
	<thead>
		<tr>
						
			<th>
				FirstName
			</th>
			<th>
				LastName
			</th>			
			<th>
				@*Is Away?*@
                Status
			</th>
            <th>
				Away Until
			</th>			
            <th>
                Role
            </th>
			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.WorkgroupPermissions) {
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.User.FirstName
			</td>
            <td>
				@item.User.LastName
			</td>
            <td>
				@*@item.User.IsAway*@
                @if (item.User.IsAway)
                {
                    <span class="table-bool-bad">Away</span>
                }
                else
                {
                    <span class="table-bool-good">Available</span>
                }
			</td>           
            <td>
                @String.Format("{0:d}", item.User.AwayUntil)
            </td>
            <td>
                @item.Role.Name
            </td>
            <td>
                <a href='@Url.Action("DeletePeople", new { id = item.Id, workgroupid = @Model.Workgroup.Id, @ViewBag.rolefilter })'>
                    <img src='@Url.Image("delete.png")' />
                </a>
            </td>
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>

<script type="text/javascript">
	$(function () {
		$(".dt-table").dataTable({
			"bJQueryUI": true //Use the jquery ui skin
			//"aaSorting": [[ 3, "asc" ]] //Add default sorting
		});
	});
</script>

