@model Purchasing.Web.Controllers.Dev.OrderServiceCreateModel
@{
	ViewBag.Title = "Create Split Order";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
<section class="ui-corner-all">
@* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
Example: Dinosaur 1  *@
	<header class="ui-corner-top ui-widget-header">Order</header>

	<div class="section-contents">

		<div class="section-text">
        	
			<p>This will create a simple order with a few line items and order-wide splits.  Please choose a few accounts to split on.</p>
			<ul>
                <li>Accounts that do not have user info should route to the workgroup</li>
                <li>Accounts will recieve a 50/50 split</li>
            </ul>	

		</div>

		<ul>
				<li>
					<div class="editor-label">
						Select An Account:
					</div>
					<div class="editor-field">
						@this.Select("accountId").Options(Model.Workgroup.Accounts, x=>x.Id, x=>x.Account.Name).FirstOption("-- Account --")
					</div>
				<li>
                <li>
					<div class="editor-label">
						Select Another Account:
					</div>
					<div class="editor-field">
						@this.Select("accountId").Options(Model.Workgroup.Accounts, x=>x.Id, x=>x.Account.Name).FirstOption("-- Account --")
					</div>
				<li>
				@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
				<div class="editor-label">&nbsp;</div>
				<div class="editor-field">
				<input class="button" type="submit" value="Create" /> | @Html.ActionLink("Cancel", "Index")
				</div>
			</li>
		</ul>

	</div>

	<footer class="ui-corner-bottom"></footer>

</section>
}


