@model IEnumerable<Purchasing.Core.Domain.Order>

@{
	ViewBag.Title = "Orders";

}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Create New", "Create", "OrderService", new { workgroupId = 1 }, null)</li>
		<li>@Html.ActionLink("Create Order Split", "CreateSplitOrder", "OrderService", new { workgroupId = 1 }, null)</li>
		<li>@Html.ActionLink("Create Line Item Split", "CreateLineItemSplitOrder", "OrderService", new { workgroupId = 1 }, null)</li>
		<li>@Html.ActionLink("Create Conditional Approval", "CreateConditionalApprovals", "OrderService", new { workgroupId = 1 }, null)</li>
	</ul>
}

<table class="datatable">
	<thead>
		<tr>
			<th>
				Id
			</th>

			<th>
				Approvals
			</th>

			<th>
				Approval Levels
			</th>

			<th>
				Approval People
			</th>

			<th>
				PoNumber
			</th>

			<th>
				ShippingAmount
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
            <td>
                @Html.ActionLink("Details", "Details", new { id = @item.Id })
            </td>

			<td>
                @item.Approvals.Count()
			</td>

			<td>
				@(string.Join(",", item.Approvals.Where(x=>!x.Approved).Select(x=>x.StatusCode.Level)))
			</td>

			<td>
				@(string.Join(", ", item.Approvals.Where(x=>x.User != null).Select(x => x.User.FullName)))
			</td>

			<td>
				@item.PoNumber
			</td>

			<td>
				@String.Format("{0:F}", item.ShippingAmount)
			</td>
		</tr>
}
	</tbody>
</table>

<br/>
<h2>Auto Approvals</h2>
@Html.ActionLink("Manage Auto Approvals", "Index", "AutoApproval")
<table class="datatable">
	<thead>
		<tr>
			<th>
				Created By
			</th>
			<th>
				Target Account
			</th>
			<th>
				Target User
			</th>
			<th>
				Criteria
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (Purchasing.Core.Domain.AutoApproval item in ViewBag.AutoApprovals) {
		<tr>
			<td>
				@item.User.FullNameAndId
			</td>
            <td>
                @(item.Account == null ? "No Account" : item.Account.NameAndId)
			</td>
			<td>
                @(item.TargetUser == null ? "No Target" : item.TargetUser.FullNameAndId)
			</td>
			<td>
				@(item.Equal ? "Equal to" : "Less Than") @item.MaxAmount
			</td>
		</tr>
}
	</tbody>
</table>

