@model IEnumerable<Purchasing.Core.Domain.Order>

@{
	ViewBag.Title = "Orders";

}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Create New", "Create", "OrderService", new { workgroupId = 1 }, null)</li>
	</ul>
}

<table class="datatable">
	<thead>
		<tr>
			<th>
				Id
			</th>

			<th>
				Approvals
			</th>

			<th>
				Approval Levels
			</th>

			<th>
				Approval People
			</th>

			<th>
				PoNumber
			</th>

			<th>
				ShippingAmount
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
            <td>
                @item.Id
            </td>

			<td>
                @item.Approvals.Count()
			</td>

			<td>
				@(string.Join(",", item.Approvals.Select(x=>x.Level)))
			</td>

			<td>
				@(string.Join(", ", item.Approvals.Where(x=>x.User != null).Select(x => x.User.FullName)))
			</td>

			<td>
				@item.PoNumber
			</td>

			<td>
				@String.Format("{0:F}", item.ShippingAmount)
			</td>
		</tr>
}
	</tbody>
</table>




