@model Purchasing.Web.Controllers.DepartmentalAdminRequestViewModel

@{
	ViewBag.Title = "Create";
}



@{
    Bundles.Reference("css/single/jquery.multiselector.css");
    Bundles.Reference("scripts/public/single/jquery.multiselector.js");
}

@section AdditionalScripts{
 
    <script type="text/javascript">

        $(function () {
            var userUrl = "@Url.Action("SearchOrgs", "DepartmentalAdminRequest")";            
            $("#User_Organizations").multiSelector({dataUrl: userUrl, placeholder: "Org Name or Id", showOptions: true});
        })

    </script>

}

<section class="display-form">
    <header class="ui-widget-header ui-corner-top">Departmental Admin Training Class</header>
    <div class="section-contents">
        <div class="section-text">	
            <p>Before we grant the access you are requesting, you must first take our training. For specific instructions, please click on the link below.</p>
            <p>If you are a Shared Service Center Participant, you should contact them in addition to filling out this form as they have specific instructions.</p>
        </div>
    
        <ul>
            <li>
                <div>
                    <strong>@Html.ActionLink("Instructions", "Instructions", null, new{target="_blank"})</strong>
                </div>
            </li>
        </ul>        
    </div>
</section>


@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.HiddenFor(x=> x.DepartmentalAdminRequest.Id)
<section class="display-form">
	<header class="ui-widget-header ui-corner-top">Request Departmental Admin</header>

	<div class="section-contents">

		<div class="section-text">	
            <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
            <p>To add Organizations, search for it in "Org Name or Id" click on the org it finds and you will see it added below. You can click on the small x to remove your choice if you made a mistake.</p>
            <p>Don't forget to save when you are done!</p>
		</div>

        <ul>
            <li>
                <div class="display-label">
                    @Html.LabelFor(model => model.DepartmentalAdminRequest.FirstName)
                </div>
                <div class="display-label">
                    @Html.DisplayFor(model => model.DepartmentalAdminRequest.FirstName)						
                </div>
            </li>
            <li>
                <div class="display-label">
                    @Html.LabelFor(model => model.DepartmentalAdminRequest.LastName) 
                </div>
                <div class="display-label">
                    @Html.DisplayFor(model => model.DepartmentalAdminRequest.LastName)						
                </div>
            </li>	
            <li>
                <div class="display-label">
                    @Html.LabelFor(model => model.DepartmentalAdminRequest.Email) 
                </div>
                <div class="display-label">
                    @Html.DisplayFor(model => model.DepartmentalAdminRequest.Email)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DepartmentalAdminRequest.PhoneNumber) 
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DepartmentalAdminRequest.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.DepartmentalAdminRequest.PhoneNumber)
                </div>
            </li>					
            <li>
                <div class="editor-label required">
                    @Html.LabelFor(model => model.DepartmentalAdminRequest.DepartmentSize)<span>*</span> 
                </div>
                <div class="editor-field">
                    <ul>
                        <li><input type="radio" name="DepartmentalAdminRequest.DepartmentSize" class="required" value="0" @(Model.DepartmentalAdminRequest.DepartmentSize == 0 ? @"checked" : string.Empty)/> Small (Less than 50 users) </li>
                        <li><input type="radio" name="DepartmentalAdminRequest.DepartmentSize" class="required" value="1" @(Model.DepartmentalAdminRequest.DepartmentSize == 1 ? @"checked" : string.Empty)/> Medium (50-100 users) </li>
                        <li><input type="radio" name="DepartmentalAdminRequest.DepartmentSize" class="required" value="2" @(Model.DepartmentalAdminRequest.DepartmentSize == 2 ? @"checked" : string.Empty)/> Large (Greater than 100 users) </li>
                    </ul>
                    @Html.ValidationMessageFor(model => model.DepartmentalAdminRequest.DepartmentSize)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DepartmentalAdminRequest.SharedOrCluster) 
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DepartmentalAdminRequest.SharedOrCluster)
                    @Html.ValidationMessageFor(model => model.DepartmentalAdminRequest.SharedOrCluster)
                </div>
            </li>
            <li>
                <div class="editor-label">@Html.LabelFor(x=>x.Organizations)</div>
                <select id="User_Organizations" name="orgs" multiple="" >
                @if (Model.Organizations != null)
                {
                    foreach (var a in Model.Organizations)
                    {
                        <option selected="" value="@a.Id">@(string.Format("{0} ({1})", a.Name, a.Id))</option>
                    }
                }                   
                </select>                
            </li>						
            <li>
                @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
                <div class="editor-label">&nbsp;</div>
                <div class="editor-field">
                    <input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index")
                </div>
            </li>
        </ul>

	</div>

	<footer class="ui-corner-bottom"></footer>

</section>
}


