@model Purchasing.Core.Domain.DepartmentalAdminRequest

@{
	ViewBag.Title = "Create";
}



@{
    Bundles.Reference("css/single/jquery.multiselector.css");
    Bundles.Reference("scripts/public/single/jquery.multiselector.js");
}

@section AdditionalScripts{
 
    <script type="text/javascript">

        $(function () {
//            $("#User_Organizations").multiSelector({ useRemote: false });
            
            var userUrl = "@Url.Action("SearchOrgs", "Admin")";            
            $("#User_Organizations").multiSelector({dataUrl: userUrl, placeholder: "Org Name or Id", showOptions: true});
        })

    </script>

}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.HiddenFor(x=> x.Id)
<section class="ui-corner-all">
@* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
Example: Dinosaur 1  *@
	<header class="ui-corner-top">DepartmentalAdminRequest</header>

	<div class="section-contents">

		<div class="section-text">
	
			@*<h4>Form Header</h4>*@
			@*<p>Be specific so the user understands what exactly you are looking for.  Example: After Dinosaur 1 moves out of his/her parents' den what will Dinosaur 1 do?  We need to know his employment plan, feeding area, as well as living situation.  This information will not be sold or given to carnivores.</p>*@
			<p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	
		</div>

		<ul>
						<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.FirstName)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.DisplayFor(model => model.FirstName)						
					</div>
				</li>
						<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.LastName)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.DisplayFor(model => model.LastName)						
					</div>
				</li>	
                <li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.Email)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.DisplayFor(model => model.Email)
					</div>
				</li>
						<li>
					<div class="editor-label">
						@Html.LabelFor(model => model.PhoneNumber) 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.PhoneNumber)
						@Html.ValidationMessageFor(model => model.PhoneNumber)
					</div>
				</li>					
						<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.DepartmentSize)<span>*</span> 
					</div>
					<div class="editor-field">
                    <ul>
                        <li><input type="radio" name="DepartmentSize" value="0" /> Small (Less than 50 users) </li>
                        <li><input type="radio" name="DepartmentSize" value="1" /> Medium (50-100 users) </li>
                        <li><input type="radio" name="DepartmentSize" value="2" /> Large (Greater than 100 users) </li>
						</ul>
                        @Html.ValidationMessageFor(model => model.DepartmentSize)
					</div>
				</li>
						<li>
					<div class="editor-label">
						@Html.LabelFor(model => model.SharedOrCluster) 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.SharedOrCluster)
						@Html.ValidationMessageFor(model => model.SharedOrCluster)
					</div>
				</li>
                 <li>
                <div class="editor-label">@Html.LabelFor(x=>x.Organizations)</div>
                <select id="User_Organizations" name="orgs" multiple="" >                   
                </select>                
            </li>						
					<li>
				@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
				<div class="editor-label">&nbsp;</div>
				<div class="editor-field">
				<input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index")
				</div>
			</li>
		</ul>

	</div>

	<footer class="ui-corner-bottom"></footer>

</section>
}


