<!DOCTYPE html>
<html lang="en">
<head>
	<title>Purchasing - @ViewBag.Title</title>

	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">

	<link href="@Url.Css("jquery-ui-1.8.16.caes.css")" rel="stylesheet" type="text/css" />

	<style type="text/css">
		#branding
		{
			z-index: 0;
		}
	</style>

	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.min.js" type="text/javascript"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
	<script src="@Url.Script("jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	<script type="text/javascript" src="@Url.Script("modernizr.custom.js")"></script>
	
	@MvcMiniProfiler.MiniProfiler.RenderIncludes()

	@if (false)
	{ //Load the jquery docs for intellisense
	<script src="../../Scripts/jquery-1.6.2-vsdoc.js" type="text/javascript"></script>
	}

    <style type="text/css">
    
    /* ---------------- */
    /*    reset         */
    /* ---------------- */
    * {padding:0; margin:0; font-family: Helvetica; }
    a img {border:none;}
    #branding, .main, #footer, #navigation-bar {padding: 0 20px;}    
    body, .main {background-color: #E3E3E3;}
        
    /* ---------------- */
    /*    branding      */
    /* ---------------- */
    #branding {
	    /* fallback */
	    background: url(../Images/top_blue_bar.jpg) repeat-x #014a81; margin: 0 auto; position:relative;
	
	    /* Firefox 3.6+ */
	    background: -moz-linear-gradient(0% 20% 90deg,#024B82, #002359);
	
	    / * Safari 4-5, Chrome 1-9 */
	    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#002359), to(#024B82));
    }
    #branding span.header {padding: 2em 0 0.2em 0; margin: 0px auto; display: block;}
    #branding h1 {text-align:left; font-size:3em; line-height:1em; padding-bottom:.2em;}
    #branding {color:#FFF; display:block;}
    #branding a:hover {color: #E4B939;}
    #branding a {color: #FFF; text-decoration: none; font-weight: bold;}
    #branding nav a.currentpage {color: #E4B939;}


    /* ---------------- */
    /*    footer        */
    /* ---------------- */
    #footer {background-color:#014a81; padding:1em 0; margin-top:5em; display: block;}
    #footertext {margin:0 auto; color:#FFFFFF; font-size:0.9em; padding: 0 20px;}
    #footer small { margin-top: .5em; padding-top: .5em; border-top: 1px solid white; display: block; }
    
    #footertext a {color:#FFFFFF; text-decoration:none;}
    #footertext a:hover {color:#E4B939;}
    #footertext ul li {list-style-type:none; display:inline-block; text-align:left;}
    #footertext .col2 ul li {list-style-type:none; display:block; text-align:left;}
    #footertext nav {display:inline-block;}
    #footer .col1 .navigation li a{border-bottom:2px solid #074F84; width:200px; padding-left:10px; display:block;}
    #footer .col1 .navigation li a:hover {background-color:#074F84;}
    #footer .col2 {vertical-align:top; font-style:italic;}
    #footer .col1 {border-right:2px solid #074F84;}
    #footer .navigation {text-align:left;}
    
    /* ---------------- */
    /*    columns       */
    /* ---------------- */    
    .col1-50, .col2-50 { width: 49%; display: inline-block; }
    .col2-50 {text-align: right;}
    .col1-33, .col2-33, .col3-33 { width: 32.5%; display: inline-block; float: left; }
    .col1-33, .col2-33 { margin-right: 10px; }
    .left-bar { width: 200px; display: inline-block; }
    .right-window { width: 100%; display: inline-block; }
    
    /* ---------------- */
    /*  Personal Bar    */
    /* ---------------- */        
    #personalbar, #personalbar a { float: right; font-weight: normal; text-decoration: none; vertical-align: bottom; font-size: small; }
    #personalbar div { display: inline-block; }
    #personalbar #username { margin: 0 10px; }
    #personalbar #settings { margin: 0 10px; vertical-align: bottom; }
    #personalbar #logout { margin: 0 10px; vertical-align: bottom;}
    
    /* ---------------- */
    /*  Navigation Bar  */
    /* ---------------- */ 
    .navigation-list { margin: 0 10px; vertical-align: bottom; }
    #navigation-bar  
    {
        display: block; 
        height: 30px; 
        background-image:-moz-linear-gradient(top, #cccecf 0%, #99a0a3 100%);
        background-image:-webkit-linear-gradient(top, #cccecf 0%, #99a0a3 100%);
        background-image:-ms-linear-gradient(top, #cccecf 0%, #99a0a3 100%);
        background-image:linear-gradient(top, #cccecf 0%, #99a0a3 100%);
        background-image:-o-linear-gradient(top, #cccecf 0%, #99a0a3 100%);
        background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#cccecf), color-stop(100%,#99a0a3));
        vertical-align: middle;
    }

    #navigation-bar .nav-button {
    display: inline-block; 
    padding: 4px 10px;
    margin-right: 0px;
    }
    #navigation-bar .nav-button:hover 
    {
        background-image:-moz-linear-gradient(top, #DDDDDD 0%, #99a0a3 100%);
        background-image:-webkit-linear-gradient(top, #DDDDDD 0%, #99a0a3 100%);
        background-image:-ms-linear-gradient(top, #DDDDDD 0%, #99a0a3 100%);
        background-image:linear-gradient(top, #DDDDDD 0%, #99a0a3 100%);
        background-image:-o-linear-gradient(top, #DDDDDD 0%, #99a0a3 100%);
        background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#DDDDDD), color-stop(100%,#99a0a3));
    }
    .nav-button { cursor: pointer; }
    .nav-list, #navigation-bar .nav-list, #personalbar .nav-list { display:none; text-align: left; border: 1px solid #CCCCCC; background: white; color: black; padding: .4em; }
    .nav-list a, #navigation-bar .nav-list a, #personalbar .nav-list a { color: black; text-decoration: none; }
    .nav-list ul, #navigation-bar ul, #personalbar .nav-list  { list-style: none; }
    .nav-list li, #navigation-bar li, #personalbar .nav-list li { border-bottom: 1px solid #CCCCCC; }
    .nav-list li:hover, #navigation-bar li:hover, #personalbar .nav-list li:hover { background-color: #dddddd; }

    #settings-nav { position: absolute; top: 75px; right: 73px; }
    #orders-btn-nav { position: absolute; top: 123px; left: 90px; }
    #administration-btn-nav { position: absolute; top: 123px; left: 340px; }

    /* ---------------- */
    /*  Containers      */
    /* ---------------- */ 
    form section, .display-form { margin-bottom: .5em; display: block; background-color: white; }
    form section header, .display-form header { padding: .5em 10px; border: none; }
    form section .section-contents, .display-form .section-contents { padding: .5em 20px;}

    .title { display: block; border-bottom: dotted 1px #BBBBBB; margin: 1em 0; padding-bottom: .5em; }

    /* ---------------- */
    /*  Search Box      */
    /* ---------------- */     
    #search-container { float: right; background: white; margin-right: 20px; margin-top: 3px;}
    #search-container input { border: none;}
    #search-container img { height: 19px;} 
    
    </style>

	@RenderSection("AdditionalScripts", false)

    <script type="text/javascript" src="@Url.Script("slider.js")"></script>

    <script type="text/javascript">

        $(function () {

            $(".nav-button").click(function () {

                // show the current one
                var name = $(this).attr("id");
                $("#" + name + "-nav").slideToggle("medium");

            });

        });

    </script>

</head>
<body>
	<div class="wrapper">
	
		@Html.Partial("_ServiceMessages")
	
		<header id="branding">
			
			<!-- Application's Name -->
			<span class="header">

                <div class="col1-50">
				<h1>Purchasing</h1>
				</div>
                
                <div class="col2-50">
                <div id="personalbar">
                    
                    <div id="username"  class="navigation-list">Hello @User.Identity.Name</div> |
                    <div id="settings" class="nav-button navigation-list">Settings</div> |
                    <div id="logout" class="navigation-list">@Html.ActionLink("Logout", "LogOut", "Account")</div>

                    <ul id="settings-nav" class="nav-list">
                        <li>@Html.ActionLink("Email Preferences", "EmailPreferences", "User")</li>
                        <li>@Html.ActionLink("Away Status", "AwayStatus", "User")</li>
                    </ul>

                </div>
                </div>
			</span>
				
		</header>

        <nav id="navigation-bar">
  
            <div class="nav-button">Home</div>
            <div id="orders-btn" class="nav-button">Place New Order</div>
            <div class="nav-button">Order History</div>
            <div id="administration-btn" class="nav-button">Administration</div>
        
            <ul id="orders-btn-nav" class="nav-list">
                <li><a href="#">Place New Order</a></li>
                <li><a href="#">Order History</a></li>
            </ul>

            <ul id="administration-btn-nav" class="nav-list">
                <li><a href="#">Administrators</a></li>
                <li><a href="#">Lookups</a></li>
            </ul>

            <div id="search-container">
            
                <input type="search" placeholder="Search Order"/>
                <img src="@Url.Image("Sample/search-icon.png")"/>

            </div>

        </nav>
        
			
		<div class="main">
			
			<header>
				
				@if(!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string)){ 
				<div id="error-message">
					@TempData["ErrorMessage"]
				</div>
				}
                    				
				@if (!string.IsNullOrWhiteSpace(TempData["Message"] as string)) { 
				<div id="status-message">
					@TempData["Message"]
				</div>
				}
				
				<div class="col1">
					<h2>@ViewBag.Title</h2>
					<h3>@ViewBag.SubTitle</h3>
				</div>
					
				<nav class="col2">
					@*Sub Page Navigation*@
					@RenderSection("SubNav", false)
				</nav>
				
			</header>
			
			<div id="body">
				@RenderBody()					
			</div>
				
		</div>
			
		<footer id="footer">
			<div id="footertext">
				<nav class="col1-50">
					
					@*@Html.Partial("_Navigation")*@

                    <span class="navigation-list">Home</span> |
                    <span class="navigation-list">Orders</span> |
                    <span class="navigation-list">Administration</span>
					
				</nav>
				<div class="col2-50">
					
                    <span class="navigation-list">Version #@ViewBag.Version</span>
					
				</div>

                <small style="text-align: center;">
                    <span class="navigation-list">Developed By The College Of Agricultural And Environmental Science Dean's Office</span>
                    <span class="navigation-list">Copyright The Regents of the University of California, Davis campus, 2005-11.</span>
                    <span class="navigation-list">All Rights Reserved.</span>
                </small>
			</div>
		</footer>
	
	</div>

    <script>
        Modernizr.load({
            test: Modernizr.input.placeholder,
            nope: '@Url.Content("~/Scripts/jquery.placeholder.min.js")',
            complete: function () {
                if (!Modernizr.input.placeholder) {
                    $('input').placeholder();
                }
            }
        });
    </script>
	

</body>
</html>
