@model IEnumerable<Purchasing.Core.Domain.Order>

@{
	ViewBag.Title = "AdminOrders";
}

<h2>AdminOrders</h2>



@section SubNav
{
}


<table class='dt-table'>
	<thead>
		<tr>
			<th></th>
			<th>
				DeliverTo
			</th>
			<th>
				DeliverToEmail
			</th>
			<th>
				DateNeeded
			</th>
			<th>
				AllowBackorder
			</th>
			<th>
				EstimatedTax
			</th>
			<th>
				PoNumber
			</th>
			<th>
				ShippingAmount
			</th>
			<th>
				Justification
			</th>
			<th>
				DateCreated
			</th>
			<th>
				HasControlledSubstance
			</th>
			<th>
				HasLineSplits
			</th>
			<th>
				DaysNotActedOn
			</th>
			<th>
				PeoplePendingAction
			</th>
			<th>
				AccountNumbers
			</th>
			<th>
				ApproverName
			</th>
			<th>
				AccountManagerName
			</th>
			<th>
				PurchaserName
			</th>

			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				<a href='@Url.Action("Details", new {id=item.Id})'>
					<img src='@Url.Image("details.png")' />
				</a>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>
			<td>
				@item.DeliverTo
			</td>
			<td>
				@item.DeliverToEmail
			</td>
			<td>
				@String.Format("{0:g}", item.DateNeeded)
			</td>
			<td>
				@item.AllowBackorder
			</td>
			<td>
				@String.Format("{0:F}", item.EstimatedTax)
			</td>
			<td>
				@item.PoNumber
			</td>
			<td>
				@String.Format("{0:F}", item.ShippingAmount)
			</td>
			<td>
				@item.Justification
			</td>
			<td>
				@String.Format("{0:g}", item.DateCreated)
			</td>
			<td>
				@item.HasControlledSubstance
			</td>
			<td>
				@item.HasLineSplits
			</td>
			<td>
				@item.DaysNotActedOn
			</td>
			<td>
				@item.PeoplePendingAction
			</td>
			<td>
				@item.AccountNumbers
			</td>
			<td>
				@item.ApproverName
			</td>
			<td>
				@item.AccountManagerName
			</td>
			<td>
				@item.PurchaserName
			</td>
							<td>
						<a href='@Url.Action("Delete", new { id = item.Id })'>
							<img src='@Url.Image("delete.png")' />
						</a>
					</td>
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>
