@using Purchasing.Web.Controllers

<style type="text/css">
li strong { display: inline-block; width: 100px; }
</style>

<section>
<header>Time 1</header>
<ul>

    <li><strong>Time:</strong>@ViewBag.Time1</li>
    <li><strong>Ticks:</strong>@ViewBag.Ticks1</li>
    <li><strong>Dept:</strong>AAES</li>
    <li><strong>EncodedId:</strong>@ViewBag.EncodedId1</li>

</ul>
</section>

<section>
<header>Time 2</header>
<ul>

    <li><strong>Time:</strong>@ViewBag.Time2</li>
    <li><strong>Ticks:</strong>@ViewBag.Ticks2</li>
    <li><strong>Dept:</strong>AAES</li>
    <li><strong>EncodedId:</strong>@ViewBag.EncodedId2</li>

</ul>
</section>

<section>
<header>Last Time</header>
<ul>
<li><strong>Time</strong>@ViewBag.LastTime</li>
</ul>
</section>