@using Purchasing.Core.Helpers
@using Purchasing.Mvc.Helpers
@model Purchasing.Core.Queries.OrderTrackingHistory

@if (Model == null)
{
    <p>No recent activity here!</p>
    <p>@Html.ActionLink("Request a new order >", "SelectWorkgroup", "Order")</p>
}
else {
    <p><span class="time-ago">@string.Format("{0} ago,", (DateTime.UtcNow.ToPacificTime() - Model.TrackingDate).ToLongString())</span> you worked on</p>
    <p class="order-details">@Html.ActionLink(Model.RequestNumber, "Review", "Order", new { id = Model.OrderId }, new { })
        <span class="requester">@Model.CreatedBy</span> requested: <span class="order-summary">@Model.DisplaySummary()</span></p>
    <p>@Html.ActionLink("View the order >", "Review", "Order", new { id = Model.OrderId }, new { })</p>
}