@using Purchasing.Core.Domain
@model User

	@Html.AntiForgeryToken()

<section class="display-form">
	<header class="ui-widget-header ui-corner-top">User Info</header>

    <div class="section-contents">
    
        <ul>

		    <li>
			    <div class="display-label">Id</div>
			    <div class="display-details">@Model.Id</div>
		    </li>

		    <li>
			    <div class="display-label">FirstName</div>
			    <div class="display-details">@Model.FirstName</div>
		    </li>

		    <li>
			    <div class="display-label">LastName</div>
			    <div class="display-details">@Model.LastName</div>
		    </li>

		    <li>
			    <div class="display-label">Email</div>
			    <div class="display-details">@Model.Email</div>
		    </li>

            @if (ViewBag.Title == "RemoveDepartmental")
            { 
            <li>
			    <div class="display-label">Departments</div>
			    <div class="display-details">@string.Join(", ", Model.Organizations.Select(x => x.Name))</div>
		    </li>
            }
		    <li>
			    @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			    <div class="display-label">&nbsp;</div>
			    <div class="display-details">
			    <input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "Index")
			    </div>
		    </li>
	    </ul>

    </div>
	
</section>