@using Purchasing.Web.Controllers

@model AdminListModel
           
@{
    ViewBag.Title = "Admins";
}



@section AdditionalScripts
{
    <style type="text/css">
    div.dataTables_wrapper {margin-top: 0.5em;}
    </style>

}


<section class="display-form">

    <header class="ui-widget-header ui-corner-top">Purchasing Administrators
    </header>

    <div class="section-contents">
    <div class="col1"></div><div class="col2" style="display:inline-block; width:49%; text-align:right;">@Html.ActionLink("Create Admin", "ModifyAdmin", new { }, new { @class = "button" })<br /></div>
    
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Admins)
                {
                    <tr>
                        <td><a href='@Url.Action("ModifyAdmin", new {user.Id})' class="ui-icon ui-icon-pencil" title="Edit admin"><img src='@Url.Image("edit.png")'></a></td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td><a href='@Url.Action("RemoveAdmin", new {user.Id})' class="ui-icon ui-icon-trash" title="Delete admin"><img src='@Url.Image("delete.png")'></a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</section>


<section class="display-form">
    <header class="ui-widget-header ui-corner-top">Departmental Administrators</header>
    <div class="section-contents">
        <div class="col1"></div><div class="col2" style="display:inline-block; width:49%; text-align:right;">@Html.ActionLink("Create Departmental Admin", "ModifyDepartmental", new {}, new {@class="button"})</div>
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.DepartmentalAdmins)
                {
                    <tr>
                        <td><a href='@Url.Action("ModifyDepartmental", new { user.Id })' class="ui-icon ui-icon-pencil" title="Edit admin"><img src='@Url.Image("edit.png")'></a></td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td><a href='@Url.Action("RemoveDepartmental", new { user.Id })' class="ui-icon ui-icon-trash" title="Delete admin"><img src='@Url.Image("delete.png")'></a></td>
                    </tr>
                }
            </tbody>
        </table>    
    </div>
</section>