@model IEnumerable<Purchasing.Web.Controllers.ValidateChildWorkgroupsViewModel>


@{
    ViewBag.Title = "Validate Child Workgroups";

}

<h2>Child Workgroups with Missing or Extra Permissions:</h2>

@foreach (var item in Model)
{ 
    <h2>@item.ChildWorkgroup.Id -- @item.ChildWorkgroup.Name</h2>
    if (item.ExtraChildPermissions.Count > 0)
    {
        <h3>Extra Child Permissions</h3>
        foreach (var extraChildPermission in item.ExtraChildPermissions)
        {
            <h4>@extraChildPermission.Id -- @extraChildPermission.Role.Id -- @extraChildPermission.User.Id -- @extraChildPermission.ParentWorkgroup.Id -- @extraChildPermission.IsFullFeatured</h4>
        }
    }
    if (item.MissingChildPermissions.Count > 0)
    {
        <h3>Missing Child Permissions</h3>
        foreach (var missingChildPermission in item.MissingChildPermissions)
        {
            <h4>@missingChildPermission.Id -- @missingChildPermission.Role.Id -- @missingChildPermission.User.Id -- @missingChildPermission.Id -- @missingChildPermission.IsFullFeatured</h4>
        }
    }

}




