@model Purchasing.Core.Domain.AutoApproval


		<li>
            @if(Model.LessThan)
            { 
			    <div class="display-label">Max Amount Less Than</div>
            }
            else
            {
                <div class="display-label">Max Amount Equal To</div>
            }
			<div class="display-details">@String.Format("{0:F}", Model.MaxAmount)</div>
		</li>



		<li>
			<div class="display-label">Is Active</div>
			<div class="display-details">@Model.IsActive</div>
		</li>

		<li>
            @{
                var hasExpiredMessage = string.Empty;
                if(Model.Expiration.HasValue && Model.Expiration.Value.Date < DateTime.Now.Date)
                {
                    hasExpiredMessage = "  (Expired)";
                }
              }
			<div class="display-label">Expiration</div>
			<div class="display-details">@String.Format("{0:d}", Model.Expiration) @hasExpiredMessage</div>
		</li>

        <li>
			<div class="display-label">User</div>
			<div class="display-details">@String.Format("{0:g}", Model.TargetUser != null ? Model.TargetUser.FullNameAndId : "No User")</div>
		</li>

        <li>
			<div class="display-label">Account</div>
			<div class="display-details">@String.Format("{0:g}", Model.Account != null ? Model.Account.NameAndId : "No Account")</div>
		</li>