@model System.Linq.IQueryable<Purchasing.Core.Domain.ConditionalApproval>

@{
    ViewBag.Title = "Conditional Approvals by Workgroup";
}

@section SubNav
{
	<ul class="navigation">
        <li>@Html.ActionLink("Back to Workgroup", "Details", "Workgroup", new { id = ViewBag.WorkgroupId }, new { @class="button" })</li>
	</ul>
}


        <div class="col1"></div><div class="col2">@Html.ActionLink("Create Approval", "Create", "ConditionalApproval", new { workgroupId = ViewBag.WorkgroupId }, new { @class = "button" })</div>
        <br />
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Workgroup</th>
                    <th>Primary Approver</th>
                    <th>Secondary Approver</th>
                    <th>Question</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ca in Model)
                {
                    <tr>
                        <td><a href='@Url.Action("Edit", new {ca.Id})' class="ui-icon ui-icon-pencil" title="Edit approval"><img src='@Url.Image("edit.png")'></a></td>
                        <td>@ca.Workgroup.Name</td>
                        <td>@ca.PrimaryApprover.FullNameAndIdLastFirst</td>
                        <td>@(ca.SecondaryApprover == null ? "N/A" : ca.SecondaryApprover.FullNameAndIdLastFirst)</td>
                        <td>@ca.Question</td>
                        <td><a href='@Url.Action("Delete", new {ca.Id})' class="ui-icon ui-icon-trash" title="Delete approval"t><img src='@Url.Image("delete.png")'></a></td>
                    </tr>
                }
            </tbody>
        </table>
