@model Purchasing.Web.Controllers.ConditionalApprovalViewModel

@{
	ViewBag.Title = "Edit Conditional Approval";

}

@section SubNav
{
    <ul class="navigation">
        @if(ViewBag.IsWorkgroup)
        {
            <li>@Html.ActionLink("Back to List", "ByWorkgroup", "ConditionalApproval", new { id = ViewBag.WorkgroupId }, new { @class = "button" })</li>    
        }
        else
        {
            <li>@Html.ActionLink("Back to List", "ByOrg", "ConditionalApproval", new { id = ViewBag.OrganizationId }, new { @class = "button" })</li>
        }
    </ul>
}

@using(Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
<section class="ui-corner-all">
@* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
Example: Dinosaur 1  *@
	<header class="ui-corner-top ui-widget-header">Conditional Approval</header>
    
        <div class="section-text">

            <h5>Editing Conditional Approval for @Model.OrgOrWorkgroupName</h5>
	        <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>    
        
        </div>

    <div class="section-contents">

        <ul>
		<li>
			<div class="editor-label required">
				@Html.LabelFor(model => model.Question)<span>*</span> 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Question)
				@Html.ValidationMessageFor(model => model.Question)
			</div>
		</li>
        <li>
			<div class="editor-label">
				@Html.LabelFor(model => model.PrimaryUserName)
			</div>
			<div class="editor-field">
				@Model.PrimaryUserName
			</div>
		</li>
        <li>
			<div class="editor-label">
				@Html.LabelFor(model => model.SecondaryUserName)
			</div>
			<div class="editor-field">
				@Model.SecondaryUserName
			</div>
		</li>

		@Html.HiddenFor(model => model.Id)

		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<div class="editor-label">&nbsp;</div>
			<div class="editor-field">
			    <input class="button" type="submit" value="Save" /> 
                @if(ViewBag.IsWorkgroup)
                {
                    @Html.ActionLink("Cancel", "ByWorkgroup", "ConditionalApproval", new {id = ViewBag.WorkgroupId}, new {})
                }
                else
                {
                    @Html.ActionLink("Cancel", "ByOrg", "ConditionalApproval", new {id = ViewBag.OrganizationId}, new {})
                }
			</div>
		</li>
	</ul>

    </div>
	
</section>
}





