@model Purchasing.Web.Controllers.ConditionalApprovalIndexModel


@{
    ViewBag.Title = "Conditional Approvals";
    ViewBag.SubTitle = "View Existing Conditional Approvals & Create New Ones";
}

<section class="display-form ui-corner-all">
    
    <header class="ui-corner-top ui-widget-header"><div class="col1">Organizational Approvals</div>
            <div class="col2">@Html.ActionLink("Create Approval", "Create", "ConditionalApproval", new { approvalType = @Purchasing.Web.Controllers.ConditionalApprovalController.OrganizationType }, new { @class = "button" })</div>
    </header>

    <section class="section-contents">
    
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Organization</th>
                    <th>Primary Approver</th>
                    <th>Secondary Approver</th>
                    <th>Question</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ca in Model.ConditionalApprovalsForOrgs)
                {
                    <tr>
                        <td>@Html.ActionLink("Edit", "Edit", "ConditionalApproval", new { id = ca.Id }, null)</td>
                        <td>@ca.Organization.Name (@ca.Organization.Id)</td>
                        <td>@ca.PrimaryApprover.FullNameAndIdLastFirst</td>
                        <td>@(ca.SecondaryApprover == null ? "N/A" : ca.SecondaryApprover.FullNameAndIdLastFirst)</td>
                        <td>@ca.Question</td>
                        <td>@Html.ActionLink("Delete", "Delete", "ConditionalApproval", new { id = ca.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>

    </section>

</section>


<section class="display-form ui-corner-all">

    <header class="ui-corner-top ui-widget-header"><div class="col1">Existing Workgroup Approvals</div>
            <div class="col2">@Html.ActionLink("Create Approval", "Create", "ConditionalApproval", new { approvalType = @Purchasing.Web.Controllers.ConditionalApprovalController.WorkgroupType }, new {@class="button"})</div>
    </header>

    <div class="section-contents">
    
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Workgroup</th>
                    <th>Primary Approver</th>
                    <th>Secondary Approver</th>
                    <th>Question</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ca in Model.ConditionalApprovalsForWorkgroups)
                {
                    <tr>
                        <td>@Html.ActionLink("Edit", "Edit", "ConditionalApproval", new { id = ca.Id }, null)</td>
                        <td>@ca.Workgroup.Name</td>
                        <td>@ca.PrimaryApprover.FullNameAndIdLastFirst</td>
                        <td>@(ca.SecondaryApprover == null ? "N/A" : ca.SecondaryApprover.FullNameAndIdLastFirst)</td>
                        <td>@ca.Question</td>
                        <td>@Html.ActionLink("Delete", "Delete", "ConditionalApproval", new { id = ca.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</section>

