@model Purchasing.Web.Controllers.ConditionalApprovalIndexModel


@{
    ViewBag.Title = "Conditional Approvals";
    ViewBag.SubTitle = "View Existing Conditional Approvals & Create New Ones";
}

<section class="display-form ui-corner-all">
    
    <header class="ui-corner-top ui-widget-header"><div class="col1">Organizational Approvals</div>
           
    </header>

    <section class="section-contents">
         <div class="col1"></div><div class="col2">@Html.ActionLink("Create Approval", "Create", "ConditionalApproval", new { approvalType = @Purchasing.Web.Controllers.ConditionalApprovalController.OrganizationType }, new { @class = "button" })</div>
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Organization</th>
                    <th>Primary Approver</th>
                    <th>Secondary Approver</th>
                    <th>Question</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ca in Model.ConditionalApprovalsForOrgs)
                {
                    <tr>
                        <td><a href='@Url.Action("Edit", new { ca.Id })' class="ui-icon ui-icon-pencil" title="Edit approval"><img src='@Url.Image("edit.png")'></a></td>
                        <td>@ca.Organization.Name (@ca.Organization.Id)</td>
                        <td>@ca.PrimaryApprover.FullNameAndIdLastFirst</td>
                        <td>@(ca.SecondaryApprover == null ? "N/A" : ca.SecondaryApprover.FullNameAndIdLastFirst)</td>
                        <td>@ca.Question</td>
                        <td><a href='@Url.Action("Delete", new {ca.Id})' class="ui-icon ui-icon-trash" title="Delete approval"><img src='@Url.Image("delete.png")'></a></td>
                    </tr>
                }
            </tbody>
        </table>

    </section>

</section>


<section class="display-form ui-corner-all">

    <header class="ui-corner-top ui-widget-header"><div class="col1">Existing Workgroup Approvals</div>
            
    </header>

    <div class="section-contents">
        <div class="col1"></div><div class="col2">@Html.ActionLink("Create Approval", "Create", "ConditionalApproval", new { approvalType = @Purchasing.Web.Controllers.ConditionalApprovalController.WorkgroupType }, new {@class="button"})</div>
        <table class="datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>Workgroup</th>
                    <th>Primary Approver</th>
                    <th>Secondary Approver</th>
                    <th>Question</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ca in Model.ConditionalApprovalsForWorkgroups)
                {
                    <tr>
                        <td><a href='@Url.Action("Edit", new {ca.Id})' class="ui-icon ui-icon-pencil" title="Edit approval"><img src='@Url.Image("edit.png")'></a></td>
                        <td>@ca.Workgroup.Name</td>
                        <td>@ca.PrimaryApprover.FullNameAndIdLastFirst</td>
                        <td>@(ca.SecondaryApprover == null ? "N/A" : ca.SecondaryApprover.FullNameAndIdLastFirst)</td>
                        <td>@ca.Question</td>
                        <td><a href='@Url.Action("Delete", new {ca.Id})' class="ui-icon ui-icon-trash" title="Delete approval"t><img src='@Url.Image("delete.png")'></a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</section>

