@model AccountSelectModel

<select class="@Model.ClassName" id="@Model.Name" name="@Model.Name">
    <option value="" title="No Account Selected">--Account--</option>
    @foreach(Purchasing.Core.Domain.Account account in @Model.Accounts)
    {
        <option value="@account.Id" title="@account.Name">@account.Id</option>
    }
</select>