@model AccountSelectModel

<select class="@Model.ClassName" id="@Model.Name" name="@Model.Name">
    <option value="" title="No Account Selected">--Account--</option>
    @foreach (var wgaccount in @Model.WorkgroupAccounts)
    {
        <option value="@wgaccount.GetAccount" title="@wgaccount.GetAccount">@wgaccount.GetName</option>
    }
</select>