@model AccountSelectModel

<select class="@Model.ClassName" id="@Model.Name" name="@Model.Name">
    <option value="" title="No Account Selected">--Account--</option>
    @foreach(var account in @Model.WorkgroupAccounts)
    {
        <option value="@account.Id" title="@(account.GetAccount)">@account.GetName</option>
    }
</select>