@model OrderModifyModel

@Html.AntiForgeryToken()

<input data-bind="value: splitType" id="splitType" name="splitType" type="hidden" value="None">
@Html.Hidden("workgroup", @Model.Workgroup.Id)
@Html.Hidden("formSaveId", @Guid.NewGuid().ToString())

<select id="defaultAccounts" style="display:none;">
    @foreach(var account in @Model.Accounts)
    {
        <option value="@account.Id" title="@account.Name">@account.Id</option>
    }
</select>
@await Html.PartialAsync("_Justification")

@await Html.PartialAsync("_BusinessPurpose")    

@await Html.PartialAsync("_Vendor")
    
@await Html.PartialAsync("_ShippingAddress")

@await Html.PartialAsync("_LineItems")

@await Html.PartialAsync("_OrderDetails")
    
@await Html.PartialAsync("_OrderSplits")

@await Html.PartialAsync("_ConditionalApprovals")
    
@if (Model.Workgroup.AllowControlledSubstances)
{
    @await Html.PartialAsync("_RestrictedInfo")
}

@await Html.PartialAsync("_CustomFields")
    
@await Html.PartialAsync("_OrderPreferences")
    
@await Html.PartialAsync("_Submit")