@using Purchasing.Core.Domain
@model OrderModifyModel

@{
    var hasControlledSubstance = Model.Order.HasControlledSubstance;
    var controlledSubstanceInfo = hasControlledSubstance ? Model.Order.GetAuthorizationInfo() : new ControlledSubstanceInformation();
} 

<section id="order-restricted-section">
    <header class="ui-widget-header ui-corner-top">
            <div class="col1">Controlled Substance</div>
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>
                Please fill out the following section for order requests that include controlled substances.
            </p>    
        </div>

        <ul>
            <li>
                <div class="editor-label">Controlled?</div>
                <div class="editor-field">
                    <input id="order-restricted-checkbox" name="restricted.status" type="checkbox" value="True" @(hasControlledSubstance ? "checked='checked'" : "")  />
                    <label for="order-restricted-checkbox" id="order-restricted-checkbox_Label"> Check this box if the order contains a controlled substance</label>
                </div>
            </li>
        </ul>
                        
        <ul id="order-restricted-fields" style="@(hasControlledSubstance ? string.Empty : "display:none;")" >
@*            <li>
                <div class="editor-label required">RUA Number <span class="required">*</span></div>
                <div class="editor-field">
                    <input name="restricted.rua" class="required" type="text" placeholder="RUA #" title="Radioactive Use Authorization Number" value="@controlledSubstanceInfo.AuthorizationNum"
                        data-val="true" data-val-required="Please specify a RUA Number" data-val-length="RUA can be up to 10 characters" data-val-length-max="10" maxlength="10" />
                    <span data-valmsg-for="restricted.rua" data-valmsg-replace="true"></span>
                </div>
            </li>*@
            <li>
                <div class="editor-label required">Class/Schedule <span class="required">*</span></div>
                <div class="editor-field">
                    <input name="restricted.class" class="required" type="text" placeholder="Class/Schedule" value="@controlledSubstanceInfo.ClassSchedule"
                           data-val="true" data-val-required="Please specify a Class/Schedule" data-val-length="Class/Schedule can be up to 10 characters" data-val-length-max="10" maxlength="10" />
                    <span data-valmsg-for="restricted.class" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">Pharmaceutical Grade </div>
                <div class="editor-field">
                    <span title="Whether or not the substance is pharmaceutical grade (required if substance is for animal use)." class="showTip">
                    <input name="restricted.PharmaceuticalGrade" type="checkbox" value="True" @(controlledSubstanceInfo.PharmaceuticalGrade ? "checked='checked'" : "" )/>
                    </span>
                </div>
            </li>
            <li>
                <div class="editor-label required">How it is used? <span class="required">*</span></div>
                <div class="editor-field">
                    <input name="restricted.use" class="required" type="text" placeholder="How it is used" value="@controlledSubstanceInfo.Use"
                    data-val="true" data-val-required="Please specify a use" data-val-length="Use can be up to 200 characters" data-val-length-max="200" maxlength="200" />
                    <span data-valmsg-for="restricted.use" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">Storage Site <span class="required">*</span></div>
                <div class="editor-field">
                    <input name="restricted.storageSite" class="required" type="text" placeholder="Storage Site" title="Approved storage site on record" value="@controlledSubstanceInfo.StorageSite"
                    data-val="true" data-val-required="Please specify a Storage Site" data-val-length="Storage Site can be up to 50 characters" data-val-length-max="50" maxlength="50" />
                    <span data-valmsg-for="restricted.storageSite" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">Custodian <span class="required">*</span></div>
                <div class="editor-field">
                    <input name="restricted.custodian" class="required" type="text" placeholder="Custodian" value="@controlledSubstanceInfo.Custodian"
                    data-val="true" data-val-required="Please specify the Custodian" data-val-length="Custodian can be up to 200 characters" data-val-length-max="200" maxlength="200" />
                    <span data-valmsg-for="restricted.custodian" data-valmsg-replace="true"></span>
                </div>
            </li>
            <li>
                <div class="editor-label required">Authorized User(s) <span class="required">*</span></div>
                <div class="editor-field">
                    <input name="restricted.users" class="required" type="text" placeholder="Authorized User(s)" title="Enter authorized users here. Multiple names should be separated with a comma." value="@controlledSubstanceInfo.EndUser"
                    data-val="true" data-val-required="Please specify Authorized User(s)" data-val-length="Authorized User(s) can be up to 200 characters" data-val-length-max="200" maxlength="200" />
                    <span data-valmsg-for="restricted.users" data-valmsg-replace="true"></span>
                </div>
            </li>
        </ul>
    </div>
</section>