@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@using Purchasing.Core.Domain
@model ReviewOrderViewModel

@if (!Model.Complete)
{
    var personLookupUrl = configuration.GetValue<string>("PersonLookupUrl");
      
    <section id="approvals" class="ui-corner-all display-form">

        <header class="ui-corner-top ui-widget-header showInNav">Approvals</header>

        <div class="section-contents">
    
            <table class="noicon">
                <tbody>
                    @foreach (var approval in Model.OrderedUniqueApprovals)
                    {
                        var approvalDisplayName = (approval.User != null ? Model.ApprovalUsers.First(x => x.Id.ToLower() == approval.User.Id.ToLower()).FullName : string.Format("[Any Workgroup {0}]", approval.StatusCode.Name)) + (approval.SecondaryUser != null ? " or " + Model.ApprovalUsers.First(x=>x.Id.ToLower() == approval.SecondaryUser.Id.ToLower()).FullName : string.Empty);
                        <tr class='@(approval.Completed ? "approval-complete" : "approval-incomplete")'>
                            <td>@approval.StatusCode.Name</td>
                            <td class="name">
                                @approvalDisplayName
                                @if (approval.User == null)
                                {
                                    <a class='workgroupDetails showTip ui-icon ui-icon-person' data-role='@approval.StatusCode.Id' title='Lookup all the people who have workgroup access to this order at this Status.'></a>
                                }
                                else
                                {
                                    <a class="showTip ui-icon ui-icon-info" href="@personLookupUrl@approval.User.Email" target="_blank" title='Opens a new window to the campus directory performing a search for this person.'></a>
                                }
                            </td>
                            <td>@(approval.Completed ? "Approved" : "Pending")</td>
                            @if (Model.CanEditOrder)
                            {
                                <td>
                                    @if (approval.StatusCode.Id == OrderStatusCode.Codes.Purchaser && (Model.Order.StatusCode.Id == OrderStatusCode.Codes.Purchaser || Model.Order.StatusCode.Id == OrderStatusCode.Codes.AccountManager))
                                    {
                                        @Html.ActionLink("Reroute Purchaser", "ReroutePurchaser", new { id = Model.Order.Id }, new { @Class = "button" }) 
                                    }
                                    else if (!approval.Completed && approval.StatusCode.Level == Model.Order.StatusCode.Level && Model.ExternalApprovals.Contains(approval))
                                    {
                                        <a href="#" class="button reroute" data-approval-id="@approval.Id">ReRoute External Approval</a>
                                    }
                                    else if (!approval.Completed && approval.StatusCode.Id == OrderStatusCode.Codes.AccountManager && Model.ReRouteAbleAccountManagerApprovals.Contains(approval))
                                    {
                                        @Html.ActionLink("ReRoute Approval", "RerouteAccountManager", new { id = Model.Order.Id, approvalId = approval.Id }, new { @Class = "button" }) 
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
    
        </div>

        <div id="reroute-search" title="Reroute Approval" style="display: none;">

            Email/Kerberos: <input type="text" id="reroute-person"/>    

            <input type="hidden" id="selected-orderId" value="@Model.Order.Id"/>
            <input type="hidden" id="selected-approval" />
            <input type="hidden" id="selected-person" />
        
        </div>

    </section>
}

@await Html.PartialAsync("_PeepsDialog")