@model ReviewOrderViewModel

@if (!Model.HasLineSplits)
{
    <section id="accounts" class="ui-corner-all display-form">
    
        <header class="ui-corner-top ui-widget-header showInNav">Account Information</header>

        <div class="section-contents">
        
            @* Only one "split" meaning this entire order is one account *@
            @if (Model.Splits.Count() == 1)
            {
                var split = Model.Splits.Single();

                <div class="acct-info">
                    @if(!string.IsNullOrWhiteSpace(split.FinancialSegmentString))
                    {
                        var link = $"https://finjector.ucdavis.edu/Details/{split.FinancialSegmentString}";
                        <strong>Account:</strong> <span class="account"><a href=@link target="_blank" style="text-decoration:underline">@split.AccountDisplay</a> </span>
                    }
                    else
                    {
                        <strong>Account:</strong> <span class="account">@split.AccountDisplay</span>
                    }
                    
                    @if (string.IsNullOrWhiteSpace(split.FinancialSegmentString))
                    {
                        <strong>SubAccount:</strong><span class="subaccount">@Model.GetSubAccountDisplayForSplit(@split)</span>
                        <strong>Project:</strong> <span class="project">@split.Project</span>
                    }
                </div>
            }
            @* Order split over multiple accounts *@
            else
            {
                <div class="row-split" style="width:100%">
                <table class="noicon">
                
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>SubAccount</th>
                            <th>Project</th>
                            <th>Amount</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var split in Model.Splits)
                            {
                                <tr>
                                    @if (!string.IsNullOrWhiteSpace(split.FinancialSegmentString))
                                    {
                                        var link = $"https://finjector.ucdavis.edu/Details/{split.FinancialSegmentString}";
                                        <td><a href=@link target="_blank" style="text-decoration:underline">@split.AccountDisplay</a> </td>
                                    }
                                    else
                                    {
                                        <td>@split.AccountDisplay</td>
                                    }
                                    
                                <td>@Model.GetSubAccountDisplayForSplit(@split)</td>
                                <td>@split.Project</td>
                                <td>@split.Amount</td>
                            </tr>
                        }
                    </tbody>

                </table>
                </div>

            }

        </div>


    </section>
}