@model ReviewOrderViewModel

<section id="attachments" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header showInNav">Attachments</header>
    @if (Model.Complete && !Model.Order.OrderReceived)
    {
        <div class="section-text">
            <p>Please receive or pay for all items before uploading an order invoice.</p>
        </div>
    }
    <div class="section-text">
        <p><strong style="color: red">Note:</strong> Do not attach documents with private information like Social Security Numbers</p>
    </div>

       <div class="section-contents">

        @if (!Model.Attachments.Any())
        {
            <span class="attachments-not-found">There Are No Files Attached To This Order</span>
        }
        <ul>
            @foreach (var attachment in Model.Attachments)
            {
                var filename = attachment.FileName;
                if (filename != null && filename.Length > 30)
                {
                    filename = filename.Substring(0, 19) + "..." + filename.Substring(filename.Length - 8, 8);
                }
                <li>                    
                    <div class="ui-widget" style="display: inline-block"><select id="combobox" data-id="@attachment.Id" class="qq-upload-file-category jcs-combobox" value="@attachment.Category"><option value="@attachment.Category">@attachment.Category</option><option value="Order Confirmation">Order Confirmation</option><option value="Invoice">Invoice</option><option value="Shipping Notification">Shipping Notification</option><option value="Packing Slip">Packing Slip</option><option value="Licenses and Agreements">Licenses and Agreements</option><option value="Miscellaneous">Miscellaneous</option></select><div class="qq-upload-file-category-message" style="display: inline-block; margin-left: 33px;"></div> </div>                                                                                              
                    <a href="@Url.Action("ViewFile", new { fileId = @attachment.Id })" title="@attachment.FileName">@filename</a> [uploaded by @attachment.User.FullName on @attachment.DateCreated.ToShortDateString()] 
                </li>
            }
        </ul>
        <div>
            <div id="file-uploader">
                <noscript>
                    <p>Please enable JavaScript to use file uploader.</p>
                    <!-- or put a simple form for upload here -->
                </noscript>
            </div>
        </div>
    </div>
</section>