@model OrderModifyModel

@{
    ViewBag.Title = "Copy";
}

@section AdditionalStyles{
    @await Html.PartialAsync("_CssBundle", "~/Css/order")
}

@section AdditionalScripts{
    @await Html.PartialAsync("_JsBundle", "~/bundles/order")

    <script type="text/javascript">
        $.validator.setDefaults({ ignore: ':hidden :not(.chzn-done)' }); //do not ignore hidden chosen select lists

        $(function () {
            @Html.Partial("_Options")

            purchasing.init(); //Init all base order form js

            purchasing.initCopy(); //Add in the edit functionality
        });

    </script>
    
}

@Html.Partial("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm("Copy", "Order", new { Model.Order.Id }, FormMethod.Post, true, new { id = "order-form" }))
{
    <input data-bind="value: adjustRouting" id="adjustRouting" name="adjustRouting" type="hidden" />

    @Html.Partial("_OrderForm")
}
</div>

@Html.Partial("_OrderTemplates")

@Html.Partial("_ItemModificationTemplate")

@Html.Partial("_OrderDialogs")