@using Purchasing.Core.Domain
@model OrderAeErrorsViewModel

@{
    ViewBag.Title = "Aggie Enterprise Errors";
}

@section SubNav
    {
    <ul class="navigation">
        <li><a href="@Url.Action("Review", new {id=Model.Order.Id})" class="ui-button button ui-state-default">Back to Order</a></li>
    </ul>
}

<table class='dt-table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Error Code</th>
            <th>Error Message</th>            

        </tr>
    </thead>
    <tbody>
        @{
            var odd = false;
        }
        @foreach (var item in Model.Errors)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    @item.ColumnName
                </td>
                <td>
                    @item.ColumnValue
                </td>
                <td>
                    @item.ErrorCode
                </td>
                <td>
                    @item.ErrorMessage
                </td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>

@if (Model.AllowSetStatusBack)
{
    <form method="post" asp-controller="Order" asp-action="SetBackToPurchaserLevel">
        <input type="hidden" name="id" value="@Model.Order.Id" />
        <input type="submit" value="Set Status Back" class="button" />
</form>
}