@model Purchasing.Mvc.Models.WorkgroupAddressViewModel

<li>
    <div class="display-label">Name</div>
    <div class="display-details">@Model.WorkgroupAddress.Name</div>
</li>
<li>
    <div class="display-label">Campus Location Code</div>
    @if (!string.IsNullOrWhiteSpace(Model.WorkgroupAddress.AeLocationCode))
    {
        <div class="display-details">@Model.WorkgroupAddress.AeLocationCode</div>
    }
    else
    {
        <div style="color: red" class="display-details">Warning Not a Valid Campus Location</div>        
    }
    
</li>
<li>
    <div class="display-label">Building</div>
    <div class="display-details">@Model.WorkgroupAddress.Building</div>
</li>

<li>
    <div class="display-label">Room</div>
    <div class="display-details">@Model.WorkgroupAddress.Room</div>
</li>
<li>
    <div class="display-label">Address</div>
    <div class="display-details">@Model.WorkgroupAddress.Address</div>
</li>
<li>
    <div class="display-label">City</div>
    <div class="display-details">@Model.WorkgroupAddress.City</div>
</li>
<li>
    <div class="display-label">State</div>
    <div class="display-details">@Model.State.Name (@Model.WorkgroupAddress.State)</div>
</li>
<li>
    <div class="display-label">Zip</div>
    <div class="display-details">@Model.WorkgroupAddress.Zip</div>
</li>
<li>
    <div class="display-label">Phone</div>
    <div class="display-details">@Model.WorkgroupAddress.Phone</div>
</li>
