@using Purchasing.Mvc.Models
@model WorkgroupVendorViewModel

@{
   @await Html.PartialAsync("_JsBundle", "~/bundles/jqueryTmpl")
}
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.Hidden("newVendor", false)
    @Html.Hidden("WorkgroupVendor.Workgroup", Model.WorkgroupVendor.Workgroup.Id)
    
    <section class="ui-corner-all">
	    <header class="ui-corner-top ui-widget-header">Kfs Vendor</header>
        

		    <div class="section-text">
			    <p>Selecting from the below drop downs will associate this vendor with KFS records and will automatically associate orders with KFS vendors when submitted to KFS.</p>
		    </div>

	    <div class="section-contents">
		    <ul>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.VendorId)</div>
				    <div class="editor-field">
                        @*@Html.Select("WorkgroupVendor.VendorId", o => o.Options(Model.Vendors, x => x.Id, x => x.Name).FirstOption("--Select Vendor--").Selected(Model.WorkgroupVendor.VendorId))*@

                        <input type="text" id="VendorSearch"/>
                        @Html.Hidden("WorkgroupVendor.AeSupplierNumber")

                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.VendorId)
                        <span id="loader-image" style="display: none;"><img src='@Url.Image("ajax-loader.gif")'/></span>
				    </div>
			    </li>

                <li>
                    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.VendorAddressTypeCode)</div>
                    <div class="editor-field">
                        @Html.Select("WorkgroupVendor.AeSupplierSiteCode", o => o.FirstOption("--Select Address--").Options(Model.VendorAddresses).Selected(Model.WorkgroupVendor.AeSupplierSiteCode).Disabled(true))
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.AeSupplierSiteCode)
                    </div>
                </li>

		    </ul>

	    </div>


    </section>
       
    <section class="ui-corner-all">
    
        <div class="section-contents">
            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field"><input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "VendorList", new { id = Model.WorkgroupVendor.Workgroup.Id })</div>
                </li>
            </ul>
        </div>

    </section>
}

<script type="text/javascript">
    $(function () {

        $("#VendorSearch").autocomplete({
            source: function (request, response) {
                var searchUrl = '@Url.Action("SearchVendor", "WorkgroupVendor")';
                $("#loader-image").toggle();
                $.getJSON(searchUrl, { searchTerm: request.term }, function (results) {

                    response($.map(results, function (item) {
                        return {
                            label: item.Name,
                            value: item.Id
                        };
                    }));
                    $("#loader-image").toggle();
                });
            },
            minLength: 3,
            select: function (event, ui) {

                // set the selected vendor
                //$("#WorkgroupVendor_VendorId").val(ui.item.value);
                $("#WorkgroupVendor_AeSupplierNumber").val(ui.item.value);

                // display the vendor's name
                $(this).val(ui.item.label);

                // search for an address
                searchVendorAddress(ui.item.value);

                return false;

            }
        });

    });

    function searchVendorAddress(vendorId) {
        
        var vendorAddressUrl = '@Url.Action("SearchVendorAddress", "WorkgroupVendor")';

        $.getJSON(vendorAddressUrl, { vendorId: vendorId }, function (results) {
           
            // clear the current options
            $("#WorkgroupVendor_AeSupplierSiteCode option:not(:first)").remove();

            var select = $("#WorkgroupVendor_AeSupplierSiteCode");

            if (results.length > 0) {
                
                var data = $.map(results, function (n, i) { return { id: n.Id, name: n.Name }; });

                $.tmpl($("#select-option-template"), data).appendTo("#WorkgroupVendor_AeSupplierSiteCode");
               
                // activate control
                select.removeAttr("disabled");
            }
            else {
                // deactivate select
                select.attr("disabled", "disabled"); //Doesn't seem to work
            }

        });
    }
    
</script>

<script id="select-option-template" type="text/x-jquery-tmpl">
<option value="${id}">${name}</option>
</script>