@using Purchasing.Mvc.Models
@model WorkgroupModifyModel
@Html.Partial("_CommonWorkgroupForm")
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.IsActive)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.IsActive)
        @Html.ValidationMessageFor(model => model.Workgroup.IsActive)
    </div>
</li>
<li>
    <div class="editor-label required">
        @Html.LabelFor(model => model.Workgroup.PrimaryOrganization)<span class"red">*</span>
    </div>
    <div class="editor-field">
        @*@Html.DropDownListFor(x => x.Workgroup.PrimaryOrganization, new SelectList(Model.Organizations, "Value", "Text"))*@
        @Html.Select("Workgroup.PrimaryOrganization", o => o.Options(Model.Organizations, x => x.Value, x => x.Text).Selected(Model.Workgroup.PrimaryOrganization == null ? string.Empty : Model.Workgroup.PrimaryOrganization.Id).Class("chzn-select"))
        @Html.ValidationMessageFor(x => x.Workgroup.PrimaryOrganization)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Organizations)
    </div>
    <div class="editor-field">
        <div class="selector">
            <select id="SelectedOrganizations" name="selectedOrganizations" multiple="">
                @foreach (var a in Model.Organizations)
                {
                    <option @(a.Selected ? "selected" : "") value="@a.Value">@a.Text</option>
                }
            </select>
        </div>
    </div>
</li>
