@model Purchasing.Mvc.Models.WorkgroupAccountDetails

@{
    ViewBag.Title = "Account Details";
}

@section SubNav
{
	<ul class="navigation">
        <li>@Html.ActionLink("Edit", "EditAccount", new { id = Model.WorkgroupAccount.Workgroup.Id, accountid = Model.WorkgroupAccount.Id }, new { @class = "button" }) </li>
        <li>@Html.ActionLink("Back to List", "Accounts", new { id = Model.WorkgroupAccount.Workgroup.Id }, new { @class = "button" })</li>
		</ul>
}

<section class="display-form ui-corner-all">
        <header class="ui-corner-top ui-widget-header">Account: @Model.WorkgroupAccount.GetName (@Model.WorkgroupAccount.GetAccount)</header>
	<ul>
        <li>
            <div class="display-label">@Html.LabelFor(x => x.WorkgroupAccount.Approver)</div>
            <div class="display-details">@(Model.WorkgroupAccount.Approver != null ? Model.WorkgroupAccount.Approver.FullName : "n/a")</div>
        </li>
        <li>
            <div class="display-label">@Html.LabelFor(x => x.WorkgroupAccount.AccountManager)</div>
            <div class="display-details">@(Model.WorkgroupAccount.AccountManager != null ? Model.WorkgroupAccount.AccountManager.FullName : "n/a")</div>
        </li>
        <li>
            <div class="display-label">@Html.LabelFor(x => x.WorkgroupAccount.Purchaser)</div>
            <div class=display-details>@(Model.WorkgroupAccount.Purchaser != null ? Model.WorkgroupAccount.Purchaser.FullName : "n/a")</div>
        </li>
	</ul>

</section>

@if (Model.AccountValidationModel.Details.Any())
{
    <section class="display-form ui-corner-all">
        <header class="ui-corner-top ui-widget-header">@(Model.AccountValidationModel.IsPpm ? "PPM/POET Account" : "General Ledger Account")</header>

        <ul>
            @foreach (var detail in Model.AccountValidationModel.Details)
            {
                <li>
                    <div class="display-label">@detail.Key</div>
                    <div class=display-details>@(detail.Value != null ? detail.Value : "n/a")</div>
                </li>
            }
        </ul>
    </section>
}

@if (Model.AccountValidationModel.Warnings.Any())
{
    <section class="display-form ui-corner-all">
        <header class="ui-corner-top ui-widget-header" style="color: red">WARNINGS!!!</header>

        <ul>
            @foreach (var detail in Model.AccountValidationModel.Warnings)
            {
                <li>
                    <div class="display-label">@detail.Key</div>
                    <div class=display-details>@(detail.Value != null ? detail.Value : "n/a")</div>
                </li>
            }
        </ul>
    </section>
}

