@using Purchasing.Core.Domain
@model Workgroup
@{
    ViewBag.Title = "Workgroup Accounts";
}

@section AdditionalScripts{

}

@section SubNav
{
    <ul class="navigation">
        <li><a href='@Url.Action("AddAccount", new {id = Model.Id})' class="ui-button button ui-state-default">Add Accounts</a></li>
        <li><a href='@Url.Action("UpdateMultipleAccounts", new { id = Model.Id })' class="ui-button button ui-state-default">Update Multiple</a></li>
        <li><a href="@Url.Action("Details", new {id=Model.Id})" class="ui-button button ui-state-default">Back to Workgroup</a></li>
    </ul>
}

<table class='dt-table'>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Account</th>
            <th>Approver</th>
            <th>Manager</th>
            <th>Purchaser</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach (var item in Model.Accounts)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    <a href='@Url.Action("AccountDetails", new {id = Model.Id, accountId= item.Id})' class="ui-icon ui-icon-document">
                    </a>
                    <a href='@Url.Action("EditAccount", new { id = Model.Id, accountId = item.Id })' class="ui-icon ui-icon-pencil">
                    </a>
                </td>
                <td>
                    @Html.ActionLink(item.GetName, "AccountDetails", "Workgroup", new {id = Model.Id, accountId = item.Id}, new {})
                </td>
                <td>@Html.ActionLink(item.GetAccount, "AccountDetails", "Workgroup", new {id = Model.Id, accountId = item.Id}, new {})</td>
                <td>@(item.Approver != null ? @item.Approver.FullNameAndId : string.Empty)</td>
                <td>@(item.AccountManager != null ? item.AccountManager.FullNameAndId : string.Empty)</td>                
                <td>@(item.Purchaser != null ? item.Purchaser.FullNameAndId : string.Empty)</td>
                <td>
                    <a href='@Url.Action("AccountDelete", new { id = Model.Id, accountId = item.Id })' class="ui-icon ui-icon-trash">
                    </a>
                </td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>