@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@model Purchasing.Core.Domain.WorkgroupVendor

@{
    ViewBag.Title = "Delete Workgroup Vendor";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "VendorList", new { id = Model.Workgroup.Id }, new { @class = "button" })</li>
	</ul>
}

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Workgroup.Id)
    @Html.Hidden("workgroupVendorId", Model.Id)

<section class="display-form ui-corner-all">
	<header class="ui-corner-top ui-widget-header">WorkgroupVendor</header>
	<ul>
	    <li>
	        <div class="display-label">Kfs Vendor?</div>
	        <div class="display-details">@(string.IsNullOrWhiteSpace(Model.VendorId) && string.IsNullOrWhiteSpace(Model.VendorAddressTypeCode) ? "No" : "Yes")</div>
	    </li>
        @if (!string.IsNullOrWhiteSpace(Model.VendorId))
        {
			
            var kfsLookup = string.Format("{0}/kr/inquiry.do?businessObjectClassName=org.kuali.kfs.vnd.businessobject.VendorDetail&methodToCall=start&vendorDetailAssignedIdentifier=0&vendorHeaderGeneratedIdentifier={1}",configuration.GetValue<string>("AfsLookupUrl") ,Model.VendorId);                                    
            <li>
                <div class="display-label">Vendor Id</div>
                <div class="display-details">
                    <span><a href="@kfsLookup" target="_blank"> @Model.VendorId</a></span>
                </div>
            </li>
        }
		<li>
			<div class="display-label">Name</div>
			<div class="display-details">@Model.Name</div>
		</li>
		<li>
			<div class="display-label">Line1</div>
			<div class="display-details">@Model.Line1</div>
		</li>
		<li>
			<div class="display-label">Line2</div>
			<div class="display-details">@Model.Line2</div>
		</li>
		<li>
			<div class="display-label">Line3</div>
			<div class="display-details">@Model.Line3</div>
		</li>
		<li>
			<div class="display-label">City</div>
			<div class="display-details">@Model.City</div>
		</li>
		<li>
			<div class="display-label">State</div>
			<div class="display-details">@Model.State</div>
		</li>
		<li>
			<div class="display-label">Zip</div>
			<div class="display-details">@Model.Zip</div>
		</li>
		<li>
			<div class="display-label">CountryCode</div>
			<div class="display-details">@Model.CountryCode</div>
		</li>
		
		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<div class="display-label">&nbsp;</div>
			<div class="display-details">
			<input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "VendorList", new {id=Model.Workgroup.Id} )
			</div>
		</li>
	</ul>

</section>
}


