@using Purchasing.Core.Domain
@model Workgroup

@{
    ViewBag.Title = "Update Accounts From Finjector";
}

@section AdditionalScripts {
    @await Html.PartialAsync("_JsBundle", "~/bundles/common")

    <script type="text/javascript">

        $("#finjector-import").on("click", function (e) {
            alert("FAKING Importing from Finjector");

            var fakeData = [
                { Name: "Test Account 1", ChartString: "123456-12345-12345-12345-12345" },
                { Name: "REGIFEE - FeeFinancialSegmentString Updated", ChartString: "3110-13U20-ADNO003-410004-00-000-GLPEV00120-000000-0000-000000-000000" },
                { Name: "COMPUTING RESOURCES UNIT- GETCHELL [3-CRU9033]", ChartString: "3110-13U02-ADNO006-522201-43-000-0000000000-200504-0000-000000-000000" }
            ];
            //assign the data to the hidden field
            if (fakeData.length > 0) {
                $("#found-info").html("");
                $("#found-info").append("<p>Click Update Accounts to update the accounts in the workgroup.</p>");
                $("#found-info").append("<p>Found " + fakeData.length + " chart strings</p>");
                for (var i = 0; i < fakeData.length; i++) {
                    $("#found-info").append("<p><div><strong>" + fakeData[i].Name + "</strong></div><div>" + fakeData[i].ChartString + "</div></p>");
                }
                
                $("#found-info").show();
                //assigned fakeData to the hidden field charts
                $("#chartsString").val(JSON.stringify(fakeData));

                $("#submit-it").removeAttr("disabled");
                //refresh it so it is enabled
                $("#submit-it").button("refresh");
            }
            else {
                $("#found-info").html("");
                $("#found-info").append("<p>No Chart Strings from Finjector have been selected.</p>");
                $("#found-info").show();
                $("#chartsString").val("");

                //disable the update accounts button
                $("#submit-it").attr("disabled", "disabled");
            }

        });

    </script>




}


<form method="post" asp-route-id="@Model.Id" asp-controller="Workgroup" asp-action="UpdateAccountsFromFinjector">
    @Html.AntiForgeryToken()
    @Html.Hidden("chartsString")


    <section class="padded">
        <header class="ui-widget-header ui-corner-top">Finjector Import</header>

        <div class="section-contents">

            <div class="section-text">
                <p>To import Chart Strings from Finjector, you must first click the Import button, then select the team or folder you wish to import from the popup window.</p>
                <p>If any are found, you will see that information below and you can then click the Update Accounts.</p>
                <p>IMPORTANT!!! This will remove any workgroup accounts that do not match the chart strings you have selected. And will update the name if it has changed.</p>
            </div>

            <br />
            <br />

            <div class="editor-field">
                <button type="button" id="finjector-import">Import From Finjector</button>


            </div>

            <br />
            <br />

            <div class="editor-field">
                <button id="submit-it" type="submit" disabled="disabled">Update Accounts</button>  | @Html.ActionLink("Cancel", "Accounts", new { id = @Model.Id })
            </div>

            <br />
            <br />
            <div id="found-info">
                <p>No Chart Strings from Finjector have been selected.</p>
            </div>


        </div>

    </section>

</form>