@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@model Purchasing.Mvc.Controllers.WhoHasWorkgroupAccessViewModel


@{
    ViewBag.Title = "Who Has Access To Workgroup " + Model.Workgroup.Name;

}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Details", "Details", new { id = @Model.Workgroup.Id }, new { @class = "button" })</li>
		<li>@Html.ActionLink("Back to List", "Index", "Edit", new { }, new { @class = "button" })</li>
	</ul>
}

<section class="display-form">
    <header class="ui-widget-header ui-corner-top">All Existing Related Departmental Administrators</header>

    <div class="section-contents">
    @foreach (var email in Model.AllExistingUsers)
    {
        var emailString = string.Format("mailto:{0}", email);
        <a href="@emailString">@Html.Encode(email)</a>@Html.Encode(";")
    }
    </div>
</section>

<section class="display-form">
    <header class="ui-widget-header ui-corner-top">Parent Organizations With Existing Departmental Administrators</header>

    <div class="section-contents">
        
        <dl>
            @foreach (var org in Model.OrganizationsWhithParentUsers)
            {
                var nameAndId = string.Format("{0} ({1})", org.Name, org.Id);
                <dt>
                    <h2>@nameAndId</h2>
                </dt>
                    
                foreach (var email in Model.ParentOrgsExistingUsers.Where(a => a.Key == org.Id))
                {
                    <dd>
  
                        <div class="display-details">
                                     
                            @{
                    var url = string.Format("{0}{1}", configuration["PersonLookupUrl"], email.Value);
                                var emailString = string.Format("mailto:{0}", email.Value);
                            }
                            <a class="button" href="@url" target="_blank">Lookup</a>
                            <a href="@emailString">@Html.Encode(email.Value)</a>                                                       
                        </div>
                    </dd>
                }
            }
        </dl>


    </div>

    <footer class="ui-corner-bottom"></footer>

</section>


