@model AddNewOrgEditModel

@{
    ViewBag.Title = "Add New Organization";
}

<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<section class="ui-corner-all">
		<header class="ui-corner-top">Service Message</header>

		<div class="section-contents">

			<div class="section-text">

				<p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>

			</div>

			<ul>
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.ParentOrgCode)<span>*</span>
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.ParentOrgCode)
						@Html.ValidationMessageFor(model => model.ParentOrgCode)
					</div>
				</li>
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.OrgCode)<span>*</span>
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.OrgCode)
						@Html.ValidationMessageFor(model => model.OrgCode)
					</div>
				</li>
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.OrgName)<span>*</span>
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.OrgName)
						@Html.ValidationMessageFor(model => model.OrgName)
					</div>
				</li>
				<li>
					<div class="editor-label"><label>&nbsp;</label></div>
					<div class="editor-field"><input class="button" type="submit" value="Save" /></div>
				</li>
			</ul>

		</div>

		<footer class="ui-corner-bottom"></footer>

	</section>
</form>
