@model IEnumerable<Purchasing.Mvc.Controllers.ValidateChildWorkgroupsViewModel>


@{
    ViewBag.Title = "Validate Child Workgroups";

}

@section SubNav
{
	<ul class="navigation">
        <li>@Html.ActionLink("Remove Extra Child Permissions", "RemoveExtraChildPermissions", null, new { @class = "button" })</li>
	</ul>
}


<h2>Child Workgroups with Missing or Extra Permissions:</h2>

@foreach (var item in Model)
{ 
    <h2>@item.ChildWorkgroup.Id -- @item.ChildWorkgroup.Name</h2>
    if (item.ExtraChildPermissions.Count > 0)
    {
        <h3>Extra Child Permissions</h3>
        foreach (var extraChildPermission in item.ExtraChildPermissions)
        {
            <h4>@extraChildPermission.Id -- @extraChildPermission.Role.Id -- @extraChildPermission.User.Id -- @extraChildPermission.ParentWorkgroup.Id -- @extraChildPermission.IsFullFeatured</h4>
        }
    }
    if (item.MissingChildPermissions.Count > 0)
    {
        <h3>Missing Child Permissions</h3>
        foreach (var missingChildPermission in item.MissingChildPermissions)
        {
            <h4>@missingChildPermission.Id -- @missingChildPermission.Role.Id -- @missingChildPermission.User.Id -- @missingChildPermission.Workgroup.Id -- @missingChildPermission.Workgroup.IsFullFeatured</h4>
        }
    }

}




