<div id="WizardNavigation">
    <ul>
      
            <li>
              @if (ViewBag.Previous != null)
              {
                  <a href="@ViewBag.Previous" class="button">Prev</a>
              }
            </li>
        @if (ViewBag.ListPage == null)
        {
            <li>
                <a href="@ViewBag.Skip" class="">Skip</a>
            </li>
        } else
        {
         <li>
            <a href="@ViewBag.Next" class="">Skip</a>
         </li>   
        }
        
        <li>
            <a href="@Url.Action("Index", "Workgroup")" class="">Exit</a>
        </li>
        <li>
            @if(ViewBag.ListPage != null && (bool)ViewBag.ListPage)
            {
                <a href="@ViewBag.Next" class="button">Next</a>
            }
            else
            {
                <input class="button" type="submit" value="Next" />
            }
        </li>
    </ul>
    <div class="clear">&nbsp;</div>
</div>





