@model IList<UserRoles>
    <div class="wizard-instructions" id="wizard-instructions-table">
    @switch ((int)ViewBag.StepNumber)
    {
        case 3 : 
            //On Requestor
            <p>Requestors are users who can place orders. Typically lab members or general staff who may initiate orders.</p>
            break;
        case 4:
            // On Approver
            <p>Users who review and approve orders from requestors. Approvers must be added as requestors in order to submit orders. Approvers are typically the PI, supervsor of units, or their delegates.</p>
            break;
        case 5:
            //On Account Manager
            <p>Users who review orders following approval step. Typically admin staff or shared service unit budget personell.</p>
            break;
        case 6:
            //On Purchaser
            <p>User who completes order and files order with vendor or campus purchasing. Typcally admin staff or shared service unit purchasing personell.</p>
            break;
    }
    <p>You must add at least one requestor, approver, account manager, and purchaser for the workgroup to be fully functional.</p>
    <p>Use the "Prev" or "add another..." links to add aditional users for this category.</p> 
    <p>Using the wizard, you can only users. If you need to remove them, please use the the admin: workgroup page. </p>
    </div>     
<table class='dt-table nofirsticon no_select'>
	<thead>
		<tr>
						
			<th>
				FirstName
			</th>
			<th>
				LastName
			</th>			
			<th>
				@*Is Away?*@
                Status
			</th>
            <th>
				Away Until
			</th>			
            <th>
                Roles
            </th>
			

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.User.FirstName
			</td>
            <td>
				@item.User.LastName
			</td>
            <td>
                <span class="away-status">
				@*@item.User.IsAway*@
                @if (item.User.IsAway)
                {
                    <span class="table-bool-bad">Away</span>
                }
                else
                {
                    <span class="table-bool-good">Available</span>
                }
                </span>
			</td>           
            <td>
                <span class="away-date">
                    @if (item.User.IsAway)
                    {
                        @String.Format("{0:d}", item.User.AwayUntil)    
                    }
                </span>
               
               @if (ViewBag.HideCalendar == null)
               {
                <img src="@Url.Image("calendar.png")" style="float: right;" class="away-btn" data-name="@item.User.FullName" data-userid="@item.User.Id" />
               }
            </td>
            <td>
                @item.RolesList
            </td>   
		</tr>
		odd = !odd;
}
	</tbody>
</table>