@using Purchasing.Core.Domain
@model IList<WorkgroupVendor>
 <div class="wizard-instructions" id="wizard-instructions-table">
    <p>Using the wizard, vendors can only be added. To edit or remove a vendor, use the admin: workgroup page.</p>
     <p>To add existing KFS Vendors to this workgroup, choose the link "Select KFS Vendor".</p>
     <p>KFS Vendors may be used for orders that do not go through KFS such as P-Card purchases.</p>
     <p>To add non KFS vendors to this workgroup, choose the link "Add Vendor".</p>
     <p>If a non-KFS Vendor is used for an order that goes through KFS, it will have to be added to that system.</p>
 </div>     
<table class='dt-table no-icon-table'>
	<thead>
		<tr>			
			<th>
				Name
			</th>
			<th>
				Line1
			</th>
			<th>
				Line2
			</th>
			<th>
				Line3
			</th>
			<th>
				City
			</th>
			<th>
				State
			</th>
			<th>
				Zip
			</th>
			<th>
				CountryCode
			</th>
            <th>Kfs Vendor</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.Name
			</td>
			<td>
				@item.Line1
			</td>
			<td>
				@item.Line2
			</td>
			<td>
				@item.Line3
			</td>
			<td>
				@item.City
			</td>
			<td>
				@item.State
			</td>
			<td>
				@item.Zip
			</td>
			<td>
				@item.CountryCode
			</td>
            <td>
                @(string.IsNullOrWhiteSpace(item.VendorId) && string.IsNullOrWhiteSpace(item.VendorAddressTypeCode) ? "No" : "Yes")
            </td>
			
		</tr>
		odd = !odd;
}
	</tbody>
</table>