@using Purchasing.Core.Domain
@model Workgroup
@{
    ViewBag.Title = Model.Name;
    ViewBag.StepName = "Account(s)";
    ViewBag.Previous = Url.Action("AddAccounts", "Wizard", new { id = Model.Id });
    ViewBag.Next = Url.Action("Vendors", "Wizard", new { id = Model.Id });
    ViewBag.ListPage = true;
}

@section AdditionalScripts{

}

    @Html.Partial("_StatusBar", Model.Id) 
	@Html.Partial("_Navigation")
    <nav class="col2">
    <ul class='navigation'>
		<li>@Html.ActionLink("Add another account", "AddAccounts", new { Model.Id}, new{@class="button"})</li>
	</ul>
    </nav>

@Html.Partial("_AccountsTable", Model.Accounts)

@Html.Partial("_Navigation")