@using Purchasing.Core.Domain
@model Workgroup
@{
    ViewBag.Title = Model.Name;
    ViewBag.StepName = "Account(s)";
    ViewBag.Previous = Url.Action("AddAccounts", "Wizard", new { id = Model.Id });
    ViewBag.Next = Url.Action("Vendors", "Wizard", new { id = Model.Id });
    ViewBag.ListPage = true;
}

@section AdditionalScripts{

}

@section SubNav
{
     @Html.Partial("_StatusBar", Model.Id) 
	@Html.Partial("_Navigation")
    <ul class='navigation'>
		<li>@Html.ActionLink("Add another account", "AddAccounts", new { Model.Id})</li>
	</ul>
}
<table class='dt-table no-icon-table'>
    <thead>
        <tr>            
            <th>Name</th>
            <th>Approver</th>
            <th>Manager</th>
            <th>Purchaser</th>
        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach (var item in Model.Accounts)
        {
            <tr class="@(odd ? "odd" : "even")">                
                <td>@item.Account.Name</td>
                <td>@item.Approver.FullNameAndId</td>
                <td>@item.AccountManager.FullNameAndId</td>                
                <td>@item.Purchaser.FullNameAndId</td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>
@Html.Partial("_Navigation")