@using Purchasing.Web.Models
@model WorkgroupVendorViewModel

@{
    ViewBag.Title = Model.WorkgroupVendor.Workgroup.Name;
    ViewBag.StepName = "Add Vendor(s)";
    ViewBag.Previous = Url.Action("Vendors", "Wizard", new { id = Model.WorkgroupVendor.Workgroup.Id });
    ViewBag.Skip = Url.Action("Vendors", "Wizard", new { id = Model.WorkgroupVendor.Workgroup.Id });
    ViewBag.IsAdministrative = Model.WorkgroupVendor.Workgroup.Administrative;
    ViewBag.IsAccountSync = Model.WorkgroupVendor.Workgroup.SyncAccounts;
}


    @Html.Partial("_StatusBar", Model.WorkgroupVendor.Workgroup.Id)


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("newVendor", true)
    @Html.Hidden("WorkgroupVendor.Workgroup", Model.WorkgroupVendor.Workgroup.Id)
     @Html.Partial("_Navigation")
    <section class="ui-corner-all">
    
        <header class="ui-corner-top ui-widget-header">New Vendor</header>

        <div class="section-contents">
            <div class="wizard-instructions" id="wizard-instructions-form">            
                <p>To add a non KFS vendor enter the fields below.</p>                
            </div>        
            <div class="section-text">
                <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
            </div>

            <ul>
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.WorkgroupVendor.Name)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.Name)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.Name)
					</div>
				</li>
		
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.WorkgroupVendor.Line1)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.Line1)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.Line1)
					</div>
				</li>
		
				<li>
					<div class="editor-label">
						@Html.LabelFor(model => model.WorkgroupVendor.Line2) 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.Line2)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.Line2)
					</div>
				</li>
		
				<li>
					<div class="editor-label">
						@Html.LabelFor(model => model.WorkgroupVendor.Line3) 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.Line3)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.Line3)
					</div>
				</li>
		
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.WorkgroupVendor.City)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.City)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.City)
					</div>
				</li>
		
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.WorkgroupVendor.State)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.State)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.State)
					</div>
				</li>
		
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.WorkgroupVendor.Zip)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.Zip)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.Zip)
					</div>
				</li>
		
				<li>
					<div class="editor-label required">
						@Html.LabelFor(model => model.WorkgroupVendor.CountryCode)<span>*</span> 
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.WorkgroupVendor.CountryCode)
						@Html.ValidationMessageFor(model => model.WorkgroupVendor.CountryCode)
					</div>
                </li> 
                
                <li>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.WorkgroupVendor.Phone) 
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WorkgroupVendor.Phone)
                        @Html.ValidationMessageFor(model => model.WorkgroupVendor.Phone)
                    </div>
                </li>   
                
                <li>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.WorkgroupVendor.Fax) 
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WorkgroupVendor.Fax)
                        @Html.ValidationMessageFor(model => model.WorkgroupVendor.Fax)
                    </div>
                </li>
                
                <li>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.WorkgroupVendor.Email) 
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.WorkgroupVendor.Email)
                        @Html.ValidationMessageFor(model => model.WorkgroupVendor.Email)
                    </div>
                </li>
            </ul>

        </div>


    </section>
    
     @Html.Partial("_Navigation")
       
}