@using Purchasing.Web.Models
@model WorgroupPeopleCreateModel

@section AdditionalScripts
{
    <link rel="stylesheet" type="text/css" href="@Url.Css("jquery.multiselector.css")"/>
    <script type="text/javascript" src="@Url.Script("jquery.multiselector.js")"></script>

    <script type="text/javascript">

        $(function () {
        
            var userUrl = "@Url.Action("SearchUsers")";
            
            $("#users").multiSelector({autoComplete: false, dataUrl: userUrl, placeholder: "KerberosID or email", showOptions: true});
           
        })

    </script>

    <style type="text/css">
    
        .selector {margin: 2em 0;}
        .selector h3 {margin-bottom: .5em;}
    
        header.title
        {
            border-top: 1px solid #DDDDDD; 
            border-bottom: 1px solid #DDDDDD; 
            font-size: large; 
            padding: 1em;
        }
    
    </style>
}

@{
    ViewBag.Title = "Add " +  Model.Role.Name;
    ViewBag.StepName = "Add " + Model.Role.Name;
}


@section SubNav
{
    @Html.Partial("_StatusBar")
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "People", new {id = Model.Workgroup.Id, roleFilter = ViewBag.roleFilter})</li>
	</ul>
}


@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("_Navigation")
    <section>
        <header>Add People</header>

        <div class="section-contents">

            <div class="section-text">
	
                <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	
            </div>

            <ul>        
                <li>
                    <div class="selector editor-label">
                        <label style="font-weight: bold">Users(s):</label> <span style="font-weight: bold; color: #FF0000;">*</span>
                        <select id="users" name="users" multiple="">
                            @if (Model.Users != null)
                            {
                                foreach (var a in Model.Users)
                                {
                                    <option selected="" value="@a.Id">@a.Name</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(a => a.Users)
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        @Html.Label("Bulk Add By Email") 
                    </div>
                    <div class="editor-field">
                        @Html.TextArea("bulkEmail", null, new {placeholder = "Paste in list of emails from outlook or other source"})
                        @Html.ValidationMessage("bulkEmail")
                    </div>
                </li>
                <li>
                    <div class="editor-label">
                        @Html.Label("Bulk Add By Kerberos Id")
                    </div>
                    <div class="editor-field">
                        @Html.TextArea("bulkKerb", null, new { placeholder = "Paste in Kerberos Ids" })
                        @Html.ValidationMessage("bulkKerb")
                    </div>
                </li>
            </ul>

        </div>

        <footer></footer>

    </section>
    @Html.Partial("_Navigation")
}


