@model Purchasing.Web.Models.WorkgroupAddressListModel

@{
    ViewBag.Title = Model.Workgroup.Name;
    ViewBag.StepName = "Add Shipping Addresses";
    ViewBag.Previous = Url.Action("AddAddresses", "Wizard", new { id = Model.Workgroup.Id });
    ViewBag.Next = Url.Action("AddConditionalApproval", "Wizard", new { id = Model.Workgroup.Id });
    ViewBag.ListPage = true;
    ViewBag.IsAdministrative = Model.Workgroup.Administrative;
    ViewBag.IsAccountSync = Model.Workgroup.Administrative;
}


	@Html.Partial("_StatusBar", Model.Workgroup.Id)
    @Html.Partial("_Navigation")
    <nav class="col2">
        <ul class='navigation'>
            <li>
                <a href="#" id="help-organizations-page" class="ui-icon ui-icon-help showTip" style="margin-bottom: -6px;" title="
                You can add any number of additional shipping address to this workgroup. This provides
                the ability to pick from a short list of shiiping address when creating an order.
                Using the wizard, you can only add shipping address. If you need to remove them, please use the the admin: workgroup page."></a>
            </li>		
            <li>@Html.ActionLink("Add More Addresses ", "AddAddresses", new { id = Model.Workgroup.Id }, new { @class = "button" })</li>
        </ul>
    </nav>

<table class='dt-table no-icon-table'>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Building
			</th>
			<th>
				Room
			</th>
			<th>
				Address
			</th>
			<th>
				City
			</th>
			<th>
				State
			</th>
			<th>
				Zip
			</th>
			<th>
				Phone
			</th>


		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.WorkgroupAddresses) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				@item.Name
			</td>
			<td>
				@item.Building
			</td>
			<td>
				@item.Room
			</td>
			<td>
				@item.Address
			</td>
			<td>
				@item.City
			</td>
			<td>
				@item.State
			</td>
			<td>
				@item.Zip
			</td>
			<td>
				@item.Phone
			</td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>
@Html.Partial("_Navigation")



