@using Purchasing.Web.Models
@model WorkgroupModifyModel

@{
    ViewBag.Title = Model.Workgroup.Name;
    ViewBag.StepName = "Add Suborganization(s)";
    ViewBag.Skip = Url.Action("SubOrganizations", "Wizard", new {id = Model.Workgroup.Id});
    ViewBag.IsAdministrative = Model.Workgroup.Administrative;
    ViewBag.IsAccountSync = Model.Workgroup.SyncAccounts;
}

@{
    Bundles.Reference("css/single/jquery.multiselector.css");
    Bundles.Reference("scripts/public/single/jquery.multiselector.js");
}

@section AdditionalScripts
{
    <script type="text/javascript">

        $(function () {

            $("#SelectedOrganizations").multiSelector({ placeholder: "Search Organizations", showOptions: true });

        })

    </script>

    <style type="text/css">
    
        .selector {margin: 2em 0;}
        .selector h3 {margin-bottom: .5em;}
    
        header.title
        {
            border-top: 1px solid #DDDDDD; 
            border-bottom: 1px solid #DDDDDD; 
            font-size: large; 
            padding: 1em;
        }
    
    </style>
}

@Html.Partial("_StatusBar", Model.Workgroup.Id)

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.Hidden("id", @Model.Workgroup.Id)
    @Html.Partial("_Navigation")
    <section>
    
	    <header class="ui-corner-all ui-widget-header">Add Suborganizations <a href="#" id="help-organizations-page" class="ui-icon ui-icon-help showTip" title="You can add any number of additional organizations to this workgroup. This provides the ability for administrative workgroups from other organizations to view this workgroup. You are limited to the organizations that have been added to your account."></a></header>

        <div class="section-contents">
@*        <div class="wizard-instructions" id="wizard-instructions-form">
            <p>You can add any number of additional organizations to this workgroup. This provides the ability for administrative workgroups from other organizations to view this workgroup. You are limited to the organizations that have been added to your account.</p>
            <p>To add a sub-organizations, begin typing the organization's name into the box labeled "Search Organizations". Once the desired organization is found, click on its name. Organizations can be removed by clicking the "x" to the right of its name.</p>
        </div> *@ 
            <div class="section-text">
	           <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>        
            </div>

	        <ul>
                <li>
    
<li>
    <div class="editor-label">
        <a href="#" id="help-organizations" class="ui-icon ui-icon-help showTip" title="To add a sub-organizations, begin typing the organization's name into the box labeled 'Search Organizations'.<br/><br/>Once the desired organization is found, click on its name. Organizations can be removed by clicking the 'x' to the right of its name."></a>
        @Html.LabelFor(model => model.Organizations) 
    </div>
    <div class="editor-field">
        <div class="selector">
            <select id="SelectedOrganizations" name="selectedOrganizations" multiple="">
                @foreach (var a in Model.Organizations)
                {
                    <option @(a.Selected ? "selected" : "") value="@a.Value">@a.Text</option>
                }
            </select>
        </div>
        
    </div>
</li>
		       
	        </ul>

        </div>



    </section>
    @Html.Partial("_Navigation")
}
