@model IEnumerable<Purchasing.Core.Domain.ConditionalApproval>

@{
    ViewBag.StepName = "Conditional Approval(s)";
    ViewBag.Previous = Url.Action("Addresses", "Wizard", new { id = ViewBag.WorkgroupId });
    ViewBag.Next = Url.Action("Index", "Workgroup");
    ViewBag.ListPage = true;
    ViewBag.IsAdministrative = false;
}

    @Html.Partial("_StatusBar", (int)ViewBag.WorkgroupId)
    @Html.Partial("_Navigation")
    <nav class="col2">
	<ul class='navigation'>
		<li>@Html.ActionLink("Add More Conditional Approvals", "AddConditionalApproval", new { id = ViewBag.WorkgroupId }, new { @class = "button" })</li>
	</ul>
    </nav>

<div class="wizard-instructions" id="wizard-instructions-table">
    <p>You can add any number of additional conditional approvals to this workgroup.</p>
    <p>Using the wizard, you can only add conditional Approvals. If you need to remove them, please use the the admin: Conditional Approvals page. </p>
</div>
<table class='dt-table no-icon-table'>
	<thead>
		<tr>			
			<th>
				Question
			</th>
			<th>Primary Approver</th>
            <th>Secondary Approver</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">			
			<td>
				@item.Question
			</td>
            <td>@item.PrimaryApprover.FullNameAndId</td>				
            <td>@(item.SecondaryApprover == null ? "n/a" : item.SecondaryApprover.FullNameAndId) </td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>
@Html.Partial("_Navigation")

