@using Purchasing.Web.Models
@model WorkgroupDetailModel

@{
    ViewBag.Title = "Details";
    ViewBag.HideCalendar = true;
}

<h2>Details</h2>


@section SubNav
{
	<ul class="navigation">
					<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Workgroup.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
			</ul>
}

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header"">Workgroup</header>
	<ul>
		<li>
			<div class="display-label">Name</div>
			<div class="display-details">@Model.Workgroup.Name</div>
		</li>
		<li>
			<div class="display-label">Administrative</div>
			<div class="display-details">@Model.Workgroup.Administrative</div>
		</li>
		<li>
			<div class="display-label">Disclaimer</div>
			<div class="display-details">@Model.Workgroup.Disclaimer</div>
		</li>
		<li>
			<div class="display-label">Primary Organizaiton</div>
			<div class="display-details">@Model.Workgroup.PrimaryOrganization.Name</div>
		</li>

	</ul>

	<footer class="ui-corner-bottom"></footer>

</section>

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Organization(s)</header>
    @Html.Partial("_SubOrganizations", Model.Workgroup.Organizations)
</section>

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">People</header>
    @Html.Partial("_PeopleTable", Model.UserRoles)
</section>

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Accounts</header>
    @Html.Partial("_AccountsTable", Model.Workgroup.Accounts)
</section>

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Vendors</header>
    @Html.Partial("_VendorTable", Model.Workgroup.Vendors)
</section>



