@using Purchasing.Core.Domain
@using Purchasing.Web.Models
@model WorgroupPeopleListModel

@{
	ViewBag.Title = Model.Workgroup.Name;
	ViewBag.StepName = Model.CurrentRole.Name + "(s)";
	ViewBag.ListPage = true;
	switch ((int)ViewBag.StepNumber)
	{
		case 3:
			//On Requestor
			ViewBag.Previous = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "RQ" });
			ViewBag.Next = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "AP" });
			break;
		case 4:
			// On Approver
			ViewBag.Previous = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "AP" });
			ViewBag.Next = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "AM" });
			break;
		case 5:
			//On Account Manager
			ViewBag.Previous = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "AM" });
			ViewBag.Next = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "PR" });
			break;
		case 6:
			//On Purchaser
			ViewBag.Previous = Url.Action("AddPeople", "Wizard", new { id = Model.Workgroup.Id, roleFilter = "PR" });
			ViewBag.Next = Url.Action("AddAccounts", "Wizard", new { id = Model.Workgroup.Id });
			break;
	}
    ViewBag.IsAdministrative = Model.Workgroup.Administrative;
    if(ViewBag.IsAdministrative && (int)ViewBag.StepNumber == 6)
    {
        ViewBag.LastStep = true;
    }
}


	@Html.Partial("_StatusBar", Model.Workgroup.Id) 
	@Html.Partial("_Navigation")
    <nav class="col2">
	<ul class='navigation'>
		<li>@Html.ActionLink("Add another " + Model.Roles.Where(a => a.Id == ViewBag.rolefilter).FirstOrDefault().Name, "AddPeople", new { id = Model.Workgroup.Id, roleFilter = ViewBag.rolefilter }, new { @class = "button" })</li>        
	</nav>

@section AdditionalScripts
{

	<script type="text/javascript">

		$(function () {

		   $(".away-btn").click(function () {

				var that = this;

				$("#away-dialog").find("#name").html($(this).data("name"));
				$("#away-dialog").find("#awayUntil").val("");

				$("#away-dialog").dialog({ modal: true, buttons: {

					Confirm: function () {

						var userId = $(that).data("userid");
						var awayUntil = $(this).find("#awayUntil").val();
						var token = $("input[name='__RequestVerificationToken']").val();

						var url = '@Url.Action("SetAwayStatus", "User")';

						$.post(url, { userId: userId, awayUntil: awayUntil, __RequestVerificationToken: token }, function (result) {

							debugger;

							if (result != null) {

								var row = $(that).parents("tr");
								var status = $(row).find(".away-status");
								var date = $(row).find(".away-date");

								if (result) {

									status.find("span").html("Away").removeClass("table-bool-good").addClass("table-bool-bad");
									date.html(awayUntil);

								}
								else {

									status.find("span").html("Available").removeClass("table-bool-bad").addClass("table-bool-good");
									date.html("");

								}

							}
						});

						$(this).dialog("close");

					},
					Cancel: function () { $(this).dialog("close"); }

				}
				});

			});

		});

	</script>

	<style type="text/css">
		.away-btn { cursor: pointer; }
	</style>

}





@Html.AntiForgeryToken()
@Html.Partial("_PeopleTable", Model.UserRoles)

<div id="away-dialog" title="Set Away Status" style="display:none;">

	<ul>
		<li><label>Name</label>
			<div class="display-details" id="name"></div>
		</li>
		<li><label>Until Date</label>
			<div class="display-details"><input type="datetime" id="awayUntil"/></div>
		</li>
	</ul>
	
</div>
@Html.Partial("_Navigation")