@using Purchasing.Core.Domain
@using Purchasing.Web.Models
@model WorgroupPeopleListModel

@{
	ViewBag.Title = "People " + Model.Workgroup.Name;
}


@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Add more requestors", "AddPeople", new { id = Model.Workgroup.Id, roleFilter = ViewBag.rolefilter })</li>        
	</ul>
}

@section AdditionalScripts
{

    <script type="text/javascript">

        $(function () {

           $(".away-btn").click(function () {

                var that = this;

                $("#away-dialog").find("#name").html($(this).data("name"));
                $("#away-dialog").find("#awayUntil").val("");

                $("#away-dialog").dialog({ modal: true, buttons: {

                    Confirm: function () {

                        var userId = $(that).data("userid");
                        var awayUntil = $(this).find("#awayUntil").val();
                        var token = $("input[name='__RequestVerificationToken']").val();

                        var url = '@Url.Action("SetAwayStatus", "User")';

                        $.post(url, { userId: userId, awayUntil: awayUntil, __RequestVerificationToken: token }, function (result) {

                            debugger;

                            if (result != null) {

                                var row = $(that).parents("tr");
                                var status = $(row).find(".away-status");
                                var date = $(row).find(".away-date");

                                if (result) {

                                    status.find("span").html("Away").removeClass("table-bool-good").addClass("table-bool-bad");
                                    date.html(awayUntil);

                                }
                                else {

                                    status.find("span").html("Available").removeClass("table-bool-bad").addClass("table-bool-good");
                                    date.html("");

                                }

                            }
                        });

                        $(this).dialog("close");

                    },
                    Cancel: function () { $(this).dialog("close"); }

                }
                });

            });

        });

    </script>

    <style type="text/css">
        .away-btn { cursor: pointer; }
    </style>

}






<table class='dt-table nofirsticon'>
	<thead>
		<tr>
						
			<th>
				FirstName
			</th>
			<th>
				LastName
			</th>			
			<th>
				@*Is Away?*@
                Status
			</th>
            <th>
				Away Until
			</th>			
            <th>
                Roles
            </th>
			

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.UserRoles) {
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.User.FirstName
			</td>
            <td>
				@item.User.LastName
			</td>
            <td>
                <span class="away-status">
				@*@item.User.IsAway*@
                @if (item.User.IsAway)
                {
                    <span class="table-bool-bad">Away</span>
                }
                else
                {
                    <span class="table-bool-good">Available</span>
                }
                </span>
			</td>           
            <td>
                <span class="away-date">
                    @if (item.User.IsAway)
                    {
                        @String.Format("{0:d}", item.User.AwayUntil)    
                    }
                </span>

                <img src="@Url.Image("calendar.png")" style="float: right;" class="away-btn" data-name="@item.User.FullName" data-userid="@item.User.Id" />

            </td>
            <td>
                @item.RolesList
            </td>   
		</tr>
		odd = !odd;
}
	</tbody>
</table>

<div id="away-dialog" title="Set Away Status" style="display:none;">

    <ul>
        <li><label>Name</label>
            <div class="display-details" id="name"></div>
        </li>
        <li><label>Until Date</label>
            <div class="display-details"><input type="datetime" id="awayUntil"/></div>
        </li>
    </ul>
    
</div>