@model Purchasing.Core.Domain.Workgroup

@{
	ViewBag.Title = Model.Name;
	ViewBag.StepName = "Suborganizations";
	ViewBag.Previous = Url.Action("AddSubOrganizations", "Wizard", new { id = Model.Id });
	ViewBag.Next = Url.Action("AddPeople", "Wizard", new {id = Model.Id, roleFilter ="RQ"});
	ViewBag.ListPage = true;
    ViewBag.IsAdministrative = Model.Administrative;
    ViewBag.IsAccountSync = Model.SyncAccounts;
}

	@Html.Partial("_StatusBar", Model.Id) 
	@Html.Partial("_Navigation")
    <nav class="col2">
    <ul class='navigation'>
		<li>@Html.ActionLink("Add more organizations", "AddSubOrganizations", new { Model.Id }, new { @class = "button" })</li>
	</ul>
    </nav>


@Html.Partial("_SubOrganizations", Model.Organizations)

@Html.Partial("_Navigation")
