@model Purchasing.Core.Domain.Workgroup

@{
	ViewBag.Title = Model.Name;
	ViewBag.StepName = "Confirm Suborganizations";
	ViewBag.Previous = Url.Action("AddSubOrganizations", "Wizard", new { id = Model.Id });
	ViewBag.Next = Url.Action("AddPeople", "Wizard", new {id = Model.Id, roleFilter ="RQ"});
	ViewBag.ListPage = true;
    ViewBag.IsAdministrative = Model.Administrative;
    ViewBag.IsAccountSync = Model.SyncAccounts;
}

	@Html.Partial("_StatusBar", Model.Id) 
	@Html.Partial("_Navigation")
    <nav class="col2">
        <ul class='navigation'>
            <li>
                <a href="#" id="help-organizations-page" class="ui-icon ui-icon-help showTip" style="margin-bottom: -6px;" title="
        You can add any number of additional organizations to this workgroup. This provides
        the ability for administrative workgroups from other organizations to view this
        workgroup. You are limited to the organizations that have been added to your account.
        Using the wizard, you can only add sub-organizations. </br>If you need to remove them, please use the the admin: workgroup page."></a>
            </li>
            <li>@Html.ActionLink("Add more organizations", "AddSubOrganizations", new { Model.Id }, new { @class = "button" })</li>
        </ul>
    </nav>


@Html.Partial("_SubOrganizations", Model.Organizations)

@Html.Partial("_Navigation")
