@model Purchasing.Core.Domain.Workgroup

@{
	ViewBag.Title = Model.Name;
    ViewBag.StepName = "Suborganizations";
    ViewBag.Previous = Url.Action("AddSubOrganizations", "Wizard", new { id = Model.Id });
    ViewBag.Next = Url.Action("AddPeople", "Wizard", new {id = Model.Id, roleFilter ="RQ"});
    ViewBag.ListPage = true;
}





@section SubNav
{
     @Html.Partial("_StatusBar", Model.Id) 
	@Html.Partial("_Navigation")
    <ul class='navigation'>
		<li>@Html.ActionLink("Add more organizations", "AddSubOrganizations", new { Model.Id})</li>
	</ul>
    
}


<table class='dt-table no-icon-table'>
	<thead>
		<tr>			
			<th>
				Name
			</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.Organizations) {
		<tr class="@(odd ? "odd": "even")">			
			<td>
				@item.Name
			</td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>
@Html.Partial("_Navigation")



