@model IEnumerable<Purchasing.Core.Domain.WorkgroupVendor>

@{
    ViewBag.StepName = "Vendor(s)";
    ViewBag.Previous = Url.Action("Accounts", "Wizard", new { id = ViewBag.WorkgroupId });
    ViewBag.Next = Url.Action("AddConditionalApproval", "Wizard", new { id = ViewBag.WorkgroupId });
    ViewBag.ListPage = true;
}

@section SubNav
{
	 @Html.Partial("_StatusBar", (int)ViewBag.WorkgroupId)
     @Html.Partial("_Navigation")
    <ul class='navigation'>
		<li>@Html.ActionLink("Select KFS Vendor", "AddKfsVendor", new {id=ViewBag.WorkgroupId})</li>
        <li>@Html.ActionLink("Add Vendor ", "addNewVendor", new {id=ViewBag.WorkgroupId})</li>
	</ul>
}

<table class='dt-table no-icon-table'>
	<thead>
		<tr>			
			<th>
				Name
			</th>
			<th>
				Line1
			</th>
			<th>
				Line2
			</th>
			<th>
				Line3
			</th>
			<th>
				City
			</th>
			<th>
				State
			</th>
			<th>
				Zip
			</th>
			<th>
				CountryCode
			</th>
            <th>Kfs Vendor</th>

			

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.Name
			</td>
			<td>
				@item.Line1
			</td>
			<td>
				@item.Line2
			</td>
			<td>
				@item.Line3
			</td>
			<td>
				@item.City
			</td>
			<td>
				@item.State
			</td>
			<td>
				@item.Zip
			</td>
			<td>
				@item.CountryCode
			</td>
            <td>
                @(string.IsNullOrWhiteSpace(item.VendorId) && string.IsNullOrWhiteSpace(item.VendorAddressTypeCode) ? "No" : "Yes")
            </td>
			
		</tr>
		odd = !odd;
}
	</tbody>
</table>
@Html.Partial("_Navigation")
