@model IEnumerable<Purchasing.Core.Domain.WorkgroupVendor>

@{
	ViewBag.StepName = "Vendor(s)";
    if(ViewBag.IsAccountSync)
    {
        ViewBag.Previous = Url.Action("People", "Wizard", new { id = ViewBag.WorkgroupId, roleFilter = "PR" });
    }
    else
    {
        ViewBag.Previous = Url.Action("Accounts", "Wizard", new {id = ViewBag.WorkgroupId});    
    }
    ViewBag.Next = Url.Action("AddAddresses", "Wizard", new { id = ViewBag.WorkgroupId });
	ViewBag.ListPage = true;
    //ViewBag.IsAdministrative// set in controller
}

	 @Html.Partial("_StatusBar", (int)ViewBag.WorkgroupId)
	 @Html.Partial("_Navigation")
     <nav class="col2">
	<ul class='navigation'>
		<li>@Html.ActionLink("Select KFS Vendor", "AddKfsVendor", new { id = ViewBag.WorkgroupId }, new { @class="button" })</li>
		<li>@Html.ActionLink("Add Vendor ", "addNewVendor", new { id = ViewBag.WorkgroupId }, new { @class = "button" })</li>
	</ul>
    </nav>


@Html.Partial("_VendorTable", Model)

@Html.Partial("_Navigation")
