@model Purchasing.Core.Domain.CustomField

@{
    ViewBag.Title = "Delete";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", new { id = Model.Organization.Id }, new { @class = "button" })</li>
	</ul>
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

<section class="display-form ui-corner-all">
	<header class="ui-corner-top ui-widget-header">Are you sure you want to delete this custom field?</header>
	<ul>
		<li>
			<div class="display-label">Name</div>
			<div class="display-details">@Model.Name</div>
		</li>
		<li>
			<div class="display-label">Order</div>
			<div class="display-details">@Model.Rank</div>
		</li>
		<li>
			<div class="display-label">IsActive</div>
			<div class="display-details">@Model.IsActive</div>
		</li>
		<li>
			<div class="display-label">IsRequired</div>
			<div class="display-details">@Model.IsRequired</div>
		</li>
		
		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<div class="display-label">&nbsp;</div>
			<div class="display-details">
			<input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "Index", new {id=Model.Organization.Id})
			</div>
		</li>
	</ul>

</section>
}


