@model Purchasing.Core.Domain.Organization

@{
    ViewBag.Title = string.Format("Custom Fields for {0}", Model.Name);
}

@section SubNav
{
    <ul class="navigation">
        <li>@Html.ActionLink("Create New", "Create", new { id = Model.Id })</li>
    </ul>
}

@section AdditionalScripts
{
<style type="text/css">
    #fields input[type='text'] { padding: .4em; min-width: 30px; width: 30px; }
</style>
}

@using (Html.BeginForm("UpdateOrder", "CustomField", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Id)
    
    <table id="fields">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Is Required</td>
                <td>Order</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{ var fields = Model.CustomFields.Where(a => a.IsActive).OrderBy(a => a.Rank).ToList(); }
            @for (var i = 0; i < fields.Count(); i++ )
            {
                var field = fields[i];
                <tr data-id="@field.Id">
                    <td>
                        <a href="@Url.Action("Edit", new { id = @field.Id })">
                            <img src="@Url.Image("edit.png")" alt="Edit Custom Field"/>
                        </a>
                    </td>
                    <td>@field.Name</td>
                    <td>@(field.IsRequired ? "Yes" : "No")</td>
                    <td>
                        @Html.Hidden(string.Format("customFieldOrderPostModel[{0}].CustomFieldId", i), field.Id)
                        @Html.TextBox(string.Format("customFieldOrderPostModel[{0}].Order", i), @field.Rank, new {@class="order-field"})
                    </td>
                    <td>
                    <a href="@Url.Action("Delete", new { id = @field.Id })">
                        <img src="@Url.Image("delete.png")" alt="Delete Custom Field"/>
                    </a>
                    </td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <input type="submit" class="button" value="Update Order(s)"/>
                </td>
            </tr>
        </tfoot>
    </table>    
}
