@model IEnumerable<Purchasing.Core.Domain.ServiceMessage>

@{
	ViewBag.Title = "Service Messages";
}





@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "Create", new {}, new {@class="button"})</li>
	</ul>
}


<table class='dt-table'>
	<thead>
		<tr>
			<th></th>
			<th>
				Message
			</th>
			<th>
				BeginDisplayDate
			</th>
			<th>
				EndDisplayDate
			</th>
			<th>
				Critical
			</th>
			<th>
				IsActive
			</th>

			

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>				
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>
			<td>
				@item.Message
			</td>
			<td>
				@String.Format("{0:g}", item.BeginDisplayDate)
			</td>
			<td>
				@String.Format("{0:g}", item.EndDisplayDate)
			</td>
			<td>
				@item.Critical
			</td>
			<td>
				@item.IsActive
			</td>
							
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>


