@model Purchasing.Core.Domain.EmailPreferences
<section class="ui-corner-all display-form box-shadow">
    <header class="ui-widget-header ui-corner-top">General</header>
    
    <div class="section-contents">
        <ul>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AddAttachment)
                </div>
                <div class="editor-field showTip" title="Someone adds an attachment to an order you have acted on. Note, if the attachment is added through the edit page, you will just get the edit notification, not the specific message that an attachment was added.">
                    @Html.EditorFor(model => model.AddAttachment)
                    @Html.ValidationMessageFor(model => model.AddAttachment)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AddNote)
                </div>
                <div class="editor-field showTip" title="Someone adds a note to an order you have acted on. Or an order at the level you are assigned to.">
                    @Html.EditorFor(model => model.AddNote)
                    @Html.ValidationMessageFor(model => model.AddNote)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.IncludeNotesNotAssigned)
                </div>
                <div class="editor-field showTip" title="Someone adds a new order, you have Add Note checked above, and you are included as someone who can act on the order but are not directly assigned at that level.">
                    @Html.EditorFor(model => model.IncludeNotesNotAssigned)
                    @Html.ValidationMessageFor(model => model.IncludeNotesNotAssigned)
                </div>
            </li>
        </ul>
    </div>
</section>
