@using Purchasing.Web.Models
@model WorkgroupVendorViewModel



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("newVendor", true)
    @Html.Hidden("WorkgroupVendor.Workgroup", Model.WorkgroupVendor.Workgroup.Id)
    
    <section class="ui-corner-all">
    
        <header class="ui-corner-top">New Vendor</header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
            </div>

            <ul>
                <li>
                    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.Name)</div>
                    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.Name)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.Name)
                    </div>
                </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.Line1)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.Line1)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.Line1)
				    </div>
			    </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.Line2)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.Line2)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.Line2)
				    </div>
			    </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.Line3)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.Line3)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.Line3)
				    </div>
			    </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.City)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.City)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.City)
				    </div>
			    </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.State)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.State)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.State)
				    </div>
			    </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.Zip)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.Zip)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.Zip)
				    </div>
			    </li>
				<li>
				    <div class="editor-label">@Html.LabelFor(a => a.WorkgroupVendor.CountryCode)</div>
				    <div class="editor-field">
                        @Html.EditorFor(a => a.WorkgroupVendor.CountryCode)
                        @Html.ValidationMessageFor(a => a.WorkgroupVendor.CountryCode)
				    </div>
			    </li>             
		    </ul>

        </div>


    </section>
    
    <section class="ui-corner-all">
    
        <div class="section-contents">
            <ul>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field"><input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "VendorList", new { id = Model.WorkgroupVendor.Workgroup.Id })</div>
                </li>
            </ul>
        </div>

    </section>
       
}