@using Purchasing.Web.Models
@model WorkgroupModifyModel
<li>
    <div class="editor-label required">
        @Html.LabelFor(model => model.Workgroup.Name)<span class"red">*</span>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.Name)
        @Html.ValidationMessageFor(model => model.Workgroup.Name)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.Disclaimer)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.Disclaimer)
        @Html.ValidationMessageFor(model => model.Workgroup.Disclaimer)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.Administrative)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.Administrative)
        @Html.ValidationMessageFor(model => model.Workgroup.Administrative)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.SharedOrCluster)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.SharedOrCluster)
        @Html.ValidationMessageFor(model => model.Workgroup.SharedOrCluster)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.SyncAccounts)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.SyncAccounts)
        @Html.ValidationMessageFor(model => model.Workgroup.SyncAccounts)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.ForceAccountApprover)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.ForceAccountApprover)
        @Html.ValidationMessageFor(model => model.Workgroup.ForceAccountApprover)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Workgroup.AllowControlledSubstances)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.AllowControlledSubstances)
        @Html.ValidationMessageFor(model => model.Workgroup.AllowControlledSubstances)
    </div>
</li>
<li>
    <div class="editor-label required">
        @Html.LabelFor(model => model.Workgroup.IsActive)<span class"red">*</span>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Workgroup.IsActive)
        @Html.ValidationMessageFor(model => model.Workgroup.IsActive)
    </div>
</li>
<li>
    <div class="editor-label required">
        @Html.LabelFor(model => model.Workgroup.PrimaryOrganization)<span class"red">*</span>
    </div>
    <div class="editor-field">
        @*@Html.DropDownListFor(x => x.Workgroup.PrimaryOrganization, new SelectList(Model.Organizations, "Value", "Text"))*@
        @this.Select("Workgroup.PrimaryOrganization").Options(Model.Organizations, x => x.Value, x => x.Text).Selected(Model.Workgroup.PrimaryOrganization == null ? string.Empty : Model.Workgroup.PrimaryOrganization.Id).Class("chzn-select")
        @Html.ValidationMessageFor(x => x.Workgroup.PrimaryOrganization)
    </div>
</li>
<li>
    <div class="editor-label">
        @Html.LabelFor(model => model.Organizations)
    </div>
    <div class="editor-field">
        <div class="selector">
            <select id="SelectedOrganizations" name="selectedOrganizations" multiple="">
                @foreach (var a in Model.Organizations)
                {
                    <option @(a.Selected ? "selected" : "") value="@a.Value">@a.Text</option>
                }
            </select>
        </div>
    </div>
</li>
