@using Purchasing.Web.Models
@model WorkgroupAccountsModel
@{
    ViewBag.Title = "Workgroup " + Model.Workgroup.Name;
}

@section AdditionalScripts{

}

@section SubNav
{
    <ul class="navigation">
        <li><a href='@Url.Action("AddAccount", new {id = Model.Workgroup.Id})'>Add Accounts</a></li>
        <li><a href="@Url.Action("Details", new {id=Model.Workgroup.Id})">Back to Workgroup</a></li>
    </ul>
}

<table class='dt-table'>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Manager</th>
            <th>Active</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach (var item in Model.Workgroup.Accounts)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    <a href='@Url.Action("Details", new {id = item.Id})'>
                        <img src='@Url.Image("details.png")' />
                    </a>
                    <a href='@Url.Action("Edit", new {id = item.Id})'>
                        <img src='@Url.Image("edit.png")' />
                    </a>
                </td>
                <td>@item.Account.Name</td>
                <td>@item.Account.AccountManager</td>
                <td>@item.Account.IsActive</td>
                <td>
                    <a href='@Url.Action("Delete", new {id = item.Id})'>
                        <img src='@Url.Image("delete.png")' />
                    </a>
                </td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>