@model Purchasing.Core.Domain.WorkgroupAccount


@{
    ViewBag.Title = "Delete Account";

}

@section SubNav
{
	<ul class="navigation">
			<li>@Html.ActionLink("Edit", "EditAccount", new { id = Model.Workgroup.Id, accountId = Model.Id }, new { @class = "button" }) </li>
			<li>@Html.ActionLink("Back to List", "Accounts", new { id = Model.Workgroup.Id }, new { @class = "button" })</li>
		</ul>
}




@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Workgroup.Id)
    @Html.Hidden("accountId", Model.Id)
<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Account: @Model.Account.Name (@Model.Account.Id)</header>
    
    <ul>
        <li><h3>Are you sure you want to delete this account?</h3></li>
        <li>
            <div class="display-label">@Html.LabelFor(x => x.Approver)</div>
            <div class="display-details">@(Model.Approver != null ? Model.Approver.FullName : "n/a")</div>
        </li>
        <li>
            <div class="display-label">@Html.LabelFor(x => x.AccountManager)</div>
            <div class="display-details">@(Model.AccountManager != null ? Model.AccountManager.FullName : "n/a")</div>
        </li>
        <li>
            <div class="display-label">@Html.LabelFor(x => x.Purchaser)</div>
            <div class=display-details>@(Model.Purchaser != null ? Model.Purchaser.FullName : "n/a")</div>
        </li>
        <li>
            @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
            <div class="display-label">&nbsp;</div>
            <div class="display-details">
                <input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "Index")
            </div>
        </li>
    </ul>

</section>
}




