@using Purchasing.Core.Domain
@using Purchasing.Web.Models
@model WorkgroupPeopleDeleteModel

@{
    ViewBag.Title = "Delete person's role";
}


@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "People", new { id = @Model.WorkgroupPermission.Workgroup.Id, rolefilter = @ViewBag.rolefilter }, new { @class = "button" })</li>
	</ul>
}

<h3>Are you sure you want to delete this person?</h3>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.Hidden("id", Model.WorkgroupPermission.Workgroup.Id)
    @Html.Hidden("workgroupPermissionId", Model.WorkgroupPermission.Id)
<section class="display-form ui-corner-all">
	<header class="ui-corner-top ui-widget-header">Workgroup Permission</header>
	<ul>
		
        <li>
            <div class="display-label">Name</div>
            <div class="display-details">@Model.WorkgroupPermission.User.FullName</div>
        </li>
        @if(Model.WorkgroupPermissions.Count() == 1)
        {
            <li>
                <div class="display-label">Role</div>
                <div class="display-details">@Model.WorkgroupPermission.Role.Name
                @if (@Model.WorkgroupPermission.Role.Id == Role.Codes.Approver && Model.AccountApproverCount > 0)
                {
                    <strong> Note! @Model.WorkgroupPermission.User.FullName is attached to @Model.AccountApproverCount account(s) in this role and will also be removed from that account if checked.</strong>
                }
                @if (@Model.WorkgroupPermission.Role.Id == Role.Codes.AccountManager && Model.AccountAccountManagerCount > 0)
                {
                    <strong> Note! @Model.WorkgroupPermission.User.FullName is attached to @Model.AccountAccountManagerCount account(s) in this role and will also be removed from that account if checked. </strong>
                }
                @if (@Model.WorkgroupPermission.Role.Id == Role.Codes.Purchaser && Model.AccountPurchaserCount > 0)
                {
                    <strong> Note! @Model.WorkgroupPermission.User.FullName is attached to @Model.AccountPurchaserCount account(s) in this role and will also be removed from that account if checked. </strong>
                }
                </div>
            </li>
        }
        else
        {
             <li>
                <div class="editor-label">Check Roles to delete</div>
                <div class="editor-field">
                    @foreach(var wp in Model.WorkgroupPermissions.OrderBy(x => x.Role.Level))
                    {
                        <input type="checkbox" value="@wp.Role.Id" name="roles" />@wp.Role.Name
                        if (wp.Role.Id == Role.Codes.Approver && Model.AccountApproverCount > 0)
                        {
                            <strong> Note! @Model.WorkgroupPermission.User.FullName is attached to @Model.AccountApproverCount account(s) in this role and will also be removed from that account if checked.</strong>
                        }
                        if (wp.Role.Id == Role.Codes.AccountManager && Model.AccountAccountManagerCount > 0)
                        {
                            <strong> Note! @Model.WorkgroupPermission.User.FullName is attached to @Model.AccountAccountManagerCount account(s) in this role and will also be removed from that account if checked. </strong>
                        }
                        if (wp.Role.Id == Role.Codes.Purchaser && Model.AccountPurchaserCount > 0)
                        {
                            <strong> Note! @Model.WorkgroupPermission.User.FullName is attached to @Model.AccountPurchaserCount account(s) in this role and will also be removed from that account if checked. </strong>
                        }
                        <br/><br/>
                    }
                </div>
            </li>
        }
		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
            
			<div class="display-label">&nbsp;</div>
			<div class="display-details">
			<input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "People", new { id = @Model.WorkgroupPermission.Workgroup.Id, rolefilter = @ViewBag.rolefilter })
			</div>
		</li>
	</ul>

</section>
}


