@model IEnumerable<Purchasing.Core.Domain.Workgroup>

@{
	ViewBag.Title = "Index";
}


@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Create New", "CreateWorkgroup","Wizard", new{} ,new {@class="button"})</li>
	</ul>
}

<table class="datatable">
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
            <th>
                Primary Org
            </th>
            <th>
                Administrative
            </th>
			<th>
				IsActive
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				<a href='@Url.Action("Details", new {id=item.Id})' class="ui-icon ui-icon-document" title="Workgroup details">
				</a>
				<a href='@Url.Action("Edit", new {id=item.Id})' class="ui-icon ui-icon-pencil" title="Edit workgroup">
				</a>
			</td>
			<td>
                @Html.ActionLink(item.Name, "Details", "Workgroup", new {id=item.Id}, new {})
			</td>
            <td>
                @item.PrimaryOrganization.Id
            </td>
            <td>
                @item.Administrative
            </td>
			<td>
				@item.IsActive
			</td>

			<td>
				<a href='@Url.Action("Delete", new { id = item.Id })' class="ui-icon ui-icon-trash" title="Delete workgroup">
				</a>
			</td>

		</tr>
		odd = !odd;
}
	</tbody>
</table>

