@model IEnumerable<Purchasing.Core.Domain.Workgroup>

@{
	ViewBag.Title = "Index";
}


@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Create New", "Create")</li>
	</ul>
}

<table class="datatable">
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
            <th>
                Administrative
            </th>
			<th>
				IsActive
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				<a href='@Url.Action("Details", new {id=item.Id})'>
					<img src='@Url.Image("details.png")' />
				</a>
				<a href='@Url.Action("Edit", new {id=item.Id})'>
					<img src='@Url.Image("edit.png")' />
				</a>
			</td>
			<td>
				@item.Name
			</td>
            <td>
                @item.Administrative
            </td>
			<td>
				@item.IsActive
			</td>

			<td>
				<a href='@Url.Action("Delete", new { id = item.Id })'>
					<img src='@Url.Image("delete.png")' />
				</a>
			</td>

		</tr>
		odd = !odd;
}
	</tbody>
</table>

