@model WorkgroupIndexModel

@{
	ViewBag.Title = "Index";
}


@section SubNav
{
    <ul class="navigation">
        <li>
            <a href="#" id="filterToggle" class="button selected">Filters</a>
        </li>
        <li>@Html.ActionLink("Create New", "CreateWorkgroup","Wizard", new{}, new {@class="button"})</li>
    </ul>
}

@section AdditionalScripts
{
    <script type="text/javascript">
        $(function () {
            $("#filterToggle").click(function () {
                $(".dt-table-filter-header").toggle();
                $(this).toggleClass("selected");
                event.preventDefault();
            });
        });
    </script>
}

<div class="">
    <div class="dt-table-filter-header display-form" style="display: none">
        @*<header class="ui-widget-header ui-corner-top">Filters</header>*@
        <div class="section-contents">

            @using(Html.BeginForm("Index", "Workgroup", FormMethod.Get))
            {
                <ul>
                    <li>
                        <div class="editor-label">
                            @Html.Label("Show All")
                        </div>
                        <div class="editor-field">
                            @Html.CheckBoxFor(x => x.ShowAll) 
                        </div>
                    </li>

                    <li class="apply">
                        <label>&nbsp;</label>
                        <input class="button" type="submit" value="Apply" />
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

<table class="datatable">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Primary Org
            </th>
            <th>
                Administrative
            </th>
            <th>
                IsActive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach(var item in Model.WorkGroups)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    <a href='@Url.Action("Details", new {id = item.Id})' class="ui-icon ui-icon-document" title="Workgroup details">
                    </a>
                    <a href='@Url.Action("Edit", new {id = item.Id})' class="ui-icon ui-icon-pencil" title="Edit workgroup">
                    </a>
                    <a href='@Url.Action("ManageSyncPermissions", new { id = item.Id, defaultFilter = true})' class="ui-icon ui-icon-unlocked" title="Manage Sync Permissions">
                    </a>
                </td>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Workgroup", new {id = item.Id}, new {})
                </td>
                <td>
                    @item.PrimaryOrganization.Id
                </td>
                <td>
                    @item.Administrative
                </td>
                <td>
                    @item.IsActive
                </td>

                <td>
                    <a href='@Url.Action("Delete", new {id = item.Id})' class="ui-icon ui-icon-trash" title="Delete workgroup">
                    </a>
                </td>

            </tr>
            odd = !odd;
        }
    </tbody>
</table>

