@model Purchasing.Web.Controllers.ManageSyncPermissionsViewModel


@{
    ViewBag.Title = "Manage Sync Permissions (" + Model.Workgroup.Name + ")";

}


@section SubNav
{
    <ul class="navigation">
        <li>@Html.ActionLink("Back to List", "Index", null, new { @class = "button" })</li>
    </ul>
}


<section class="display-form ui-corner-all box-shadow">

    <header class="ui-corner-top ui-widget-header">Sync Key Information</header>
    <div class="section-contents">
        <ul>
            <li>
                @Html.ActionLink("Generate New", "SyncKey", new { id = @Model.Workgroup.Id, syncAction = "New" }, new { @class = "button" })
                @if (Model.Workgroup.SyncKey != null)
                {                    
                    @Html.ActionLink("Remove", "SyncKey", new { id = @Model.Workgroup.Id, syncAction = "Remove" }, new { @class = "button" })
                }
                <div class="editor-label">
                    @Html.Label("Current Sync Key")
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Workgroup.SyncKey)
                </div>
            </li>
        </ul>
        
        <table class='dt-table nofirsticon'>
            <thead>
                <tr>
						
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>			
                    <th>
                        Action
                    </th>


                </tr>
            </thead>
            <tbody>
                @{ var odd = false; }
                @foreach (var item in Model.SyncKeyUpdateHistory)
                {
                    <tr class="@(odd ? "odd" : "even")">
			
                        <td>
                            @item.NameAndId
                        </td>
                        <td>
                           @item.ActionDate
                        </td>
                        <td>
                            @item.Message
                        </td>
		
                    </tr>
                    odd = !odd;
                }
            </tbody>
        </table>
    </div>
</section>

<section class="display-form ui-corner-all box-shadow">

    <header class="ui-corner-top ui-widget-header">Sync Log</header>

    <div class="section-contents">
        
        <div class="dt-table-filter-header display-form">
            <header class="ui-widget-header ui-corner-top">Filter Roles</header>
            <div class="section-contents">
                @using (Html.BeginForm("ManageSyncPermissions", "Workgroup", FormMethod.Get))
                {
                    @*@Html.AntiForgeryToken();*@
                    <ul>        
                        <li class="datepicker">
                            <div class="editor-label" >
                                @Html.Label("Show After")
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Filter)
                            </div>
                        </li>

                        <li style="text-align:left; padding-left:20px;">
                            <label>&nbsp;</label>
                            <input class="button" type="submit" value="Apply" />
                        </li>
                    </ul>
                }
                <table class='dt-table nofirsticon'>
                    <thead>
                        <tr>
						
                            <th>
                                Name
                            </th>
                            <th>
                                Date
                            </th>			
                            <th>
                                Action
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @{ odd = false; }
                        @foreach (var item in Model.SyncLog)
                        {
                            <tr class="@(odd ? "odd" : "even")">
			
                                <td>
                                    @item.NameAndId
                                </td>
                                <td>
                                    @item.ActionDate
                                </td>
                                <td>
                                    @item.Message
                                </td>
		
                            </tr>
                            odd = !odd;
                        }
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
</section>