@using Purchasing.Core.Domain
@using Purchasing.Web.Models
@model WorgroupPeopleListModel

@{
	ViewBag.Title = "People " + Model.Workgroup.Name;
}


@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "AddPeople", new { id = Model.Workgroup.Id, roleFilter = ViewBag.rolefilter }, new { @class = "button" })</li>
        <li>@Html.ActionLink("Back to Workgroup", "Details", new { id = Model.Workgroup.Id }, new { @class = "button" })</li>
	</ul>
}

@section AdditionalScripts
{

    <script type="text/javascript">

        $(function () {

            $(".table-filter-trigger, .table-filter-trigger-close").click(function () {

                $(".table-filter").toggle("fast");
                $(".table-filter-trigger").toggle();
                return false;

            });

            $(".away-btn").click(function () {

                var that = this;

                $("#away-dialog").find("#name").html($(this).data("name"));
                $("#away-dialog").find("#awayUntil").val("");

                $("#away-dialog").dialog({ modal: true, width: 350, height: 300, buttons: {

                    Confirm: function () {

                        var userId = $(that).data("userid");
                        var awayUntil = $(this).find("#awayUntil").val();
                        var token = $("input[name='__RequestVerificationToken']").val();

                        var url = '@Url.Action("SetAwayStatus", "User")';

                        $.post(url, { userId: userId, awayUntil: awayUntil, __RequestVerificationToken: token }, function (result) {

                            //debugger;

                            if (result != null) {

                                var row = $(that).parents("tr");
                                var status = $(row).find(".away-status");
                                var date = $(row).find(".away-date");

                                if (result) {

                                    status.find("span").html("Away").removeClass("table-bool-good").addClass("table-bool-bad");
                                    date.html(awayUntil);
                                    
                                }
                                else {

                                    status.find("span").html("Available").removeClass("table-bool-bad").addClass("table-bool-good");
                                    date.html("");
                                    
                                }

                            }
                        });

                        $(this).dialog("close");

                    },
                    Cancel: function () { $(this).dialog("close"); }

                }
                });

            });

        });

    </script>

    <style type="text/css">
        .away-btn { cursor: pointer; vertical-align: middle; margin-top: -4px; margin-left: 10px;}
        .away-date {vertical-align: middle;}
        .radio-inline {display: inline-block; float: left; margin-right: 25px; vertical-align: middle; height: 13px;}
        .dt-table-filter-header .section-contents li {width: auto;}
        .dt-table-filter-header ul {text-align: center;}
        #away-dialog {padding: 25px;}
        #away-dialog li label {font-weight: bold; display: inline-block; width: 100px; float: left;}
        #away-dialog li {list-style: none; padding-bottom: 10px; font-size: 1.1em;}
        #away-dialog li input {width: 100px;}
    </style>

}

@Html.AntiForgeryToken()

<div class="table-filter ui-corner-right">

    <div class="close-container">
        <a href="#" class="table-filter-trigger-close"><span class="ui-icon ui-icon-closethick" style="display: inline-block;"></span>Close</a>
    </div>


    
</div>  

<div class="dt-table-filter-header display-form">
    <header class="ui-widget-header ui-corner-top">Filter Roles</header>
    <div class="section-contents">
    @using(Html.BeginForm("People", "Workgroup", FormMethod.Get))
    {
        @*@Html.AntiForgeryToken();*@
            <ul>        
                <li style="text-align:left;">
                    <div class="editor-label">
                        
                    </div>
                    <div class="editor-field">

                        @{
                            var isChecked = string.Empty;
                            if(ViewBag.rolefilter == null || ViewBag.rolefilter == string.Empty)
                            {
                                isChecked = "checked=\"checked\"";
                            }
                        }
                        <span class="radio-inline"><input type="radio" value="" @isChecked name="roleFilter"/> None </span>                       

                        @foreach(var filter in Model.Roles)
                        {
                            isChecked = string.Empty;
                            if(ViewBag.rolefilter != null && ViewBag.rolefilter != string.Empty)
                            {
                                if(ViewBag.rolefilter == filter.Id)
                                {
                                    isChecked = "checked=\"checked\"";
                                }
                            }
                             <span class="radio-inline"><input type="radio" value="@filter.Id" @isChecked name="roleFilter"/> @filter.Name </span>                           
                        }
                    </div>
                </li>

                <li style="text-align:left; padding-left:20px;">
                    <label>&nbsp;</label>
			        <input class="button" type="submit" value="Apply" />
                </li>
            </ul>
    }
    </div>
</div>

<table class='dt-table nofirsticon'>
	<thead>
		<tr>
						
			<th>
				FirstName
			</th>
			<th>
				LastName
			</th>			
			<th>
				@*Is Away?*@
                Status
			</th>
            <th>
				Away Until
			</th>			
            <th>
                Roles
            </th>
			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.UserRoles)
{
		<tr class="@(odd ? "odd" : "even")">
			
			<td>
				@item.User.FirstName
			</td>
            <td>
				@item.User.LastName
			</td>
            <td>
                <span class="away-status">
				@*@item.User.IsAway*@
                @if (item.User.IsAway)
                {
                    <span class="table-bool-bad">Away</span>
                }
                else
                {
                    <span class="table-bool-good">Available</span>
                }
                </span>
			</td>           
            <td>
                <span class="away-date">
                    @if (item.User.IsAway)
                    {
                        @String.Format("{0:d}", item.User.AwayUntil)    
                    }
                    else { <span>n/a</span> }
                </span>

                <!--<a href="" class="ui-icon ui-icon-clock">-->
                <img src="@Url.Image("calendar.png")" class="away-btn"  data-name="@item.User.FullName" data-userid="@item.User.Id" />

            </td>
            <td>
                @item.RolesList
            </td>
            <td>
                <a href='@Url.Action("DeletePeople", new { workgroupPermissionId = item.FirstWorkgroupPermissionId, id = @Model.Workgroup.Id, @ViewBag.rolefilter })' title="Delete" class="ui-icon ui-icon-trash">
                </a>
            </td>
		
		</tr>
                    odd = !odd;
}
	</tbody>
</table>

<div id="away-dialog" title="Set Away Status" style="display:none; width: 300px;">

    <ul>
        <li><label>Name</label>
            <div class="display-details" id="name"></div>
        </li>
        <li><label>Until Date</label>
            <div class="display-details"><input type="datetime" id="awayUntil"/></div>
        </li>
    </ul>
    
</div>