@using Purchasing.Core.Domain
@using Purchasing.Web.Models
@model WorgroupPeopleListModel

@{
	ViewBag.Title = "People " + Model.Workgroup.Name;
}


@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "AddPeople", new { id = Model.Workgroup.Id })</li>
        <li>@Html.ActionLink("Back to Workgroup", "Details", new {id=Model.Workgroup.Id})</li>
	</ul>
}

@section AdditionalScripts
{
    <style type="text/css">
        .table-filter 
        {
            position: absolute;
            top: 150px;
            left: 0;
            display: none;
            border: 1px solid #DDDDDD;
            width: 300px;
            height: auto;
            padding: 1em;
            
            background-color: #01487E;
            color: white;
            
            opacity: .9;
            -moz-opacity: .9;
        }
        
        .table-filter a {color: white;}
        
        .table-filter-trigger
        {
            position: absolute;
            top: 150px;
            left: 0;
            padding: 1em;
            border: 1px solid #DDDDDD;
            display: block;
            
            background: -moz-linear-gradient(0% 20% 90deg, #024B82, #002359) repeat scroll 0 0 transparent;
            color: white;
            
            cursor: pointer;
            text-align: center;
        }
        
        .table-filter-trigger:hover
        {
            background: -moz-linear-gradient(0% 20% 90deg, #024B82, #CCCCCC) repeat scroll 0 0 transparent;
            color: white;
        }
        
        .table-filter-trigger a {color: white;}
        
        .table-filter-trigger.active
        {
            background: #222222;
        }
        
        .close-container
        {
            border: 1px solid #DDDDDD;
            padding: 5px;
            float: right;
        }
        
        .close-container:hover
        {
            background-color: #DDDDDD;
        }
    </style>

    <script type="text/javascript">

        $(function () {

            $(".table-filter-trigger, .table-filter-trigger-close").click(function () {

                $(".table-filter").toggle("fast");
                $(".table-filter-trigger").toggle();
                return false;

            });

        });

    </script>

}

<div class="table-filter ui-corner-right">

    <div class="close-container">
        <a href="#" class="table-filter-trigger-close"><span class="ui-icon ui-icon-closethick" style="display: inline-block;"></span>Close</a>
    </div>


    <h3>Filter Roles</h3>
    @using(Html.BeginForm("People", "JandJWorkgroupManagement", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
            <ul>        
                <li>
                    <div class="editor-label">
                        
                    </div>
                    <div class="editor-field">
                        @{
                            var isChecked = string.Empty;
                            if(ViewBag.rolefilter == null || ViewBag.rolefilter == string.Empty)
                            {
                                isChecked = "checked=\"checked\"";
                            }
                        }
                        <input type="radio" value="" @isChecked name="roleFilter"/> None<br/>                        

                        @foreach(var filter in Model.Roles)
                        {
                            isChecked = string.Empty;
                            if(ViewBag.rolefilter != null && ViewBag.rolefilter != string.Empty)
                            {
                                if(ViewBag.rolefilter == filter.Id)
                                {
                                    isChecked = "checked=\"checked\"";
                                }
                            }
                             <input type="radio" value="@filter.Id" @isChecked name="roleFilter"/> @filter.Name<br/>                             
                        }
                    </div>
                </li>

                <li>
                    <label>&nbsp;</label>
			        <input class="button" type="submit" value="Apply" />
                </li>
            </ul>
    }
</div>

@*<a class="table-filter-trigger" href="#" class="ui-corner-right">Filters</a>*@

<div class="table-filter-trigger ui-corner-right ui-widget-header">F<br />i<br />l<br />t<br />e<br />r<br />s</div>


<table class='dt-table nofirsticon'>
	<thead>
		<tr>
						
			<th>
				FirstName
			</th>
			<th>
				LastName
			</th>			
			<th>
				@*Is Away?*@
                Status
			</th>
            <th>
				Away Until
			</th>			
            <th>
                Roles
            </th>
			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.UserRoles) {
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.User.FirstName
			</td>
            <td>
				@item.User.LastName
			</td>
            <td>
				@*@item.User.IsAway*@
                @if (item.User.IsAway)
                {
                    <span class="table-bool-bad">Away</span>
                }
                else
                {
                    <span class="table-bool-good">Available</span>
                }
			</td>           
            <td>
                @String.Format("{0:d}", item.User.AwayUntil)
            </td>
            <td>
                @item.RolesList
            </td>
            <td>
                <a href='@Url.Action("DeletePeople", new { id = item.FirstWorkgroupPermissionId, workgroupid = @Model.Workgroup.Id, @ViewBag.rolefilter })'>
                    <img src='@Url.Image("delete.png")' />
                </a>
            </td>
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>
