@model Purchasing.Mvc.Controllers.ConditionalApprovalModifyModel

@if (Model.ApprovalType == "Workgroup")
{ 

    <li>
        <div class="editor-label">
            @Html.LabelFor(model => model.Workgroup)
        </div>
        <div class="editor-field">
            @Html.Select("Workgroup", o => o.Options(Model.Workgroups, x=>x.Id, x=>x.Name).Selected(ViewBag.WorkgroupId))
            @Html.ValidationMessageFor(model => model.Workgroup)
        </div>
    </li>
}
else
{ 

    <li>
        <div class="editor-label">
            @Html.LabelFor(model => model.Organization)
        </div>
        <div class="editor-field">
            
            @Html.Select("Organization", o => o.Options(Model.Organizations, x=>x.Id, x=>string.Format("{0} ({1})", x.Name, x.Id)).Selected(ViewBag.OrganizationId))
            @Html.ValidationMessageFor(model => model.Organization)
        </div>
    </li>
}