@model Purchasing.Web.Controllers.SearchResultModel

@{
    ViewBag.Title = "Search Results";
}

@{
    Bundles.Reference("scripts/public/single/jquery.highlight.js");
}

@using (Html.BeginForm("Results", "Search", FormMethod.Get))
{
    <input type="search" id="query" name="q" placeholder="Enter search term" value="@Model.Query"/>
    <input type="submit" class="button" value="Go!"/>
}

Your search for <strong>@Model.Query</strong> returned @Model.ResultCount results
<p>
    <a href="#orders">@Model.Orders.Count Order(s)</a> |
    <a href="#lineitems">@Model.LineItems.Count Line Item(s)</a> |
    <a href="#comments">@Model.Comments.Count Comment(s)</a> |
    <a href="#customfields">@Model.CustomFields.Count Custom Field(s)</a>
</p>

<section id="orders">
    <header>
        Orders
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>@Model.Orders.Count matched your query</p>
        </div>
        
        <ul class="search-results">
            @foreach (var order in Model.Orders)
            {
                <li>
                    <h3>@Html.ActionLink(order.RequestNumber, "Review", "Order", new { order.Id }, null)</h3>
                    <div>
                        Created by @order.CreatedBy on @order.DateCreated.ToShortDateString() and given the justification
                        <em>@order.Justification</em>. To be delivered to 
                        @order.DeliverTo (email: @(string.IsNullOrWhiteSpace(order.DeliverToEmail) ? "N/A" : order.DeliverToEmail))
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

<section id="lineitems">
    <header>
        Line Items
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>@Model.LineItems.Count matched your query</p>
        </div>
        
        <ul class="search-results">
            @foreach (var lineResult in Model.LineItems)
            {
                <li>
                    <h3>@Html.ActionLink(lineResult.RequestNumber, "Review", "Order", new { Id = lineResult.OrderId }, null)</h3>
                    <div>
                        @lineResult.Quantity [@lineResult.Unit] of <em>@lineResult.Description</em> with Catalog# @(string.IsNullOrWhiteSpace(lineResult.CatalogNumber) ? "N/A" : lineResult.CatalogNumber)
                        <span>
                            Additional info: @lineResult.CommodityId, @lineResult.Url, @lineResult.Notes
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

<section id="comments">
    <header>
        Comments
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>@Model.Comments.Count matched your query</p>
        </div>
        
        <ul class="search-results">
            @foreach (var commentResult in Model.Comments)
            {
                <li>
                    <h3>@Html.ActionLink(commentResult.RequestNumber, "Review", "Order", new { Id = commentResult.OrderId }, null)</h3>
                    <div>
                        Created by @commentResult.CreatedBy on @commentResult.DateCreated.ToShortDateString() with the text <em>@commentResult.Text</em>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

<section id="customfields">
    <header>
        Custom Fields
    </header>

    <div class="section-contents">
        
        <div class="section-text">
            <p>@Model.CustomFields.Count matched your query</p>
        </div>
        
        <ul class="search-results">
            @foreach (var customFieldResult in Model.CustomFields)
            {
                <li>
                    <h3>@Html.ActionLink(customFieldResult.RequestNumber, "Review", "Order", new { Id = customFieldResult.OrderId }, null)</h3>
                    <div>
                        For Question <em>@customFieldResult.Question</em>: <strong>@customFieldResult.Answer</strong>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

<script>
    $(function () {
        var query = '@Model.Query';

        $.each(query.split(' '), function(index, value) {
            if (value.length > 0) {
                $("ul.search-results").highlight(value);
            }
        });
    });
</script>