@model Purchasing.Web.Controllers.SearchResultModel

@{
    ViewBag.Title = "Search Results";
}

@{
    Bundles.Reference("scripts/public/single/jquery.highlight.js");
}

@section AdditionalScripts
{
    <style type="text/css">
     h2 {margin-bottom: 0px;}
    #body form {text-align: center;}
    .searchbox {width: 50%; font-size: 1.75em; padding: 10px 15px; margin-top: -.5em; margin-bottom: 1em;}
    .searchbutton {font-size: 1.75em !important;}
    
    .search-text {font-size: 1.75em; padding-left: 25px; padding-top: .5em;}
    .search-links {font-size: 1.5em; padding-left: 25px; font-weight: bold;}
    .search-links a {display: inline-block; margin-right: 20px;}
    .search-links a:last-child {margin-right: 0px;}
    
    section section header {font-size: 2em; font-weight: bold; margin-top: 1em; color: #333; padding-left: 35px !important; display: inline-block;}
    section section {border-bottom: 1px solid #999;}
    section section .section-contents {margin-top: 0px !important;}
    form section section .section-text, .display-form  section .section-text {
        background: transparent; border: 0px none; font-style: italic; padding-top: 0px;
        display: inline-block;
    }
    
    .search-query, .highlight {font-weight: bold; padding: 0 5px; margin: 0 -2px;}
    </style>

}


@using (Html.BeginForm("Results", "Search", FormMethod.Get))
{
    <input type="search" id="query" name="q" placeholder="Enter search term" value="@Model.Query" class="searchbox" />
    <input type="submit" class="button searchbutton" value="Go!"/>
}
<section class="display-form">
<header class="ui-corner-top ui-widget-header">Search Results</header>
<div class="section-text">
<p class="search-text">Your search for <span class="search-query">@Model.Query</span> returned @Model.ResultCount results</p>

<p class="search-links">
    <a href="#orders">@Model.Orders.Count Order(s)</a>
    <a href="#lineitems">@Model.LineItems.Count Line Item(s)</a>
    <a href="#comments">@Model.Comments.Count Comment(s)</a>
    <a href="#customfields">@Model.CustomFields.Count Custom Field(s)</a>
</p>
</div>

<section id="orders">
    <header>
        Orders
    </header>
        
        <div class="section-text">
            <p>@Model.Orders.Count matched your query</p>
        </div>

    <div class="section-contents">
        
        <ul class="search-results">
            @foreach (var order in Model.Orders)
            {
                <li>
                    <h3>@Html.ActionLink(order.RequestNumber, "Review", "Order", new { order.Id }, null)</h3>
                    <p>
                        Created by @order.CreatedBy on @order.DateCreated.ToShortDateString() and given the justification
                        <em>@order.Justification</em>. To be delivered to 
                        @order.DeliverTo (email: @(string.IsNullOrWhiteSpace(order.DeliverToEmail) ? "N/A" : order.DeliverToEmail))
                    </p>
                    @if(order.PoNumber != null && order.PoNumber.ToLower() == Model.Query.ToLower())
                    {
                        <p>PO Number: <em>@order.PoNumber</em></p>
                    }
                    @if (order.ReferenceNumber != null && order.ReferenceNumber.ToLower() == Model.Query.ToLower())
                    {
                        <p>Ref Number: <em>@order.ReferenceNumber</em></p>
                    }
                </li>
            }
        </ul>
    </div>
</section>

<section id="lineitems">
    <header>
        Line Items
    </header>
        
        <div class="section-text">
            <p>@Model.LineItems.Count matched your query</p>
        </div>

    <div class="section-contents">
        
        <ul class="search-results">
            @foreach (var lineResult in Model.LineItems)
            {
                <li>
                    <h3>@Html.ActionLink(lineResult.RequestNumber, "Review", "Order", new { Id = lineResult.OrderId }, null)</h3>
                    <p>
                        @lineResult.Quantity [@lineResult.Unit] of <em>@lineResult.Description</em> with Catalog# @(string.IsNullOrWhiteSpace(lineResult.CatalogNumber) ? "N/A" : lineResult.CatalogNumber)
                        <span>
                            Additional info: @lineResult.CommodityId, @lineResult.Url, @lineResult.Notes, @lineResult.ReceivedNotes, @lineResult.PaidNotes
                        </span>
                    </p>
                </li>
            }
        </ul>
    </div>
</section>

<section id="comments">
    <header>
        Comments
    </header>
        
        <div class="section-text">
            <p>@Model.Comments.Count matched your query</p>
        </div>

    <div class="section-contents">
        
        <ul class="search-results">
            @foreach (var commentResult in Model.Comments)
            {
                <li>
                    <h3>@Html.ActionLink(commentResult.RequestNumber, "Review", "Order", new { Id = commentResult.OrderId }, null)</h3>
                    <p>
                        Created by @commentResult.CreatedBy on @commentResult.DateCreated.ToShortDateString() with the text <em>@commentResult.Text</em>
                    </p>
                </li>
            }
        </ul>
    </div>
</section>

<section id="customfields">
    <header>
        Custom Fields
    </header>
        
        <div class="section-text">
            <p>@Model.CustomFields.Count matched your query</p>
        </div>

    <div class="section-contents">
        
        <ul class="search-results">
            @foreach (var customFieldResult in Model.CustomFields)
            {
                <li>
                    <h3>@Html.ActionLink(customFieldResult.RequestNumber, "Review", "Order", new { Id = customFieldResult.OrderId }, null)</h3>
                    <p>
                        For Question <em>@customFieldResult.Question</em>: <strong>@customFieldResult.Answer</strong>
                    </p>
                </li>
            }
        </ul>
    </div>
</section>

</section>

<script>
    $(function () {
        var query = '@Model.Query';

        $.each(query.split(' '), function(index, value) {
            if (value.length > 0) {
                $("ul.search-results").highlight(value);
            }
        });
    });
</script>