@model OrderModifyModel

@if (Model.CustomFields.Any()) { 
    <section id="order-custom-fields-section">
        <header class="ui-widget-header ui-corner-top">
            <div class="col1">Custom Fields</div>
        </header>

        <div class="section-contents">
        
            <div class="section-text">
                <p>
                    Your department has specified the following questions.  Questions decorated with a <span style="color: red;">*</span> are required.
                </p>    
            </div>

            <ul id="order-custom-fields">
                @{ var customFields = Model.CustomFields.OrderBy(x => x.Rank).ToArray(); }
                @for (int i = 0; i < customFields.Count(); i++)
                {
                    var fieldRequired = customFields[i].IsRequired;
                    var answerIfAvailable = Model.Order.CustomFieldAnswers.Where(x => x.CustomField.Id == customFields[i].Id).Select(x=>x.Answer).FirstOrDefault() ?? string.Empty;
                    var answerElementName = string.Format("customfields[{0}].answer", i);
                    <li>
                        <div class="editor-label @(fieldRequired ? "required" : string.Empty)">@customFields[i].Name<span class="required">@(fieldRequired ? "*" : string.Empty)</span></div>
                        <div class="editor-field">
                            <input type="hidden" name='@string.Format("customfields[{0}].id", i)' value="@customFields[i].Id" />
                            <input name="@answerElementName" type="text" value="@answerIfAvailable" data-val="@(fieldRequired ? "true" : "false")" data-val-required="This question requires an answer" />
                            <span data-valmsg-for="@answerElementName" data-valmsg-replace="true"></span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>
}