@model ReviewOrderViewModel

<section id="line-items" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header">Line Items</header>

    <div class="section-contents">
    <table>
        <thead>
            <tr>
                <th>Qty.</th>
                <th>Unit</th>
                <th>Catalog #</th>
                <th>Description</th>
                <th>Commodity</th>
                <th>Unit $</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Order.LineItems)
            {
                <tr class="row-item">
                    <td>@line.Quantity</td>
                    <td>@line.Unit</td>
                    <td>@(string.IsNullOrWhiteSpace(line.CatalogNumber) ? "n/a" : line.CatalogNumber)</td>
                    <td>@line.Description</td>
                    <td>@(line.Commodity != null ? line.Commodity.Name : "n/a")</td>
                    <td>@line.UnitPrice</td>
                </tr>
                              
                if (Model.Order.HasLineSplits)
                {
                    <tr>
                        <td colspan="6">
                            <div class="row-split ui-corner-all @(line.UnitPrice * line.Quantity != line.Splits.Sum(a => a.Amount) ? "row-split-prob" : string.Empty)">
                                <table>
                                    <thead>
                                        <tr><td colspan="4">Line Item Split</td></tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var split in line.Splits)
                                        {  
                                            <tr>
                                                <td>@(string.IsNullOrWhiteSpace(split.Account) ? "n/a" : split.Account)</td>
                                                <td>@(string.IsNullOrWhiteSpace(split.SubAccount) ? "n/a" : split.SubAccount)</td>
                                                <td>@(string.IsNullOrWhiteSpace(split.Project) ? "n/a" : split.Project)</td>
                                                <td>@split.Amount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>                    
                }


                if (line.Commodity != null || !string.IsNullOrWhiteSpace(line.Notes) || !string.IsNullOrWhiteSpace(line.Url))
                {
                    <tr>
                        <td colspan="5" class="extra-info">
                            @if (line.Commodity != null)
                            {
                                <div class="line-commodity"><strong>Commodity:</strong> @string.Format("[{0}] {1}", line.Commodity.Id, line.Commodity.Name)</div>
                            }
                            @if (!string.IsNullOrWhiteSpace(line.Url))
                            {
                                <div class="line-url"><strong>Url:</strong> <a href="@line.Url">@line.Url</a></div>    
                            }
                            @if (!string.IsNullOrWhiteSpace(line.Notes))
                            {
                                <div class="line-notes"><strong>Notes:</strong> @line.Notes</div>    
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr class="item-footer">
                <td colspan="4">&nbsp;</td>
                <td class="label">Subtotal:</td>
                <td>@string.Format("${0:f}", Model.Order.TotalFromDb)</td>
            </tr>
            <tr class="item-footer">
                <td colspan="4">&nbsp;</td>
                <td class="label">Estimated Shipping:</td>
                <td>@string.Format("${0:f}", Model.Order.ShippingAmount)</td>            
            </tr>
            <tr class="item-footer">
                <td colspan="4"></td>
                <td class="label">Estimated Tax:</td>
                <td>@string.Format("${0:f}", Model.Order.EstimatedTax)</td>
            </tr>
            <tr class="item-footer">
                <td colspan="4"></td>
                <td class="label">Grand Total:</td>
                <td>@string.Format("${0:f}", Model.Order.GrandTotalFromDb)</td>
            </tr>
        </tfoot>
    </table>
    </div>

    <footer class="ui-corner-bottom"><em>*All totals are estimated, final values are determined after uploaded to KFS.</em></footer>

</section>