@model ReviewOrderViewModel

@if (Model.Order.HasControlledSubstance)
{
    var cs = Model.ControllerSubstance;
    <section id="controlled" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header">Controlled Substances Information</header>

    <div class="section-contents">

        <ul>
            <li><div class="display-label">Class Schedule</div>
                <div class="display-details">@cs.ClassSchedule</div>
            </li>
            <li><div class="display-label">Pharmaceutical Grade</div>
                <div class="display-details">@(@cs.PharmaceuticalGrade ? "Yes" : "No" )</div>
            </li>
            <li><div class="display-label">Use</div>
                <div class="display-details">@cs.Use</div>
            </li>
            <li><div class="display-label">Storage Site</div>
                <div class="display-details">@cs.StorageSite</div>
            </li>
            <li><div class="display-label">Custodian</div>
                <div class="display-details">@cs.Custodian</div>
            </li>
            <li><div class="display-label">End User</div>
                <div class="display-details">@cs.EndUser</div>
            </li>
        </ul>

    </div>

    </section>
}