@model ReviewOrderViewModel
<section id="order-details" class="ui-corner-all display-form">

    <header class="ui-corner-top ui-widget-header">Request # @Model.Order.RequestNumber</header>

    <div class="section-contents">

        <div class="col1">
        
            <ul>
                <li><span>Current Review Level:</span><strong>@Model.Status</strong></li>
                <li><span>Workgroup:</span><strong>@Model.WorkgroupName</strong></li>
                <li><span>Department:</span><strong>@Model.OrganizationName</strong></li>
                <li><span>Date Needed:</span><strong>@Model.Order.DateNeeded.ToString("d")</strong></li>
                @if (Model.Order.AllowBackorder)
                {
                    <li><span>Allow Backorder:</span><strong>@(Model.Order.AllowBackorder ? "Yes" : "No")</strong></li>
                }
                
                @if (Model.Order.StatusCode.IsComplete)
                {
                    <li>
                        <span>Reference #:</span>@(string.IsNullOrWhiteSpace(Model.Order.PoNumber) ? "[None]" : Model.Order.PoNumber)
                        <a id="edit-reference-number" href="#" class="ui-icon ui-icon-pencil" title="Edit Reference Number"></a>
                    </li>
                }
                <li><span>Justification:</span><strong>@Model.Order.Justification</strong></li>

            </ul>

        </div>

        <div class="col2">
        
            <section id="vendor" class="display-form ui-corner-all">
            
                <header class="ui-corner-top ui-widget-header">Vendor:</header>

                <div class="section-contents">
                
                    @if (Model.Vendor != null)
                    {
                        <div class="vcard">
    
                            <div class="fn">@Model.Vendor.Name</div>
                            <div class="adr">
                                <span class="street-address">@Model.Vendor.Line1</span>
                                <span class="locality">@Model.Vendor.City</span>
                                <span class="region" title="California">@Model.Vendor.State</span>
                                <span class="postal-code">@Model.Vendor.Zip</span>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div>-- Unspecified --</div>
                    }

                </div>

            </section>
            <div>
                <section id="deliveryTo" class="display-form ui-corner-all">
                    <header class="ui-corner-top ui-widget-header">Deliver To:</header>
                    <div class="section-contents">
                        <div class="vcard">
    
                            <div class="fn">@Model.Order.DeliverTo</div>
                            <div class="email">@Model.Order.DeliverToEmail</div>
                            <div class="adr">

                                <span class="street-address">@Model.Address.Room @Model.Address.Building</span>
                                <span class="street-address">@Model.Address.Address</span>
                                <span class="locality">@Model.Address.City</span>
                                <span class="region" title="California">@Model.Address.State</span>
                                <span class="postal-code">@Model.Address.Zip</span>
                            </div>
        
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<div id="modify-reference-number-dialog" title="Modify Reference Number" style="display: none;">
    <form>
        <section>
            <div class="section-text">
                <p>Assign this order a new reference number and then click 'Assign Reference Number'</p>
            </div>
            <div class="section-contents">
                <ul>
                    <li><div class="editor-label required">Reference Number: <span class="required">*</span></div>
                        <div class="editor-field">
                            <input type="text" id="new-reference-number" placeholder="reference number"></input>
                        </div>
                    </li>
                </ul>
            </div> 
        </section>
    </form>
</div>
