@model OrderModifyModel

@{
    ViewBag.Title = "Copy";
}

@{
    Bundles.Reference("~/Css/fileuploader/fileuploader.css");
    Bundles.Reference("~/Css/jquery.qtip.min.css");
    
    Bundles.Reference("scripts/public/order");
}

@section AdditionalScripts{
    
    <script type="text/javascript">

        $(function () {
            @Html.Partial("_Options")

            purchasing.init(); //Init all base order form js

            purchasing.initCopy(); //Add in the edit functionality
            
        });

    </script>
}

@Html.Partial("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm())
{
    @Html.Hidden("adjustRouting", false)

    @Html.Partial("_OrderForm")
}
</div>

@Html.Partial("_OrderTemplates")

@Html.Partial("_ItemModificationTemplate")

@Html.Partial("_OrderDialogs")