@model OrderModifyModel

@{
    ViewBag.Title = "Edit";
}

@{
    Bundles.Reference("~/Css/fileuploader/fileuploader.css");
    Bundles.Reference("~/Css/jquery.qtip.min.css");
    
    Bundles.Reference("scripts/public/order");
}

@section AdditionalScripts{
    
    <script type="text/javascript">

        $(function () {
            purchasing.options({
                AddVendorUrl: "@Url.Action("AddVendor", new {workgroupId = Model.Workgroup.Id})",
                AddAddressUrl: "@Url.Action("AddAddress", new {workgroupId = Model.Workgroup.Id})",
                UploadUrl: '@Url.Action("UploadFile")',
                KfsSearchUrl: '@Url.Action("SearchKfsAccounts", "Accounts")',
                KfsSearchSubAccountsUrl: '@Url.Action("SearchSubAccounts", "Accounts")',
                AddKfsVendorUrl: '@Url.Action("AddKfsVendor", "WorkgroupVendor")',
                SearchVendorUrl: '@Url.Action("SearchVendor", "WorkgroupVendor")',
                SearchVendorAddressUrl: '@Url.Action("SearchVendorAddress", "WorkgroupVendor")',
                SearchCommodityCodeUrl: '@Url.Action("SearchCommodityCodes")',
                GetLineItemsAndSplitsUrl: '@Url.Action("GetLineItemsAndSplits", new { id = Model.Order.Id })'
            });


            purchasing.init(); //Init all base order form js

            purchasing.initEdit(); //Add in the edit functionality
            
        });

    </script>
}

@Html.Partial("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm())
{
    @Html.Hidden("adjustRouting", false)

    @Html.Partial("_OrderForm")
}
</div>

@Html.Partial("_OrderTemplates")

@Html.Partial("_ItemModificationTemplate")

@Html.Partial("_OrderDialogs")