@model FilteredOrderListModelDto
           
@{
    var extra = "";
    if(!string.IsNullOrWhiteSpace(Model.ShowLast))
    {
        extra = " completed this month";
    }
    ViewBag.Title = "Orders" + extra;
    ViewBag.DataTablesPageSize = 50;
    ViewBag.SingleColumn = false;
    ViewBag.GetMethod = "Index";
    ViewBag.LoadTableTools = true;
    
    Bundles.Reference("scripts/public/single/TableTools.js");
    Bundles.Reference("scripts/public/single/ZeroClipboard.js");
    Bundles.Reference("scripts/public/single/RearrangeDataTable.js");
   
}

@section SubNav
{
	<ul class='navigation'>
        @*<li>@Html.ActionLink("Create New", "Create")</li>*@
        @if(string.IsNullOrWhiteSpace(Model.ShowLast))
        {
            <li>@*@Html.ActionLink("Filters", "filters", "", new { @class = "button" })*@
                <a href="#" id="filterToggle" class="button selected">Filters</a>
            </li>
        }
        <li>@Html.ActionLink("Update Column Preferences", "ColumnPreferences", "User", new { id = User.Identity.Name, fromList = true }, new { @class = "button" })</li>
	</ul>
}


@section AdditionalScripts
{

    <script type="text/javascript">
        $(function () {
            $("#filterToggle").click(function () {
                $(".dt-table-filter-header").toggle();
                $(this).toggleClass("selected");
                event.preventDefault();
            });
        });

        $(document).ready(function () {
            $("#peepsDialog").dialog({
                autoOpen: false,
                height: 610,
                width: 500,
                modal: true,
                buttons: {
                    "Cancel": function () {
                        $("#peepsUl").empty();
                        $("#peepsLoaderId").hide();
                        $(this).dialog("close");
                    }
                }
            });
            
            $(".showTip").qtip({
                overwrite: false,
                show: {
                    event: 'mouseenter focus',
                    ready: false
                },
                hide: {
                    event: 'mouseleave blur'
                },
                position: {
                    my: 'bottom center',
                    at: 'top center'
                }
            });
        });
        
        $(function () {
            $(".workgroupDetails").click(function () {
                var temp = $(this);
                var orderId = temp.data("id");
                var role = temp.data("role");
                //alert(orderId + role);
                var url = '@Url.Action("GetPeeps")';
                var dialogList = $("#peepsUl");
                dialogList.empty();
                $("#peepsDialog").dialog("open");
                $("#peepsLoaderId").show();
                $.getJSON(url, { id: orderId, orderStatusCodeId: role }, function (result) {
                    $("#peepsLoaderId").hide();
                    if (result == null || result.success == false) {
                        alert("There was a problem getting the list of users.");
                    } else {


                        $(result.peeps).each(function () {
                            dialogList.append("<li>" + this + "</li>");
                        });
                    }
                });
            });
        });
    </script>
}

@if (string.IsNullOrWhiteSpace(Model.ShowLast))
 {
    @Html.Partial("_OrderFilter", Model)
 }
    
@Html.Partial("_OrdersTable", Model)

@Html.Partial("_PeepsDialog")