@model OrderReceiveModel


@{
    ViewBag.Title = "Receive Items";

}

@section SubNav
{
    <ul class="navigation">
        <li><a href="@Url.Action("Review", new {id=Model.OrderId})" class="ui-button button ui-state-default">Back to Order</a></li>
    </ul>
}

@section AdditionalScripts
{
@*Example*@
    <script type="text/javascript">

        $(function () {
            $(".receiveLineItem").change(function () {
                var receiveVal = $(this).val();

                if (!$.isNumeric(receiveVal)) {
                    alert("Must be a number");
                } else {
                    var lineItemId = $(this).data("id");
                    var id = $("#id").val();
                    var antiforgery = $("input[name='__RequestVerificationToken']").val();
                    var url = '@Url.Action("ReceiveItems")';
                    var line = "#receivedLineItem_" + lineItemId;
                    var loaderId = "#loader-image" + lineItemId;
                    var updateMessage = "#updateMessage" + lineItemId;
                    $(updateMessage).html("Updateing...");
                    $(loaderId).toggle();
                    $.post(url, { id: id, lineItemId: lineItemId, receivedQuantity: receiveVal, __RequestVerificationToken: antiforgery }, function (result) {
                        $(loaderId).toggle();
                        if (result) {
                            $(line).val(result.receivedQuantityReturned);
                            if (result.success == true) {
                                $(updateMessage).html(result.message);
                            } else {
                                $(updateMessage).html(result.message);
                            }
                        } else {
                            alert("There was a problem updated the received quantity.");
                        }

                    });
                }
            });
        });
    </script>
}


@Html.Hidden("id", Model.OrderId)
@Html.AntiForgeryToken()

<table class="no-icon-table">
    <thead>
        <tr>
            <th>Receive Qty</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>Catalog #</th>
            <th>Description</th>
            <th>Commodity</th>
            <th>Unit $</th>
        </tr>
    </thead>
    <tbody>
        @{
            var odd = false;
            var lineId = "";
            var spanId = "";
            var loaderId = "";
        }
        @foreach(var item in Model.LineItems)
        {
            lineId = "receivedLineItem_" + item.Id;
            spanId = "updateMessage" + item.Id;
            loaderId = "loader-image" + item.Id;
            <tr class="@(odd ? "odd":"even")">
               
                <td><input class="receiveLineItem" data-id="@item.Id" title="Number of Units received for this line item." value="@item.QuantityReceived" id="@lineId"/><span id="@loaderId" style="display: none;"><img src='@Url.Image("ajax-loader.gif")'/></span><span id="@spanId"></span></td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>@(string.IsNullOrWhiteSpace(item.CatalogNumber) ? "n/a" : item.CatalogNumber)</td>
                <td>@item.Description</td>
                <td>@(item.Commodity != null ? item.Commodity.Name : "n/a")</td>
                <td>@item.UnitPrice</td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>



