@model OrderModifyModel
           
@{
    ViewBag.Title = "Request";
    ViewBag.ShowTour = true;
}

@{
    Bundles.Reference("~/Css/single/fileuploader/fileuploader.css");
    Bundles.Reference("~/Css/single/chosen.css");
    Bundles.Reference("~/Css/single/orderrequest.css"); //Can't get this to work, so added the style below
    
    Bundles.Reference("scripts/public/order");
}

@section AdditionalScripts{
    
    <script type="text/javascript">

        $(function () {
            @Html.Partial("_Options")
            
            purchasing.init();
            
            purchasing.initLocalStorage();

            purchasing.initSaveOrderRequest('@Url.Action("SaveOrderRequest")');
        });

    </script>
    
    <style type="text/css">
        .single-column {width: 1215px;}
        .orders-right {width: 995px;}

        form input.quantity[type="text"] {width: 50px;}
        form input.description[type="text"] {min-width: 300px; width: 90%;}
        form input.price[type="text"], #shipping, #tax, #freight {width: 60px;}
        form input.catalog-num[type="text"] { width: 106px;}
        
        #order-account-section .details-option {width: 30%;}
    </style>

}

@Html.Partial("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm("Request", "Order", new { Model.Workgroup.Id }, FormMethod.Post, new { id = "order-form" }))
{
    @Html.Partial("_OrderForm")
}
</div>

@Html.Partial("_OrderTemplates")

@Html.Partial("_OrderDialogs")