@model OrderModifyModel
           
@{
    ViewBag.Title = "Request";
}

@{
    Bundles.Reference("~/Css/single/fileuploader/fileuploader.css");
    
    Bundles.Reference("scripts/public/order");
}

@section AdditionalScripts{
    
    <script type="text/javascript">

        $(function () {
            @Html.Partial("_Options")
            
            purchasing.init();
            
            purchasing.initLocalStorage();
        });

    </script>
    
    
    <!-- Experimental code for performing database saves -->
    <script type="text/javascript">

        $(function () {

            $("#save-btn").click(function () {

                var url = '@Url.Action("SaveOrderRequest")';
                var formData = $("#order-form").serialize();
                var saveId = $("#saveId").data("save-id");
                var token = $("input[name='__RequestVerificationToken']").val();

                $.post(url, { saveId: saveId, formData: formData, __RequestVerificationToken: token }, function (result) {
                    $("saveId").data("save-id", result);
                });

            });



        });

    </script>

}

<input type="button" class="button" value="Save" id="save-btn"/>
<span id="saveId"></span>

@Html.Partial("_SideNavigation")

<div class="orders-right">
@using (Html.BeginForm("Request", "Order", new { Model.Workgroup.Id }, FormMethod.Post, new { id = "order-form" }))
{
    @Html.Partial("_OrderForm")
}
</div>

@Html.Partial("_OrderTemplates")

@Html.Partial("_OrderDialogs")