@model OrderModifyModel
           
@{
    ViewBag.Title = "Order Request";
}

@section AdditionalScripts{
    <link href="@Url.Css("fileuploader/fileuploader.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Css("jquery.qtip.min.css")" rel="stylesheet" type="text/css" />        
    @*<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>*@
    <script src="@Url.Script("jquery.tmpl.min.js")"></script>
    <script src="@Url.Script("Order.js")"></script>
    <script src="@Url.Script("fileuploader.js")"></script>
    <script src="@Url.Script("jquery.qtip.min.js")"></script>
    <script src="@Url.Script("SausageCustom.js")"></script>

    <script type="text/javascript">

        purchasing.options({ 
            AddVendorUrl: "@Url.Action("AddVendor")", 
            AddAddressUrl: "@Url.Action("AddAddress")", 
            UploadUrl: '@Url.Action("UploadFile")',
            KfsSearchUrl: '@Url.Action("SearchKfsAccounts", "Accounts")',
            KfsSearchSubAccountsUrl: '@Url.Action("SearchSubAccounts", "Accounts")',
            AddKfsVendorUrl: '@Url.Action("AddKfsVendor", "WorkgroupVendor")',
            SearchVendorUrl: '@Url.Action("SearchVendor", "WorkgroupVendor")',
            SearchVendorAddressUrl: '@Url.Action("SearchVendorAddress", "WorkgroupVendor")',
            SearchCommodityCodeUrl: '@Url.Action("SearchCommodityCodes")'
        });

        $(function () {

            purchasing.init();
            
            $(window).sausage({
                page: '.ui-widget-header:visible'
            });
            
        });

    </script>
    
    <style type="text/css">
        .sausage-hover,
        .sausage-current {
            background-color: #f2e4ed;
            -moz-box-shadow: inset 0px 1px 2px 4px rgba(51, 63, 70, 0.025);
        }        
    </style>
}

<nav class="orders-nav">
    <section>
    <h3>1. Vendor info</h3>
    <ul><li>(error messages)</li></ul>
    </section>
    <section>
    <h3>2. Order items</h3>
    <ul><li>(error messages)</li></ul>
    </section>
    <section>
    <h3>3. Account details</h3>
    <ul><li>(error messages)</li></ul>
    </section>
    <section>
    <h3>4. Extra info</h3>
    <ul><li>(error messages)</li></ul>
    </section>
</nav>

<div class="orders-right">
@using (Html.BeginForm())
{
    @Html.Partial("_OrderForm")
}

@Html.Partial("_OrderTemplates")

@Html.Partial("_OrderDialogs")
</div>