@model Purchasing.Mvc.Controllers.ReportProcessingTimeSummaryViewModel

@{
    ViewBag.Title = "ProcessingTimeSummary";
}

<h2>ProcessingTimeSummary</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="datatable no-icon-table">
    <thead>
        <tr>
            <th>
                Org
            </th>
            <th>
                Workgroup
            </th>
            <th>
                Request Number
            </th>
            <th>Arrived At Purchaser</th>
            <th>Rerouted To Purchaser Date</th>
            <th>Rerouted To Purchaser Name</th>
            <th>ReRouted To Purchaser By</th>
            <th>Completed By Purchaser Date</th>
            <th>Completed By Purchaser Name</th>
            <th>ReRoute Time</th>
            <th>Completion Time</th>
        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach (var item in Model.Columns)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    @item.OrderCreated
                </td>
                <td>
                    @item.WorkgroupName
                </td>
                <td>
                    @Html.ActionLink(item.OrderId.ToString(), "Review", "Order", new { id = item.OrderId }, new { target = "_blank" })
                </td>
                <td>
                    @if (item.MinutesToCompletion != null)
                    {
                        @TimeSpan.FromMinutes(item.MinutesToCompletion.Value)
                    }
                </td>
                <td>
                    @item.MinutesToApprove
                </td>
                <td>
                    @item.ApproverName
                </td>
                <td>
                    @item.MinutesToAccountManagerComplete
                </td>
                <td>
                    @item.AccountManagerName
                </td>
                <td>
                    @item.MinutesToPurchaserComplete
                </td>
                <td>
                    @item.PurchaserName
                </td>
                <td>
                    @item.IsComplete
                </td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>
