@model Purchasing.Mvc.Models.ReportProcessingTimeViewModel

@{
    ViewBag.Title = "Purchaser Processing Time Report";
    ViewBag.DisableGlobalDataTables = true;
    ViewBag.SingleColumn = false;
    ViewBag.LoadTableTools = true;
    ViewBag.LoadFixedHeaders = true;

    
}


@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", null, new { @class = "button" })</li>
	</ul>
}

<div class="">
    <div class="dt-table-filter-header display-form">
        <!--<header class="ui-widget-header ui-corner-top"></header>-->
        <div class="section-text">
            <p> Warning, this report may be slow. </p>
            <p> Workgroups with (Admin) after them will get all orders in child workgroups. </p>
            <p> Only completed orders that were created in the month selected will be displayed. </p>
            <p> If there were multiple ReRoutes, only the last one will be used. </p>
        </div>
        <div class="section-contents">
            @using (Html.BeginForm("ProcessingTime", "Report", FormMethod.Get))
            {
                <ul>
                    <li class="datepicker">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Month)
                        </div>
                        <div class="editor-field">
                            
                            @Html.TextBoxFor(model => model.Month, new Dictionary<string, object> { { "data-val", false }, {"class", "year-month"} })
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.Label("Workgroup")
                        </div>
                        <div class="editor-field">
                            @Html.Select("WorkgroupId", o => o.Options(Model.Workgroups.OrderBy(x => x.Name), x => x.Id, x => x.NameAndAdmin).Selected(Model.Workgroup != null ? Model.Workgroup.Id.ToString() : string.Empty).FirstOption("--Select Workgroup--"))  
                        </div>
                    </li>
                    <li style="margin-left: 240px;">
                        <div class="editor-label">
                            @Html.Label("Only Show ReRouted to Purchaser Orders")
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OnlyShowReRouted)
                        </div>
                    </li>
                    <li class="apply" >
                        <div class="editor-field" style="display:inline">
                            <input class="button" type="submit" value="Apply" />
                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>

</div>

<table class="datatable no-icon-table">
    <thead>
        <tr>
            <th>
                Org
            </th>
            <th>
                Workgroup
            </th>
            <th>
                Request Number
            </th>
            <th>Arrived At Purchaser</th>
            <th>Rerouted To Purchaser Date</th>
            <th>Rerouted To Purchaser Name</th>
            <th>ReRouted To Purchaser By</th>
            <th>Completed By Purchaser Date</th>
            <th>Completed By Purchaser Name</th>
            <th>ReRoute Time</th>
            <th>Completion Time</th>
        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach (var item in Model.Columns)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    @item.Organization
                </td>
                <td>
                    @item.Workgroup
                </td>
                <td>
                    @Html.ActionLink(item.OrderRequestNumber, "Review", "Order", new {id = item.OrderId}, new {target = "_blank"})
                </td>
                <td>
                    @item.ArrivedAtPurchaser
                </td>
                <td>
                    @item.ReroutedToPurchaserDate
                </td>
                <td>
                    @item.ReroutedToPurchaserName
                </td>
                <td>
                    @item.ReRoutedToPurchaserBy
                </td>
                <td>
                    @item.CompletedByPurchaserDate
                </td>
                <td>
                    @item.CompletedByPurchaserName
                </td>
                <td>
                    @item.ReRoutTime
                </td>
                <td>
                    @item.CompletionTime
                </td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>

@section AdditionalStyles
{
    @*Datatable css being used is the old one in the bundle. If I grab the current one and use here, some input fields are blue*@ 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.dataTables.css"/>

    <style type="text/css">
        .ui-datepicker-calendar {
            display: none;
        }

        .year-month {
            min-width: 110px;
        }
        button.dt-button {
            color: white;
        }
    </style>
}

@section AdditionalScripts
{
    
    @*The js includes jszip, datatables, buttons (for copy, excel, csv) and fixed header*@
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/fh-3.1.7/datatables.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var table = $(".dt-table, .datatable").dataTable({
                bJQueryUI: false,
                sPaginationType: "full_numbers",
                oLanguage: { sSearch: "Filter Within These Results: " },
                iDisplayLength: window.Configuration.DataTablesPageSize,
                //sDom: 'lBfrtip',
                sDom: 'T<"clear">lBfrtip',
                columnDefs: [
                    { 'bSortable': false, 'aTargets': [0] }
                ],
                "buttons": [
                    {
                        extend: 'copyHtml5'
                    },
                    {
                        extend: 'excelHtml5'
                    },
                    {
                        extend: 'csvHtml5'
                    }
                ],
                fixedHeader: true
            });

            $.each($(".dataTables_wrapper"), function(index, item) {
                RearranngeDataTable($(item));
            });

            //This was copied from startup.js and modified so it works better with the new export buttons. It isn't 100% working (an empty div is created)
            function RearranngeDataTable($wrapper) {
                var $dtt = $wrapper.find(".dt-buttons");
                var $length = $wrapper.find(".dataTables_length");

                // dtt is present, move those accordingly
                if ($dtt.length > 0) {
                    $("<div>").addClass("dt-buttons").append($dtt.find("button")).insertAfter($length.find("label"));
                    //$wrapper.find(".DTTT_container").remove();
                    $wrapper.find(".clear").remove();
                }
            }
        });

    </script>

    <script type="text/javascript">
        $(function () {
            $('.year-month').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: "MM yy",
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            });
        });
    </script>
}
