@using Newtonsoft.Json
@model Purchasing.Mvc.Controllers.ReportProcessingTimeSummaryViewModel

@{
    ViewBag.Title = "ProcessingTimeSummary";
}

@section AdditionalScripts
{

}

<h2>ProcessingTimeSummary</h2>

<p>
    Averages:<br />Average Time to Complete: @TimeSpan.FromMinutes(Model.Columns.AverageTimeToCompletion.Value).ToString("dd':'hh':'mm")<br/>
    Average time to Approve: @TimeSpan.FromMinutes(Model.Columns.AverageTimeToApprover.Value).ToString("dd':'hh':'mm")<br />
    Average time to Account Manager: @TimeSpan.FromMinutes(Model.Columns.AverageTimeToAccountManagers.Value).ToString("dd':'hh':'mm")<br />
    Average time to Purchase: @TimeSpan.FromMinutes(Model.Columns.AverageTimeToPurchaser.Value).ToString("dd':'hh':'mm")
</p>
<script src="//code.highcharts.com/4.1/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/heatmap.js"></script>
<script src="http://code.highcharts.com/modules/treemap.js"></script>
<div id="treeChart"></div>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script>
    $(function() {
        var data = @Html.Raw(JsonConvert.SerializeObject(Model.JsonData));
       
        var points = [],
		region_p,
		region_val,
		region_i,
		country_p,
		country_i,
		cause_p,
		cause_i,
		cause_name = [];
        cause_name['Communicable & other Group I'] = 'Communicable diseases';
        cause_name['Noncommunicable diseases'] = 'Non-communicable diseases';
        cause_name['Injuries'] = 'Injuries';
        region_i = 0,
        roles = ['approver','accountManager','purchaser'];

        for (var roleIndex in roles) {
            region_val = 0;
            region_p = {
                id: "id_" + roleIndex,
                name: roles[roleIndex],
                color: Highcharts.getOptions().colors[roleIndex]
            };
            country_i = 0;
            var orders = data[region_p.name];
            for (var orderIndex in orders) {
                country_p = {
                    id: region_p.id + "_" + orderIndex,
                    name: orders[orderIndex].personId,
                    parent: region_p.id
                };
                points.push(country_p);
                cause_i = 0;
               
                    cause_p = {
                        id: country_p.id + "_" + orders[orderIndex].orderId,
                        name: orders[orderIndex].orderId,
                        parent: country_p.id,
                        value: Math.round(orders[orderIndex].minutes)
                    };
                    region_val += cause_p.value;
                    points.push(cause_p);
                    cause_i++;
                
                country_i++;
            }
            region_p.value = Math.round(region_val / country_i);
            points.push(region_p);
            region_i++;
        }
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'treeChart'
            },
            series: [{
                type: "treemap",
                layoutAlgorithm: 'squarified',
                allowDrillToNode: true,
                dataLabels: {
                    enabled: false
                },
                levelIsConstant: false,
                levels: [{
                    level: 1,
                    dataLabels: {
                        enabled: true
                    },
                    borderWidth: 3
                }],
                data: points
            }],
            subtitle: {
                text: 'Click points to drill down. Source: <a href="http://apps.who.int/gho/data/node.main.12?lang=en">WHO</a>.'
            },
            title: {
                text: 'Global Mortality Rate 2012, per 100 000 population'
            }
        });
    });

    $(function () { 
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: null
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>'
            },
            credits: {enabled: false},
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '',
                data: [
                    ['Avg Approve', @Model.Columns.AverageTimeToApprover.Value ],
                    ['Avg Account Manager', @Model.Columns.AverageTimeToAccountManagers.Value ],
                    ['Avg Purchase', @Model.Columns.AverageTimeToPurchaser.Value ]
                ]
            }]
        });
    });


</script>
<p>
    All times are displayed as (Days:Hours:Minutes)
</p>
<table class="dt-table no-icon-table">
    <thead>
        <tr>
            <th>View</th>
            <th>
                Date Created
            </th>
            <th>
                Workgroup
            </th>
            <th>Time to Completion</th>
            <th>Time to Approve</th>
            <th>Approve</th>
            <th>Time to Account Manager</th>
            <th>Account Manager</th>
            <th>Time to Purchaser</th>
            <th>Purchaser</th>
            <th>Complete/Status</th>

        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach (var item in Model.Columns.OrderTrackingEntities)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>
                    <a href='@Url.Action("Review", "Order", new {id=item.OrderId})' class="ui-icon ui-icon-document" title="Review order" target="_blank"></a>
                </td>
                <td>
                    @item.OrderCreated.ToShortDateString()
                </td>
                <td>
                    @item.WorkgroupName
                </td>

                <td>
                    @if (item.MinutesToCompletion != null)
                    {
                        @TimeSpan.FromMinutes(item.MinutesToCompletion.Value).ToString("dd':'hh':'mm")
                    }
                </td>
                <td>
                    @if (item.MinutesToApprove != null)
                    {
                        @TimeSpan.FromMinutes(item.MinutesToApprove.Value).ToString("dd':'hh':'mm")
                    }
                </td>
                <td>
                    @item.ApproverName
                </td>
                <td>
                    @if (item.MinutesToAccountManagerComplete != null)
                    {
                        @TimeSpan.FromMinutes(item.MinutesToAccountManagerComplete.Value).ToString("dd':'hh':'mm")
                    }
                </td>
                <td>
                    @item.AccountManagerName
                </td>
                <td>
                    @if (item.MinutesToPurchaserComplete != null)
                    {
                        @TimeSpan.FromMinutes(item.MinutesToPurchaserComplete.Value).ToString("dd':'hh':'mm")
                    }
                </td>
                <td>
                    @item.PurchaserName
                </td>
                <td>
                    @item.IsComplete
                    @if (item.StatusCode != "CP")
                    {
                        @item.Status
                    }
                </td>
            </tr>
                    odd = !odd;
        }
    </tbody>
</table>
