@model Purchasing.Mvc.Models.ReportWorkloadViewModel

@{
    ViewBag.Title = "Workload Report";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", "Report", new { @class = "button" })</li>
	</ul>
}

@using (Html.BeginForm("Workload", "Report", FormMethod.Get))
{
    <section class="report-head">
    @this.Select("WorkgroupId").Options(Model.Workgroups.OrderBy(x=>x.Name), x => x.Id, x => x.Name).Selected(Model.Workgroup != null ? Model.Workgroup.Id.ToString() : string.Empty).FirstOption("--Select Workgroup--")  
    
    <input type="submit" value="Update" class="button"/>
    </section>
}

@if(Model.ReportWorkloads != null)
{
var data = Model.OrgHeaders.OrderBy(x => x.OrgId).ToList();

<table class="report-table">
    
    <thead>
        
        <tr>
            <th></th> 
            @foreach (var ohead in data)
            {
                <th class="workgrouptop" colspan="@ohead.Workgroups.Count">@ohead.OrgId</th>
            }
        </tr>
        
        <tr>
            <th></th>
            @foreach (var head in data)
            {
                foreach (var wk in head.Workgroups)
                {
                    <th>@wk</th>
                }
            }
        </tr>

    </thead>
    
    <tbody>
        
        @foreach (var person in Model.ReportWorkloads.OrderBy(x => x.UserFullName).Select(x=>x.UserFullName).Distinct())
        {
            <tr class="username">
                <th>@person</th>
                @foreach(var org in data)
                {
                    foreach (var col in org.Workgroups)
                    {
                        <td>@Model.ReportWorkloads.Where(a => a.UserFullName == person && a.WorkgroupName == col).Sum(x=> x.Edited + x.Approved)</td>
                    }
                }
            </tr>
            <tr class="edit-row">
                <th>Edit</th>
                @foreach(var org in data)
                {
                    foreach (var col in org.Workgroups)
                    {
                        <td>@Model.ReportWorkloads.Where(a => a.UserFullName == person && a.WorkgroupName == col).Select(a => a.Edited).FirstOrDefault()</td>
                    }
                }
            </tr>
            <tr class="approve-row">
                <th>Approved</th>
                @foreach(var org in data)
                {
                    foreach (var col in org.Workgroups)
                    {
                        <td>@Model.ReportWorkloads.Where(a => a.UserFullName == person && a.WorkgroupName == col).Select(a => a.Approved).FirstOrDefault()</td>
                    }
                }
            </tr>
        }

    </tbody>

</table>    

}




@section AdditionalScripts
{
    <style type="text/css">
        .report-head {padding: 1em 2em; text-align: center;}
        .report-head select {font-size: 1.25em;}
        
        .report-table {background: #fff; border: 1px solid #CCCCCC; box-shadow: #999 5px 5px 5px; border-radius: 5px;}
        
        thead th {text-align: center; padding-top: 5px;}
        tbody td {min-width: 100px; text-align: center; border-left: 1px solid #fff;}
        
        .workgrouptop {font-size: 1.5em; padding-bottom: 0px; padding-top: 10px;}
        
        .approve-row, .edit-row {background: #aedfc4 !important;}
        
        .username > th:first-child { font-weight: bold;}
        .edit-row > th:first-child { padding-left: 30px;}
        .edit-row, .approve-row { background-color: green;}
        .approve-row > th:first-child{ padding-left: 30px;}
        
    </style>
}