@{
    ViewBag.Title = "Training Setup Console";
}

<h2>Setup new database?</h2>

@using (Html.BeginForm())
{
    
    @*<input type="hidden" value="anlai" name="userIds"/>*@
    
    <ol>
    @for (var i = 0; i < 20; i++)
    {
        <li>
            @Html.Hidden(string.Format("postModel[{0}].Index", i), i)
            User Id:
            @Html.TextBox(string.Format("postModel[{0}].UserId", i))
            Org Id:
            @Html.TextBox(string.Format("postModel[{0}].OrgId", i))
        </li>
    }
    </ol>
    
    @Html.AntiForgeryToken()
    <input type="submit" value="Setup Database"/>  
    <text>|</text>
    @Html.ActionLink("Cancel", "Index")
}
