@model int
<div id="statusbar">
    <h1>@ViewBag.StepName@* @ViewBag.StepNumber*@</h1>
    @*    <ul>
        <li class="ui-corner-bl ui-corner-left completed">&nbsp;<span class="hidden_text">Create Workgroup</span></li>

        <li class="completed">&nbsp;<span class="hidden_text">Add Sub-Organizations</span></li>
        <li class="completed">&nbsp;<span class="hidden_text">Add Requestors</span></li>
        <li class="active">&nbsp;<span class="hidden_text">Add Approvers</span></li>
        <li>&nbsp;<span class="hidden_text">Add Account Managers</span></li>
        <li>&nbsp;<span class="hidden_text">Add Purchasers</span></li>
        <li>&nbsp;<span class="hidden_text">Add Accounts</span></li>
        <li>&nbsp;<span class="hidden_text">Add Vendors</span></li>
        <li>&nbsp;<span class="hidden_text">Add Addresses</span></li>
        <li class="ui-corner-br ui-corner-right">&nbsp;<span class="hidden_text">Add Conditional Approvals</span></li>

    </ul>*@
    
    @CreateNav(ViewBag.StepNumber)
</div>



@helper CreateNav(int stepNum){

    var steps = new List<KeyValuePair<string, string>>();
    steps.Add(new KeyValuePair<string, string>("Create Workgroup", null));
    steps.Add(new KeyValuePair<string, string>("Add Sub-Organizations", Url.Action("AddSubOrganizations", "Wizard", new{id=Model})));
    if(!ViewBag.IsAdministrative)
    {
        steps.Add(new KeyValuePair<string, string>("Add Requestors", Url.Action("AddPeople", "Wizard", new {id = Model, roleFilter = "RQ"})));
    }
    steps.Add(new KeyValuePair<string, string>("Add Approvers", Url.Action("AddPeople", "Wizard", new { id = Model, roleFilter = "AP" })));
    steps.Add(new KeyValuePair<string, string>("Add Account Managers", Url.Action("AddPeople", "Wizard", new { id = Model, roleFilter = "AM" })));
    steps.Add(new KeyValuePair<string, string>("Add Purchasers", Url.Action("AddPeople", "Wizard", new { id = Model, roleFilter = "PR" })));
    steps.Add(new KeyValuePair<string, string>("Add Reviewers", Url.Action("AddPeople", "Wizard", new { id = Model, roleFilter = "RV" })));
    if(!ViewBag.IsAdministrative)
    {
        if(!ViewBag.IsAccountSync)
        {
            steps.Add(new KeyValuePair<string, string>("Add Accounts", Url.Action("AddAccounts", "Wizard", new {id = Model})));
        }
        steps.Add(new KeyValuePair<string, string>("Add Vendors", Url.Action("Vendors", "Wizard", new {id = Model})));
        steps.Add(new KeyValuePair<string, string>("Add Shipping Addresses", Url.Action("AddAddresses", "Wizard", new {id = Model})));
        steps.Add(new KeyValuePair<string, string>("Add Conditional Approvals", Url.Action("AddConditionalApproval", "Wizard", new { id = Model })));
    }
    //else
    //{
    //    steps.Add(new KeyValuePair<string, string>("Exit Wizard, go to list of Workgroups", Url.Action("Index", "Workgroup", new { id = Model })));
    //}
    


    <ul>
        @{
            var filteredStepNum = stepNum;
            if(ViewBag.IsAdministrative && stepNum >= 3 )
            {
                filteredStepNum = stepNum - 1;
            }
            else
            {
                if(ViewBag.IsAccountSync && stepNum >= 8)
                {
                    filteredStepNum = stepNum - 1;
                }
            }
          }

        @for(int i = 0; i < filteredStepNum - 1; i++)
        {
            <li class="completed showTip" title="@steps[i].Key" >&nbsp;<a href="@steps[i].Value" class="hidden_text">@(steps[i].Key)</a></li>
        }
    
        <li class="active showTip" title="@steps[filteredStepNum - 1].Key">&nbsp;<a href="@steps[filteredStepNum - 1].Value" class="hidden_text">@steps[filteredStepNum - 1].Key</a></li>
    
        @for(int i = filteredStepNum; i < steps.Count(); i++)
        {
            <li title="@steps[i].Key" class="showTip">&nbsp;<a href="@steps[i].Value" class="hidden_text">@steps[i].Key</a></li>
        }
    </ul>
}

    <script src="@Url.Script("jquery.qtip.min.js")"></script>
    <link href="@Url.Css("jquery.qtip.min.css")" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript">
        $(document).ready(function () {
            $(".showTip").qtip({
                overwrite: false,
                show: {
                    event: 'mouseenter focus',
                    ready: false
                },
                hide: {
                    event: 'mouseleave blur'
                },
                position: {
                    my: 'bottom center',
                    at: 'top center'
                }
            });
        });

    </script>





