@using Purchasing.Core.Domain
@model IList<WorkgroupVendor>
<table class='dt-table no-icon-table'>
	<thead>
		<tr>			
			<th>
				Name
			</th>
			<th>Site Code</th>
			<th>
				Line1
			</th>
			<th>
				Line2
			</th>
			<th>
				Line3
			</th>
			<th>
				City
			</th>
			<th>
				State
			</th>
			<th>
				Zip
			</th>
			<th>
				CountryCode
			</th>
            <th>Type</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
			var itemType = "Generic";
			if (!string.IsNullOrWhiteSpace(item.AeSupplierNumber))
			{
				itemType = "Aggie Enterprise";
			}
			else if (!string.IsNullOrWhiteSpace(item.VendorId))
			{
				itemType = "KFS";
			}
		<tr class="@(odd ? "odd": "even")">
			
			<td>
				@item.Name
			</td>
				<td>@item.AeSupplierSiteCode</td>
			<td>
				@item.Line1
			</td>
			<td>
				@item.Line2
			</td>
			<td>
				@item.Line3
			</td>
			<td>
				@item.City
			</td>
			<td>
				@item.State
			</td>
			<td>
				@item.Zip
			</td>
			<td>
				@item.CountryCode
			</td>
            <td>
                @itemType
            </td>
			
		</tr>
		odd = !odd;
}
	</tbody>
</table>