@using Purchasing.Mvc.Models
@model WorkgroupModifyModel

@{
    ViewBag.Title = "Create";
    ViewBag.StepName = "Create Workgroup";
    ViewBag.Skip = "";
    ViewBag.IsAdministrative = false;
    ViewBag.IsAccountSync = false;
}

@section AdditionalStyles
{
    @Styles.Render("~/Css/single/chosen")
}

@section AdditionalScripts{
    
    @Scripts.Render("~/bundles/single/chosen")
    <script type="text/javascript">
        $(document).ready(function() {
            $(".chzn-select").chosen({ no_results_text: "No results matched", search_contains: true });
        });
    </script>
}

@Html.Partial("_StatusBar", 0)  
    
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.Partial("_Navigation") <a href="#" id="help-workgroup" class="ui-icon ui-icon-help showTip" style="margin-top: -78px; margin-left: 0px; margin-right: 97px;" title="<strong>Navigation bar</strong> - contains links for each step, though Create Workgroup must be completed first for subsequent steps to function properly. "></a>
    <section>
    
        <header class="ui-corner-all ui-widget-header">Workgroup <a href="#" id="help-workgroup" class="ui-icon ui-icon-help showTip" title="This is the first step in creating new a new workgroup. You must complete this step before adding anything to the workgroup."></a></header>
        
            <div class="section-text">
                <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>        
            </div>

        <div class="section-contents">


            <ul>
                @Html.Partial("_CommonWorkgroupForm")
    
                <li>
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.Workgroup.PrimaryOrganization)<span>*</span>
                    </div>
                    <div class="editor-field">
                        @*.chzn-select     *@                   
                        @this.Select("Workgroup.PrimaryOrganization").Options(Model.Organizations, x => x.Value, x => x.Text).Selected(Model.Workgroup.PrimaryOrganization == null ? string.Empty : Model.Workgroup.PrimaryOrganization.Id).Class("chzn-select")
                        @Html.ValidationMessageFor(x => x.Workgroup.PrimaryOrganization)
                    </div>
                </li>
            </ul>
        </div>

    </section>
    @Html.Partial("_Navigation")
}
