@model TotalByWorkgroupViewModel


@{
    ViewBag.Title = "Total By Vendor";
    ViewBag.SingleColumn = false;
    ViewBag.LoadTableTools = true;
    ViewBag.LoadFixedHeaders = true;
    
    Bundles.Reference("scripts/public/single/TableTools.js");
    Bundles.Reference("scripts/public/single/ZeroClipboard.js");
    Bundles.Reference("scripts/public/single/RearrangeDataTable.js");
    Bundles.Reference("scripts/public/single/FixedHeader.js");

}

<div class="">
    <div class="dt-table-filter-header display-form">
        <!--<header class="ui-widget-header ui-corner-top"></header>-->
        <div class="section-contents">

            @using (Html.BeginForm("TotalByVendor", "Report", FormMethod.Get))
            {
                <ul>
 
                    <li class="datepicker">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.StartDate)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.StartDate)
                        </div>
                    </li>
                    <li class="datepicker">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.EndDate)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.EndDate)
                        </div>
                    </li>
                    <li class="apply">
                        <input class="button" type="submit" value="Apply" />
                    </li>
                </ul>
            }
        </div>
    </div>

</div>

<table class="datatable">
    <thead>
        <tr>
            <th></th>
            <th>
                Vendor
            </th>
            <th>
                Initiated Orders
            </th>
            <th>
                Pending Orders
            </th>
            <th>
                Completed Orders
            </th>
            <th>
                Canceled Orders
            </th>
            <th>
                Denied Orders
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var odd = false; }
        @foreach(var item in Model.WorkgroupCounts)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td></td>
                <td>
                    @item.Vendor
                </td>
                <td>
                    @item.InitiatedOrders
                </td>
                <td>
                    @item.PendingOrders
                </td>
                <td>
                    @item.CompletedOrders
                </td>
                <td>
                    @item.CanceledOrders
                </td>
                <td>
                    @item.DeniedOrders
                </td>
                <td></td>
            </tr>
            odd = !odd;
        }
    </tbody>
</table>




