@model Purchasing.Web.Controllers.WorkgroupAccountsModel
@{
    ViewBag.Title = "Workgroup " + Model.Workgroup.Name;
}

@section AdditionalScripts{
    <style>        
        #add-line-item {}
        
        td {text-align: left;}
        
    </style>

    <script type="text/javascript">

        $(function () {

            $("#add-line-item").button();

        });

    </script>
}
@using (Html.BeginForm())
{
    <section class="padded">
        <header><span style="float: left;">Accounts</span> <a href='@Url.Action("AddAccount", new {id = Model.Workgroup.Id})' id="add-line-item" style="float: right;" >Add Accounts</a><div style="clear: both;"></div></header>

        <div class="section-contents">

            @*<div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>*@

            <table class='dt-table'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Manager</th>
                        <th>Active</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @{ var odd = false; }
                    @foreach (var item in Model.Workgroup.Accounts)
                    {
                        <tr class="@(odd ? "odd" : "even")">
                            <td>
                                <a href='@Url.Action("Details", new {id = item.Account.Id})'>
                                    <img src='@Url.Image("details.png")' />
                                </a>
                                <a href='@Url.Action("Edit", new {id = item.Id})'>
                                    <img src='@Url.Image("edit.png")' />
                                </a>
                            </td>
                            <td>@item.Account.Name</td>
                            <td>@item.Account.AccountManager</td>
                            <td>@item.Account.IsActive</td>
                            <td>
                                <a href='@Url.Action("Delete", new {id = item.Id})'>
                                    <img src='@Url.Image("delete.png")' />
                                </a>
                            </td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>

        </div>

    </section>
}
