@model Purchasing.Core.Domain.WorkgroupAccount

@{
    ViewBag.Title = "Details";
}



@section SubNav
{
	<ul class="navigation">
			<li>@Html.ActionLink("Edit", "AccountEdit", new { id = Model.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Accounts", new {id=Model.Id})</li>
			</ul>
}

<section class="display-form ui-corner-all">
    <header class="ui-corner-top ui-widget-header">Account: @Model.Account.Name (@Model.Account.Id)</header>
	<ul>
        <li>
            <div class="display-label">Managers:</div>
            <div class="display-details">@Model.Account.AccountManager</div>
        </li>
        <li>
            <div class="display-label">Approvers:</div>
            <div class="display-details">@Model.Approver</div>
        </li>
        <li>
            <div class="display-label">P.I.:</div>
            <div class="display-details">@Model.Account.PrincipalInvestigator</div>
        </li>
	</ul>

	<footer class="ui-corner-bottom"></footer>

</section>


