@model Purchasing.Web.Controllers.WorkgroupManageModel

@{
	ViewBag.Title = Model.Workgroup.Name;
}

@helper ContainerFor(string name, int count, string action = null, string roleFilter = null){

        <a href="@Url.Action(action ?? name, "WorkgroupManagement", new { id = Model.Workgroup.Id, roleFilter = roleFilter })">


    <div class="workgroup-info gradientbackground ui-corner-all box-shadow @(count == 0 ? "box-red-innershadow" : string.Empty)">
        
        <ul>
        
            <li class="prop-name ui-corner-all border-all blue-gradientbackground">@name</li>

            <li class="prop-value">@count
            </li>

        </ul>
        
    </div>
    </a>
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Accounts", "Accounts", "WorkgroupManagement", new { id = Model.Workgroup.Id }, null)</li>
		<li>@Html.ActionLink("Vendors", "Vendors", "WorkgroupManagement", new { id = Model.Workgroup.Id }, null)</li>
		<li>@Html.ActionLink("Addresses", "Addresses", "WorkgroupManagement", new { id = Model.Workgroup.Id }, null)</li>
		<li>@Html.ActionLink("People", "People", "WorkgroupManagement", new { id = Model.Workgroup.Id }, null)</li>
	</ul>
}

@section AdditionalScripts{
    
    <style>
        div.workgroup-info
        {
            border: 1px solid #CCCCCC;
            padding: 1em;
            width: 200px;
            float: left;
            margin-right: 20px;
            cursor: pointer;            
        }
        div.workgroup-info :hover
        {
            -webkit-transition: all .5s ease-out;
            -moz-transition: all .5s ease-out;
            -o-transition: all .5s ease-out;

            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -o-transform: scale(1.05);
        }
        div.workgroup-info ul
        {
            padding: 0;
        }
        div.workgroup-info ul li
        {
            text-align: center;
        }
        .prop-name
        {
            padding: 1em;
            color: White;
            font-weight: bold;
        }
        .prop-value
        {
            font-size: large;
            font-weight: bold;
            padding-top: 1em;
        }
    </style>
}


<section class="display-form ui-corner-all box-shadow">

    <header class="ui-corner-top">Workgroup Associations</header>

    <div class="section-contents">

        @ContainerFor("Organizations", Model.OrganizationCount)
        @ContainerFor("Accounts", Model.AccountCount)
        @ContainerFor("Vendors", Model.VendorCount)
        @ContainerFor("Addresses", Model.AddressCount)

        <div style="clear: both;"></div>

    </div>

</section>

<section class="display-form ui-corner-all box-shadow">

    <header>Workgroup People</header>

    <div class="section-contents">
    
        @ContainerFor("Users", Model.UserCount, "People", "RQ")
        @ContainerFor("Approvers", Model.ApproverCount, "People", "AR")
        @ContainerFor("Account Managers", Model.AccountManagerCount, "People", "AM")
        @ContainerFor("Purchasers", Model.PurchaserCount, "People", "PR")

        <div style="clear: both;"></div>

    </div>

</section>