@model Purchasing.Web.Controllers.WorkgroupManageModel

@{
	ViewBag.Title = "Manage Workgroup";
}

@helper RowFor(string name, int count, string action = null){
    <tr @Html.Raw(count == 0 ? "class='none-warning'" : string.Empty)>
        <td>@name:</td>
        <td>@count</td>
        <td>Edit</td>
    </tr>
}

@section SubNav
{
	<ul class="navigation">
		<li>Accounts</li>
        <li>Vendors</li>
        <li>Addresses</li>
        <li>People</li>
	</ul>
}

@section AdditionalScripts{
    
    <style>
        .workgroup-info {
            border-collapse: collapse;
            border-spacing: 0;
            width: auto;
            border: none;
        }
        
        .none-warning
        {
            color: #900;
        }
    </style>
}

<h3>Manage workgroup @Model.Workgroup.Name</h3>
<br/><br/>
<h4>Workgroup Associations</h4>
<table class="workgroup-info">
    <tbody>
        @RowFor("Organizations", Model.OrganizationCount)
        @RowFor("Accounts", Model.AccountCount)
        @RowFor("Vendors", Model.VendorCount)
        @RowFor("Addresses", Model.AddressCount)
    </tbody>
</table>

<br/><br/>
<h4>Workgroup People</h4>
<table class="workgroup-info">
    <tbody>  
        @RowFor("Users", Model.UserCount, "People")
        @RowFor("Approvers", Model.ApproverCount, "People")
        @RowFor("Account Managers", Model.AccountManagerCount, "People")
        @RowFor("Purchasers", Model.PurchaserCount, "People")
    </tbody>
</table>