@model Purchasing.Web.Controllers.WorkgroupPeopleModel
@{
    ViewBag.Title = "Workgroup " + Model.Workgroup.Name;
}

@section AdditionalScripts{
    <style>        
        #add-line-item {}
        
        td {text-align: left;}
        
    </style>

    <script type="text/javascript">

        $(function () {

            $("#add-line-item").button();

        });

    </script>
}
@using (Html.BeginForm())
{
    <section class="padded">
        <header><span style="float: left;">People</span> <a href='@Url.Action("AddPeople", new {id = Model.Workgroup.Id})' id="add-line-item" style="float: right;" >Add People</a><div style="clear: both;"></div></header>

        <div class="section-contents">

            @*<div class="section-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>    
            </div>*@

            <table class='dt-table'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @{ var odd = false; }
                    @foreach (var item in Model.WorkGroupPermissions)
                    {
                        <tr class="@(odd ? "odd" : "even")">
                            <td>
                                <a href='@Url.Action("Details", new {id = item.Id})'>
                                    <img src='@Url.Image("details.png")' />
                                </a>
                                <a href='@Url.Action("Edit", new {id = item.Id})'>
                                    <img src='@Url.Image("edit.png")' />
                                </a>
                            </td>
                            <td>@item.User.FullName</td>
                            <td>@item.User.Email</td>
                            <td>@item.Role.Name</td>
                            <td>
                                <a href='@Url.Action("Delete", new {id = item.Id})'>
                                    <img src='@Url.Image("delete.png")' />
                                </a>
                            </td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>

        </div>

    </section>
}
<script type="text/javascript">
    $(function () {
        $(".dt-table").dataTable({
            "bJQueryUI": true //Use the jquery ui skin
            //"aaSorting": [[ 3, "asc" ]] //Add default sorting
        });
    });
</script>
