@model FaqViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    
    <section>
    
        <header class="ui-corner-top ui-widget-header"></header>

        <div class="section-contents">
        
            <ul>
                <li>
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.Faq.Question)
                        <span>*</span>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Faq.Question)
                        @Html.ValidationMessageFor(model => model.Faq.Question)
                    </div>
                </li>
                <li>
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.Faq.Answer)
                        <span>*</span>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Faq.Answer)
                        @Html.ValidationMessageFor(model => model.Faq.Answer)
                    </div>
                </li>
                <li>
                    <div class="editor-label required">
                        @Html.LabelFor(model => model.Faq.Category)
                        <span>*</span>
                    </div>
                    <div class="editor-field">
                        @this.Select("Faq.Category").Options(Enum.GetNames(typeof(Purchasing.Core.Domain.FaqCategory))).Selected(Model.Faq.Category.ToString())
                        @Html.ValidationMessageFor(model => model.Faq.Category)
                    </div>
                </li>
                <li>
                    <div class="editor-label">&nbsp;</div>
                    <div class="editor-field">
                        <input class="button" type="submit" value="Save" /> | @Html.ActionLink("Cancel", "Index")
                    </div>
                </li>
            </ul>

        </div>

    </section>

}