@using System.Web.Configuration
@using Purchasing.Core.Domain
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>Purchasing - @ViewBag.Title</title>
    
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="">
	<meta name="author" content="">
    
    <link type="text/plain" rel="author" href="@Url.Content("~/humans.txt")" />
    
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    
    @{
        var roles = Purchasing.Mvc.Services.UserSecurityService.UserRoles(User.Identity.Name);
        var aRoles = new List<string>() { Role.Codes.Admin, Role.Codes.DepartmentalAdmin, Role.Codes.Approver };
        // user have something that requires the admin menu?
        var hasAdmin = roles.Any(a => aRoles.Contains(a));
        
    }
    
    @Styles.Render("~/Css/main")

    <style type="text/css">
        #branding
        {
            z-index: 0;
        }
    </style>
    
    @RenderSection("AdditionalStyles", false)
    
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/head")

	@if (false)
 { //Load the jquery docs for intellisense
	<script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>
 }
    
</head>
<body>

	<div class="wrapper">	

    @Html.Action("ServiceMessages", "ServiceMessage")
	
		<header id="branding">
			
			<!-- Application's Name -->
			<span class="header">

                <div class="col1-50">
				@*<h1>Purchasing</h1>*@

                <img src='@Url.Image("PrePurchasing-Logo.png")' alt="UCD PrePurchasing" style="height: 60px;"/>

				</div>
                
                <div class="col2-50">
                <ul id="personalbar">
                    
                    <li id="username"  class="navigation-list">Hello <span id="userid">@User.Identity.Name</span></li>
                    <li id="settings" class="navigation-list">
                        @Html.ActionLink("Profile", "Profile", "User")
                        <ul>
                            <li>@Html.ActionLink("Email Preferences", "EmailPreferences", "User", new { id = User.Identity.Name }, new { })</li>
                            <li>@Html.ActionLink("Column Preferences", "ColumnPreferences", "User", new { id = User.Identity.Name }, new { })</li>
                            <li>@Html.ActionLink("Email Address", "EditEmail", "User", new {}, new { })</li>
                            <li>@Html.ActionLink("Away Status", "AwayStatus", "User")</li>
                        </ul>    
                    </li> 
                    <li id="logout" class="navigation-list">@Html.ActionLink("Logout", "LogOut", "Account")</li>

                </ul>
                </div>
			</span>
		</header>

        <nav id="navigation-bar">
  
            <div class="col1-50">
            <ul id="global-nav">
            
                <li><a href="@Url.Action("Landing", "Home")">Home</a></li>
                <li class="drop-down-menu"><a href="#">Orders</a>
                
                    <ul>
                        @if (roles.Contains(Role.Codes.Requester))
                        {
                            <li>@Html.ActionLink("Place Order", "SelectWorkgroup", "Order")</li>    
                        }

                        <li>@Html.ActionLink("Order History", "Index", "History")</li>
                        
                        @if (roles.Contains(Role.Codes.Requester))
                        {
                            <li>@Html.ActionLink("Saved Requests", "SavedOrderRequests", "Order")</li>
                        }
                        
                        @if (roles.Contains(Role.Codes.AdminWorkgroup))
                        {
                            <li>@Html.ActionLink("Admin Order History", "AdminOrders", "History")</li>    
                        }
                        @if (roles.Contains(Role.Codes.Reviewer))
                        {
                            <li>@Html.ActionLink("AP Order History", "AccountsPayableOrders", "History")</li>
                        }
                    </ul>
                
                </li>
                @if (hasAdmin)
                {
                <li class="drop-down-menu">
                    @*@Html.ActionLink("Administration", "Index", "Admin", new {}, new {@class="navigation-button"})*@

                    <a href=#>Admin</a>

                    <ul>
                        @if (roles.Contains(Role.Codes.Approver))
                        {
                            <li>@Html.ActionLink("Auto Approvals", "Index", "AutoApproval", new { }, new { @class = "navigation-button" })</li>
                        }
                        @if (roles.Contains(Role.Codes.DepartmentalAdmin))
                        {
                            <li>@Html.ActionLink("Workgroup", "Index", "Workgroup", new { }, new { @class = "navigation-button" })</li>
                            <li>@Html.ActionLink("Orgs", "Index", "Organization", new { }, new { @class = "navigation-button" })</li>    
                            @*<li>@Html.ActionLink("Conditional Approvals", "Index", "ConditionalApproval")</li>*@
                            <li>@Html.ActionLink("Reports", "Index", "Report", new {}, new {@class="navigation-button"})</li>
                        }
                        @if (roles.Contains(Role.Codes.Admin))
                        {
                            <li>@Html.ActionLink("Administrators", "Index", "Admin", new { }, new { @class = "navigation-button" })</li>   
                            <li>@Html.ActionLink("Dept Admin Requests", "Index", "DepartmentalAdminRequest", new { }, new { @class = "navigation-button" })</li>
                            <li>@Html.ActionLink("Service Messages", "Index", "ServiceMessage", new {}, new {@class="navigation-button"})</li> 
                            <li>@Html.ActionLink("Update Child Workgroups", "UpdateChildWorkgroups", "Admin", new { }, new { @class = "navigation-button" })</li>
                            <li>@Html.ActionLink("Validate Child Workgroups", "ValidateChildWorkgroups", "Admin", new { }, new { @class = "navigation-button" })</li>
                        }                        
                        
                        
                    </ul>

                </li>    
                }
                
                @if (ViewBag.ShowTour != null && ViewBag.ShowTour)
                {
                    <li class="drop-down-menu">
                        <a id="tour-intro" href="#">Tour</a>
                    </li>
                }
                
                <li class="drop-down-menu">
                    @*<a href="https://ucdavis.uservoice.com/forums/126891-purchasing/category/31579-issues" id="help-link" target="_blank">Help</a>*@
                    @Html.ActionLink("Help", "Index", "Help", new { }, new { @class = "navigation-button" })
                </li>
            </ul>
            <div style="clear: both;"></div>
            </div>
            <div class="col2-50">
                <div style="float:right; margin-top: 3px;">
                   @using (Html.BeginForm("Results", "Search", FormMethod.Get))
                   {
                       <input type="search" name="q" placeholder="Search Your Orders"/>
                       <input type="submit" class="button" value="Search" style="font-size: 1.25em; position: static;"/>
                   }
                </div>
            </div>

        </nav>
        
			
		<div class="main @(ViewBag.SingleColumn == null || (bool)ViewBag.SingleColumn ? "single-column" : string.Empty)">
			
			<header class="main-header @(ViewBag.SingleColumn == null || (bool)ViewBag.SingleColumn ? "single-column-header" : "wide-header")">
				
                <div id="browser-warning" style="display:none;">
                    You are currently using a browser that is not supported.  
                    Please check <a href="http://ucdavis.github.com/Purchasing/system.html">our system requirements page</a> and return to PrePurchasing using one of our recommended browsers.
                </div>

                @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
                { 
				<div id="error-message">
					@TempData["ErrorMessage"]
				</div>
                }
                    				
				@if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
    { 
				<div id="status-message">
					@TempData["Message"]
				</div>
    }
				
				<div class="col1">
					<h2>@ViewBag.Title</h2>
					<h3>@ViewBag.SubTitle</h3>
				</div>
					
				<nav class="col2">
					@*Sub Page Navigation*@
					@RenderSection("SubNav", false)
				</nav>
				
			</header>
			
			<div id="body">
                @RenderBody()
			</div>
				
		</div>
			
		<footer id="footer">
			<div id="footertext">
				<nav class="col1-50">				

                    <span class="navigation-list">@Html.ActionLink("Home", "Landing", "Home")</span>                     
                    @*<span class="navigation-list">Orders</span>
                    <span class="navigation-list">Administration</span>*@
					
                    <span class="navigation-list"><a href="https://ucdavis.uservoice.com/forums/126891-purchasing/category/31579-issues" target="_blank">Help</a></span>

				</nav>
				<div class="col2-50">
					
                    <span class="navigation-list">Version #@ViewBag.Version</span>
					
				</div>

                <ul id="authorinfo">
                    <li>Developed By <a href="@Url.Content("~/humans.txt")" target="_blank">A Team Of Programmers Across UC Davis</a></li>
                    <li>Copyright The Regents of the University of California, Davis campus, 2005-13.</li>
                    <li>All Rights Reserved.</li>
                </ul>
			</div>
		</footer>
	
	</div>
    
    <script type="text/javascript">
    (function (w) {
        var d = w['Configuration'] || (w['Configuration'] = {});
        d.AnalyticsKey = '@WebConfigurationManager.AppSettings["AnalyticsKey"]';
        d.ActiveIssuesCountUrl = "/Help/GetActiveIssuesCount";
        d.DataTablesPageSize = @(ViewBag.DataTablesPageSize ?? 10);
        d.LoadTableTools = @(ViewBag.LoadTableTools == null ? "false" : ViewBag.LoadTableTools.ToString().ToLower());
        d.TableToolsSwf = '@Url.Content("~/Content/DataTables-1.9.0/extras/TableTools/media/swf/copy_cvs_xls.swf")';
        d.LoadFixedHeaders = @(ViewBag.LoadFixedHeaders == null ? "false" : ViewBag.LoadFixedHeaders.ToString().ToLower());
    }(window));
    </script>
    
    @Scripts.Render("~/bundles/common")
    
    @RenderSection("AdditionalScripts", false)
    
    <!--[if IE]>
        <script src="@Url.Script("jquery.placeholder.min.js")"></script>
        <script src="@Url.Script("json2.min.js")"></script>
        <script type="text/javascript">
            $(function() {
                $('input[placeholder], textarea[placeholder]').placeholder();
            })
        </script>
	<![endif]-->

    <script type="text/javascript">
        if (window.Configuration.AnalyticsKey) {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', window.Configuration.AnalyticsKey]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        }
    </script>

    <a href="#" id="carty" class="carty" style="display: none; position: fixed; top: 40%; left: 40%; background: #fff; border-radius: 18px; box-shadow: 0px 0px 13px #333; border: 3px solid maroon; padding: 2em;">
        <img src="@Url.Image("Carty.png")" style="padding: 2em 1em; float: left; width: 100px;" />
        <span style="font-size: 2em; float: right; display: block; width: 200px; padding: 2em 1em;">Looks like you're trying to look at Orders! Can I be of service today?</span>
    </a>
</body>
</html>
