@model IEnumerable<Purchasing.Core.Queries.OrderHistoryBase>
           
@foreach (var item in Model)
{
    var timeUntilDue = item.TimeUntilDue();
    var dueSoonOrOverdue = timeUntilDue <= TimeSpan.FromDays(7);
    <tr class="dash-top">
        <td rowspan="2" class="dash-icons">
            @if (dueSoonOrOverdue )
            {
                if (timeUntilDue < TimeSpan.Zero)
                {
                    <a href="#" class="ui-icon ui-icon-alert" title="@string.Format("This order is overdue by {0} days", timeUntilDue.Duration().Days)"></a>
                }
                else
                {
                    <a href="#" class="ui-icon ui-icon-info" title="@string.Format("This order is due in {0} days", timeUntilDue.Days)"></a>
                }
            }
        </td>
        <td class="dash-ordernum">@Html.ActionLink(item.RequestNumber, "Review", "Order", new { id = item.OrderId }, new { })</td>
        <td class="dash-date">@string.Format("{0:ddd MMM d - hh:mm tt}", item.DateCreated)</td>
        <td class="dash-requester">@item.DisplayVendorOrCreator()</td>
        <td class="dash-level">
            @item.StatusName 
            @if (item.IsDirectlyAssigned)
            {
                <a href="#" class="ui-icon ui-icon-person" title="This order is directly assigned to you."></a>
            }
        </td>
    </tr>
    <tr>
        <td class="dash-summary">Needed @string.Format("{0:MMMM d, yyyy}", item.DateNeeded)</td>
        <td class="dash-summary">Last action @string.Format("{0:MMMM d, yyyy}", item.LastActionDate)</td>
        <td colspan="2" class="dash-summary">@item.Summary</td>
    </tr>
}
